[submodule ".libs/colorbox"]
	path = .libs/colorbox
	url = https://github.com/jackmoore/colorbox.git
[submodule ".libs/minify"]
	path = .libs/minify
	url = https://github.com/matthiasmullie/minify.git
[submodule ".libs/codemirror"]
	path = .libs/codemirror
	url = https://github.com/codemirror/CodeMirror.git
