[submodule ".libs/codemirror"]
	path = .libs/codemirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule ".libs/cool-php-captcha"]
	path = .libs/cool-php-captcha
	url = https://github.com/josecl/cool-php-captcha.git
[submodule ".libs/colorbox"]
	path = .libs/colorbox
	url = https://github.com/jackmoore/colorbox.git
[submodule ".libs/minify"]
	path = .libs/minify
	url = https://github.com/matthiasmullie/minify.git
[submodule "content/types"]
	path = content/types
	url = git@github.com:AdrianMarceau/mmrpg-prototype_types.git
[submodule "content/players"]
	path = content/players
	url = git@github.com:AdrianMarceau/mmrpg-prototype_players.git
[submodule "content/robots"]
	path = content/robots
	url = git@github.com:AdrianMarceau/mmrpg-prototype_robots.git
[submodule "content/abilities"]
	path = content/abilities
	url = git@github.com:AdrianMarceau/mmrpg-prototype_abilities.git
[submodule "content/items"]
	path = content/items
	url = git@github.com:AdrianMarceau/mmrpg-prototype_items.git
[submodule "content/fields"]
	path = content/fields
	url = git@github.com:AdrianMarceau/mmrpg-prototype_fields.git
[submodule "content/battles"]
	path = content/battles
	url = git@github.com:AdrianMarceau/mmrpg-prototype_battles.git
