/_developer/
/_ext/
/_legacy/
/_logs/
/_preview/
/_share/
/_tmp/
/admin/*
/chat/*
/data/config.php
/data/analytics.php
/data/cache/*
/data/saves/*
/images/*
/sounds/*
/admin.php
/ability-generator.php
/debug.php
/kinetic.php
/memory.php
/session.php
/session_editor.php
/session2.php
*.bak.php