/_developer/
/_ext/kinetic.js
/_legacy/
/_logs/
/_preview/
/_share/
/_tmp/
/_mail/
/admin/_phpinfo.php
/chat/*
/data/config.php
/data/analytics.php
/data/cache/*
/data/saves/*
/images/.git
/sounds/.git
/images/.gitignore
/sounds/.gitignore
/ability-generator.php
/debug.php
/kinetic.php
/memory.php
/session.php
/session_editor.php
/session2.php
/mega-man-rpg-prototype.txt
/data_functions.php
/blank.php
*.bak.php
.project
.htaccess-current