/_developer/
/_ext/
/_legacy/
/_logs/
/_preview/
/_share/
/_tmp/
/admin/*
/chat/*
/data/config.php
/data/analytics.php
/data/cache/*
/data/saves/*
/images/gallery/artwork/
/images/gallery/external/
/images/gallery/legacy/
/images/gallery/misc/
/images/gallery/previews/
/images/gallery/screenshots/*
/images/gallery/starforce/
/images/gallery/updates/
/images/robots/_*
/images/robots_shadows/_*
/images/abilities/_*
/images/fields/_*
/images/objects/_*
/images/shops/_*
/images/types/*
/images/database/
/images/misc/
/images/previews/
/sounds/misc/
/admin.php
/ability-generator.php
/debug.php
/kinetic.php
/memory.php
/session.php
/session_editor.php
/session2.php
*.bak.php