# Block Bad Bads from flooding website
BrowserMatchNoCase SemrushBot bad_bot
BrowserMatchNoCase MJ12Bot bad_bot
BrowserMatchNoCase DotBot bad_bot
Order Deny,Allow
Deny from env=bad_bot

# Define the cache manifest settings
<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType text/cache-manifest "access plus 0 seconds"
ExpiresByType image/gif "access plus 1 months"
ExpiresByType image/jpg "access plus 1 months"
ExpiresByType image/jpeg "access plus 1 months"
ExpiresByType image/png "access plus 1 months"
ExpiresByType audio/mpeg "access plus 1 months"
ExpiresByType audio/mp3 "access plus 1 months"
ExpiresByType audio/ogg "access plus 1 months"
ExpiresByType application/ogg "access plus 1 months"
ExpiresByType text/javascript "access plus 1 months"
ExpiresByType text/css "access plus 1 months"
</IfModule>

# Increase memory limit
#php_value memory_limit 128M

# Turn on GZIPPING if enabled
<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>


# Turn on URL rewriting and set the base
RewriteEngine on


####################################
# -- LEGACY PAGE/ASSET REWRITES -- #
####################################

# Redirect the non-existant pages to better places
RewriteRule ^home/?$ / [R,L]
RewriteRule ^updates/?$ /community/news/ [R,L]
RewriteRule ^www\.website\.com$ / [R,L]
RewriteRule ^admin.php$ /admin/ [R,L]

# Redirect the non-existant or renamed images to better places
RewriteRule ^images/robots/_disco/(.*)?$ /images/robots/disco_legacy/$1 [R,L]
RewriteRule ^images/robots/([a-z]+)man/(.*)?$ /images/robots/$1-man/$2 [R,L]
RewriteRule ^images/fields/elec-field/(.*)?$ /images/fields/electrical-tower/$1 [R,L]
RewriteRule ^images/fields/ice-field/(.*)?$ /images/fields/arctic-jungle/$1 [R,L]
RewriteRule ^images/fields/guts-field/(.*)?$ /images/fields/mountain-mines/$1 [R,L]
RewriteRule ^images/abilities/item-screw-small/(.*)?$ /images/items/small-screw/$1 [R,L]
RewriteRule ^images/abilities/item-screw-large/(.*)?$ /images/items/large-screw/$1 [R,L]
RewriteRule ^images/abilities/item-core-([a-z]+)/(.*)?$ /images/items/$1-core/$2 [R,L]
#RewriteRule ^images/abilities/item-([-_a-z0-9]+)/(.*)?$ /images/items/$1/$2 [R,L]
RewriteRule ^(images|database)/items/core-([a-z]+)/(.*)?$ /$1/items/$2-core/$3 [R,L]
RewriteRule ^(images|database)/items/screw-([a-z]+)/(.*)?$ /$1/items/$2-screw/$3 [R,L]
RewriteRule ^images/abilities/attachment-defeat/(.*)?$ /images/objects/defeat-explosion/$1 [R,L]

####################################
# -- COMPOSITE IMAGE REWRITES -- #
####################################

# Redirect requests for composite images to the script responsible

RewriteRule ^images/(abilities|fields|items|skills|players|robots)/all/([^/]+)/(.*)$ /scripts/get-images.php?kind=composite&type=$1&args=$2&file=$3 [L,QSA]
RewriteRule ^images/(abilities|fields|items|skills|players|robots)/all/(.*)$ /scripts/get-images.php?kind=composite&type=$1&file=$2 [L,QSA]

#####################################
# -- LEGACY SPRITE PATH REWRITES -- #
#####################################

# Redirect the old sprite URLs from /images/ to their new /content/ locations

RewriteRule ^images/(players|robots)/custom_([-_a-z0-9]+)/(.*)?$ /content/$1/_custom/$2/sprites/$3 [L]
RewriteRule ^images/(players|robots)_shadows/custom_([-_a-z0-9]+)/(.*)?$ /content/$1/_custom/$2/shadows/$3 [L]

RewriteRule ^images/(abilities|fields|items|skills|players|robots)/(ability|field|item|player|robot)(_[-_a-z0-9]+)?/(.*)?$ /content/$1/.$2/sprites$3/$4 [L]
RewriteRule ^images/(abilities|fields|items|skills|players|robots)_shadows/(ability|field|item|player|robot)(_[-_a-z0-9]+)?/(.*)?$ /content/$1/.$2/shadows$3/$4 [L]

RewriteRule ^images/(abilities|items|skills)/([-a-z0-9]+)-([0-9]+)/(.*)?$ /content/$1/$2/sprites_$3/$4 [L]
RewriteRule ^images/(abilities|items|skills)_shadows/([-a-z0-9]+)-([0-9]+)/(.*)?$ /content/$1/$2/shadows_$3/$4 [L]

RewriteRule ^images/(abilities|fields|items|skills|players|robots)/([-a-z0-9]+)(_[-_a-z0-9]+)?/(.*)?$ /content/$1/$2/sprites$3/$4 [L]
RewriteRule ^images/(abilities|fields|items|skills|players|robots)_shadows/([-a-z0-9]+)(_[-_a-z0-9]+)?/(.*)?$ /content/$1/$2/shadows$3/$4 [L]

RewriteRule ^images/(abilities|fields|items|skills|players|robots)/(_effects)/([-_a-z0-9]+)?/(.*)?$ /content/$1/$2/$3/$4 [L]

####################################
# -- LEGACY IMAGE PATH REWRITES -- #
####################################

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule  ^images/(_raw|database|gallery|misc|theme|types)/(.*)$  https://cdn.mmrpg-world.net/prototype/.legacy/images/$1/$2  [L,QSA]

###################################
# -- SCRIPT/STYLE/XML REWRITES -- #
###################################

# Redirect the XML requests to their dynamic counterparts
RewriteRule ^mmrpg-info\.xml$ mmrpg-info.php [L]
RewriteRule ^mmrpg-ranking\.xml$ mmrpg-ranking.php [L]
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^styles/style\.css$ styles/style.php?files=fonts.css,style.css,types.css [L]
RewriteRule ^styles/robots\.css$ styles/style.php?file=robots.css [L]


################################
# -- BACK-END PAGE REWRITES -- #
################################

# Define the rewrite rules and conditions for admin pages
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) - [S=3]
RewriteCond %{QUERY_STRING} ^(.*)?$
RewriteRule ^admin/([-_a-z0-9]+)/([-_a-z0-9]+)(?:/([^/]+))?/?$ admin/index.php?action=$1&subaction=$2&$3&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)?$
RewriteRule ^admin/([-_a-z0-9]+)(?:/([^/]+))?/?$ admin/index.php?action=$1&$2&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)?$
RewriteRule ^admin(?:/([^/]+))?/?$ admin/index.php?$1&%1 [L]


#################################
# -- FRONT-END PAGE REWRITES -- #
#################################

# Define the rewrite conditions for all other normal pages

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) - [S=27]

# Define the rewrite rules for all other normal pages

RewriteRule ^community/search/?(.*)?$ index.php?page=community&cat=search&$1 [L,QSA]
RewriteRule ^community/personal/([0-9]+)/([-_a-z0-9]+)/([0-9]+)/\??(.*)$ index.php?page=community&cat=personal&id=$1&token=$2&num=$3&$4 [L]
RewriteRule ^community/personal/([0-9]+)/([-_a-z0-9]+)/([-_a-z0-9]+)/\??(.*)$ index.php?page=community&cat=personal&id=$1&token=$2&target=$3&$4 [L]
RewriteRule ^community/([-_a-z0-9]+)/([0-9]+)/([-_a-z0-9]+)/([-_a-z0-9]+)/\??(.*)$ index.php?page=community&cat=$1&id=$2&token=$3&num=$4&$5 [L]
RewriteRule ^community/([-_a-z0-9]+)/([0-9]+)/([-_a-z0-9]+)/?\??(.*)$ index.php?page=community&cat=$1&id=$2&token=$3&$4 [L]
RewriteRule ^community/([-_a-z0-9]+)/([0-9]+)/?\??(.*)$ index.php?page=community&cat=$1&num=$2&$3 [L]
RewriteRule ^community/([-_a-z0-9]+)/([-_a-z0-9]+)/?\??(.*)$ index.php?page=community&cat=$1&sub=$2&$3 [L]
RewriteRule ^community/([-_a-z0-9]+)/\??(.*)$ index.php?page=community&cat=$1&$2 [L]

RewriteRule ^file/game/([-_a-z0-9]+)/?\??(.*)$ index.php?page=file&sub=game&token=$1 [L]

RewriteRule ^leaderboard/by-([-_a-z0-9]+)/([0-9]+)/\??(.*)$ index.php?page=leaderboard&metric=$1&num=$2&$3 [L]
RewriteRule ^leaderboard/by-([-_a-z0-9]+)/([-_a-z0-9]+)/([-_a-z0-9]+)/(dr-light|dr-wily|dr-cossack)/?\??(.*)$ index.php?page=leaderboard&metric=$1&sub=$2&token=$3&player=$4 [L]
RewriteRule ^leaderboard/by-([-_a-z0-9]+)/([-_a-z0-9]+)/([-_a-z0-9]+)/?\??(.*)$ index.php?page=leaderboard&metric=$1&sub=$2&token=$3 [L]
RewriteRule ^leaderboard/by-([-_a-z0-9]+)/([-_a-z0-9]+)/\??(.*)$ index.php?page=leaderboard&metric=$1&sub=$2&$3 [L]
RewriteRule ^leaderboard/by-([-_a-z0-9]+)/\??(.*)$ index.php?page=leaderboard&metric=$1&$2 [L]

RewriteRule ^leaderboard/([0-9]+)/\??(.*)$ index.php?page=leaderboard&num=$1&$2 [L]
RewriteRule ^leaderboard/([-_a-z0-9]+)/([-_a-z0-9]+)/(dr-light|dr-wily|dr-cossack)/?\??(.*)$ index.php?page=leaderboard&sub=$1&token=$2&player=$3 [L]
RewriteRule ^leaderboard/([-_a-z0-9]+)/([-_a-z0-9]+)/?\??(.*)$ index.php?page=leaderboard&sub=$1&token=$2 [L]
RewriteRule ^leaderboard/([-_a-z0-9]+)/\??(.*)$ index.php?page=leaderboard&sub=$1&$2 [L]

RewriteRule ^database/(players|abilities|robots|mechas|bosses|types|fields|items)/([-_a-z0-9]+)/?\??(.*)$ index.php?page=database&sub=$1&token=$2&$3 [L]
RewriteRule ^database/(players|abilities|robots|mechas|bosses|types|fields|items)/\??(.*)$ index.php?page=database&sub=$1&$2&$3 [L]

RewriteRule ^(home|about|gallery|community|leaderboard|database|prototype|credits|contact|file|dev|test)/([0-9]+)/?\??(.*)$ index.php?page=$1&num=$2&$3 [L]
RewriteRule ^(home|about|gallery|community|leaderboard|database|prototype|credits|contact|file|dev|test)/([-_a-z0-9]+)/([0-9]+)/?\??(.*)$ index.php?page=$1&sub=$2&num=$3&$4 [L]
RewriteRule ^(home|about|gallery|community|leaderboard|database|prototype|credits|contact|file|dev|test)/([-_a-z0-9]+)/?(.*)?$ index.php?page=$1&sub=$2&$3 [L]
RewriteRule ^(home|about|gallery|community|leaderboard|database|prototype|credits|contact|file|error|dev|test)/?\??(.*)$ index.php?page=$1&$2 [L]

RewriteRule ^([-_a-z0-9]+)/([-_a-z0-9]+)/?(.*)?$ index.php?page=$1&sub=$2&$3 [L]
RewriteRule ^([-_a-z0-9]+)/?\??(.*)$ index.php?page=$1&$2 [L]

#################################
# -- ALL OTHER PAGE REWRITES -- #
#################################

# Define the rewrite conditions
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteRule %{REQUEST_URI} ^/(images|styles|scripts|prototype|frames|_ext)/
RewriteRule (.*) - [S=4]

RewriteRule ^([-_a-z0-9]+)/([-_a-z0-9]+)/\??(.*)$ index.php?page=$1&sub=$2&$3 [L]
RewriteRule ^([-_a-z0-9]+)/([-_a-z0-9]+)/\?$ index.php?page=$1&sub=$2 [L]
RewriteRule ^([-_a-z0-9]+)/\??(.*)$ index.php?page=$1&$2 [L]
RewriteRule ^([-_a-z0-9]+)/\?$ index.php?page=$1 [L]