
/* -- RESPONSIVE STYLESHEET (ADMIN) -- */

body:before {
    content: "Z";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: magenta;
    border: 1px solid magenta;
    border-top: 0 none transparent;
    border-left: 0 none transparent;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    font-family: "Courier New";
    font-size: 26px;
    line-height: 50px;
    z-index: 9999;
}

/* -- Landscape Mode -- */
@media (min-width: 1024px){

    body:before {
        content: "01";
    }

    /*
    #mmrpg {
        max-width: calc(100vw - 50px);
    }
    .adminform .results .list col,
    .adminform .results .list th,
    .adminform .results .list td {
        width: auto;
    }
    .adminform .results .list col.id,
    .adminform .results .list th.id,
    .adminform .results .list td.id {
        width: 60px;
    }
    .adminform .results .list col.actions,
    .adminform .results .list th.actions,
    .adminform .results .list td.actions {
        width: 130px;
    }
    .adminform .results .list col.id + col,
    .adminform .results .list th.id + th,
    .adminform .results .list td.id + td {
        width: 30%;
    }
    */

}

/* -- Portrait Mode -- */
@media (max-width: 1060px){

    body:before {
        content: "02";
    }

}

/* -- Slightly Less than Portrait Mode -- */
@media (max-width: 1000px){

    body:before {
        content: "03";
    }


}

/* -- Less than Portrait Mode -- */
@media (max-width: 970px){

    body:before {
        content: "04";
    }

    #admin {
        margin: 10px;
    }

    .adminform .field,
    .adminform .field.foursize {
        width: 50%;
    }
    .adminform .field.halfsize {
        width: 100%;
    }
    .adminform .options .field {

    }
    .adminform .field.has4cols input[type="text"],
    .adminform .field.has4cols input[type="number"],
    .adminform .field.has4cols input[type="password"],
    .adminform .field.has4cols > select,
    .adminform .field.has4cols > textarea,
    .adminform .field.has4cols .subfield {
      width: 49%;
      margin-right: 5px;
      margin-bottom: 5px;
      width: calc(50% - 5px);
    }
    .adminform .field.has4cols .subfield .type_span.swatch {
        float: left;
        clear: none;
        position: static;
        margin: 3px 3px 0 0;
    }
    .adminform .field.has4cols .subfield .type_span.swatch + select {
        width: calc(100% - 20px);
    }

    .adminform .field.has5cols input[type="text"],
    .adminform .field.has5cols input[type="number"],
    .adminform .field.has5cols input[type="password"],
    .adminform .field.has5cols > select,
    .adminform .field.has5cols > textarea,
    .adminform .field.has5cols .subfield {
      width: 32%;
      margin-right: 5px;
      margin-bottom: 5px;
      width: calc(33% - 5px);
    }
    .adminform .field.has5cols .subfield .type_span.swatch {
        float: left;
        clear: none;
        position: static;
        margin: 3px 3px 0 0;
    }
    .adminform .field.has5cols .subfield .type_span.swatch + select {
        width: calc(100% - 20px);
    }


    .adminform .formfoot .metadata {
        float: none;
        clear: both;
        text-align: left;
        margin: 0 auto;
        padding: 20px 0 0;
    }
    .adminform .formfoot .metadata .date,
    .adminform .formfoot .metadata .time {
        margin: 0 20px 0 0;
    }

    .adminform.edit_robots .results table .game,
    .adminform.edit_robots .results table .group {
        display: none;
    }

    .adminform.edit_challenges .results table .flag.hidden,
    .adminform.edit_challenges .results table .date.created {
        display: none;
    }

    .adminform.edit-community .posts-list .post-meta,
    .adminform.edit-community .posts-list .post-actions {
        display: block;
    }
    .adminform.edit-community .posts-list .post-meta {
        float: left;
    }
    .adminform.edit-community .posts-list .post-actions {
        float: right;
    }


}

/* -- Even Less than Portrait Mode -- */
@media (max-width: 760px){

    body:before {
        content: "05";
    }

    .adminform.edit-community .posts-list .post-meta,
    .adminform.edit-community .posts-list .post-actions {
        display: block;
        clear: both;
        margin: 0 auto 5px;
    }
    .adminform.edit-community .posts-list .post-actions {
        margin-bottom: 10px;
    }

}

/* -- Even More Less than Portrait Mode -- */
@media (max-width: 700px){

    body:before {
        content: "06";
    }

    .adminform .options .field {
        width: 50%;
    }

    .adminform .results .list .date,
    .adminform .results .list .time,
    .adminform .results .list .body,
    .adminform .results .list .flag {
        display: none;
    }

    .adminform .field.has2cols.widecols input[type="text"],
    .adminform .field.has2cols.widecols input[type="number"],
    .adminform .field.has2cols.widecols input[type="password"],
    .adminform .field.has2cols.widecols > select,
    .adminform .field.has2cols.widecols > textarea,
    .adminform .field.has2cols.widecols .subfield {
        width: 99%;
        margin-right: 5px;
        margin-bottom: 5px;
        width: calc(100% - 5px);
    }

    .adminform .editor .editor-tabs .tab {
        margin: 0 6px 6px 0;
        position: static;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        min-width: calc((100% / 3) - 6px);
    }
    .adminform .editor .editor-tabs .tab + span {
        display: none;
    }
    .adminform .editor .editor-tabs .tab,
    .adminform .editor .editor-tabs .tab.active,
    .adminform .editor .editor-tabs .tab:hover {
        border: 1px solid #CACACA;
    }

    /*
    .adminform.edit_robots .results table .game,
    .adminform.edit_robots .results table .group {
        display: none;
    }
    .adminform.edit_robots .results table .class {
        display: none;
    }

    .adminform.edit_robots .results table .type {
        display: none;
    }
    */

    .adminhome {
        padding-left: 0;
    }

    .adminhome li {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .adminhome li > div.link,
    .adminhome li > div.desc,
    .adminhome li > div.buttons {
        display: block;
        float: none;
        clear: both;
        width: auto;
        margin: 0 auto 6px 0;
        text-align: left;
    }
    .adminhome li > div.link:last-child,
    .adminhome li > div.desc:last-child,
    .adminhome li > div.buttons:last-child {
        margin-bottom: 0;
    }
    .adminhome li > div.desc:before {
        display: none;
    }
    .adminhome li > div.buttons .button {
        margin: 0 3px 3px 0;
    }

    .adminhome li.top .env-notice {
        padding-right: 6px;
    }
    .adminhome li.top .env-notice br {
        display: none;
    }

    .adminform.edit-community .posts-list .post-actions {
        float: left;
        text-align: left;
    }
    .adminform.edit-community .posts-list .post-actions a {
        margin-left: 0;
        margin-right: 10px;
    }


}

/* -- Almost iPhone Portrait Mode -- */
@media (max-width: 560px){

    body:before {
        content: "07";
    }

    #admin {
        margin: 5px;
    }

    #mmrpg #admin > .content {
        padding: 10px;
    }


    .userinfo {
        position: static;
        text-align: left;
        margin-bottom: 6px;
    }
    .userinfo .welcome {
        margin-left: 0;
    }
    .userinfo .pipe {
        display: none;
    }
    .userinfo .link {
        float: right;
    }

    .adminform .search .form {
        padding-left: 3px;
        padding-right: 3px;
    }
    .adminform .search .field .subfield .label {

    }
    .adminform .results .list .id {

    }
    .adminform .results .list .actions {

    }

    .adminform .results .list .email,
    .adminform .results .list .created,
    .adminform .results .list .modified {
        display: none;
    }

    .adminform .field,
    .adminform .field.foursize,
    .adminform .field.halfsize,
    .adminform .search .field .subfield {
        width: 100%;
        margin-right: auto;
        padding-right: 0;
    }
    .adminform .search .field.flags {
        margin: 5px auto 15px;
    }
    .adminform .search .field.flags .subfield {
        margin-bottom: 6px;
    }
    .adminform .field.has4cols input[type="text"],
    .adminform .field.has4cols input[type="number"],
    .adminform .field.has4cols input[type="password"],
    .adminform .field.has4cols > select,
    .adminform .field.has4cols > textarea,
    .adminform .field.has4cols .subfield {
        width: 99%;
        margin-right: 5px;
        margin-bottom: 5px;
        width: calc(100% - 5px);
    }
    .adminform .field textarea {
        min-height: 350px;
    }

    .adminform .field textarea[name="ability_description"],
    .adminform .field textarea[name="item_description"] {
        min-height: 100px;
    }
    .adminform .field textarea[name="item_description_use"],
    .adminform .field textarea[name="item_description_hold"],
    .adminform .field textarea[name="item_description_shop"] {
        min-height: 60px;
    }

    .adminform .login .field,
    .adminform .options .field {
        width: 100%;
    }

    .adminform .formfoot .buttons,
    .adminform .formfoot .metadata {
        float: none;
        clear: both;
        margin: 0 auto;
        text-align: left;
    }
    .adminform .formfoot .metadata {
        padding-right: 0;
    }
    .adminform .formfoot .metadata .date {
        display: block;
        margin: 0 auto 5px;
    }

    .adminform.edit_robots .results table .type {
        display: none;
    }
    .adminform.edit_challenges .results table .creator {
        display: none;
    }



    .adminform .results table.list {
        display: block;
    }
    .adminform .results table.list,
    .adminform .results table.list thead,
    .adminform .results table.list tfoot,
    .adminform .results table.list tbody,
    .adminform .results table.list thead tr,
    .adminform .results table.list tfoot tr,
    .adminform .results table.list tbody tr,
    .adminform .results table.list thead tr th,
    .adminform .results table.list tfoot tr td,
    .adminform .results table.list tbody tr td {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .adminform .results table.list thead tr:after,
    .adminform .results table.list tfoot tr:after,
    .adminform .results table.list tbody tr:after {
        content: "";
        display: block;
        clear: both;
    }
    .adminform .results table.list thead tr th,
    .adminform .results table.list tfoot tr td,
    .adminform .results table.list tbody tr td {
        padding: 6px;
    }
    .adminform .results table.list tfoot {
        display: none;
    }
    .adminform .results table.list thead {
        background-color: #262626;
    }
    .adminform .results table.list thead tr th {
        width: auto;
        float: left;
        text-align: left;
        margin-right: 10px;
    }
    .adminform .results table.list thead tr:last-child th {
        display: none;
    }
    .adminform .results table.list thead th.head.count {
        display: block;
        float: none;
        clear: both;
        margin: 0 auto;
        padding: 3px 6px;
    }
    .adminform .results table.list thead tr th.actions {
        float: right;
        text-align: right;
        margin: 0 0 0 auto;
    }


    .adminform .results table.list tbody tr:nth-child(odd) {
        background-color: #F0F0F0;
    }
    .adminform .results table.list tbody tr:nth-child(even) {
        background-color: #FAFAFA;
    }
    .adminform .results table.list tbody tr:nth-child(odd) td,
    .adminform .results table.list tbody tr:nth-child(even) td {
        background-color: transparent;
    }

    .adminform .results table.list tbody tr {
        position: relative;
    }
    .adminform .results table.list tbody tr td,
    .adminform .results table.list tbody tr td > .wrap {
        text-align: left;
    }
    .adminform .results table.list tbody tr td > .wrap {
        width: auto;
    }
    .adminform .results table.list tbody tr td,
    .adminform .results table.list tbody tr td.flag,
    .adminform .results table.list tbody tr td.date,
    .adminform .results table.list tbody tr td.count {
        display: block;
        width: auto;
        float: left;
        margin-right: 6px;
    }
    .adminform .results table.list tbody tr td.name,
    .adminform .results table.list tbody tr td.actions {
        display: block;
        float: none;
        clear: both;
        margin: 0 auto;
    }
    .adminform .results table.list tbody tr td.name {
        text-align: left;
        padding-left: 52px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.03);
    }
    .adminform .results table.list tbody tr td.actions {
        text-align: right;
        border-top: 1px dashed rgba(0, 0, 0, 0.03);
    }
    .adminform .results table.list tbody tr td.id {
        position: absolute;
        top: 6px;
        left: 6px;
        width: auto;
        min-width: 40px;
        padding: 0;
        border-radius: 3px;
        background-color: transparent;
        text-align: center;
    }
    .adminform .results table.list tbody tr:nth-child(odd) td.id {
        background-color: #FAFAFA;
    }
    .adminform .results table.list tbody tr:nth-child(even) td.id {
        background-color: #F0F0F0;
    }


}

/* -- So Close to iPhone Portrait Mode -- */
@media (max-width: 460px){

    body:before {
        content: "08";
    }

}

/* -- Even Closer to iPhone Portrait Mode -- */
@media (max-width: 400px){

    body:before {
        content: "09";
    }

}


/* -- iPhone Portrait Mode -- */
@media (max-width: 350px){

    body:before {
        content: "10";
    }

}
