
/* -- BASE STYLESHEET (ADMIN) -- */

#mmrpg {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    background-color: #E0E0E0;
    color: #262626;
}

#admin {
    margin: 20px;
}

a,
a:hover {
    color: #008aab;
}

#mmrpg #admin > .header {
    display: block;
    padding: 9px;
    margin: 0 auto 10px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #262626;
    color: #FFFFFF;
    position: relative;
}
#mmrpg #admin > .header:before,
#mmrpg #admin > .header:after {
    content: " ";
    display: block;
    position: absolute;
    height: 3px;
    right: 0;
    left: 0;
    background-image: url(../images/fields/intro-field/battle-field_background_base.gif);
    background-repeat: repeat-x;
}
#mmrpg #admin > .header:before {
    top: 0;
    background-position: center -103px;
}
#mmrpg #admin > .header:after {
    bottom: 0;
    background-position: center -106px;
}

#mmrpg #admin > .content {
    display: block;
    background-color: #F6F6F6;
    text-align: left;
    padding: 20px;
    position: relative;
}


.userinfo {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    line-height: 15px;
}
.userinfo .welcome {
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0 5px;
}
.userinfo .pipe {
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0 5px;
    color: #DEDEDE;
}
.userinfo .link {
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0 5px;
}

.breadcrumb {
    display: block;
    margin: 0 auto 20px;
    font-weight: bold;
    clear: both;
}
.breadcrumb a {
    display: inline-block;
    white-space: nowrap;
}

.messages {
    display: block;
    margin: 0 auto 20px;
}
.messages .list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.messages .list .message {
    display: block;
    margin: 0 auto 3px 0;
    padding: 3px;
    font-size: 12px;
    line-height: 16px;
    min-height: 16px;
    color: #262626;
    border: 1px solid #DEDEDE;
    background-color: #FAFAFA;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.messages .list .message.success:before,
.messages .list .message.warning:before,
.messages .list .message.alert:before,
.messages .list .message.error:before {
    content: "*";
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 0 3px;
    margin-right: 6px;
    border: 0 none transparent;
    background-color: #262626;
    color: #FFFFFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.messages .list .message.success {
    color: #005d07;
}
.messages .list .message.warning {
    color: #c35a00;
}
.messages .list .message.alert {
    color: #005da0;
}
.messages .list .message.error {
    color: #8c2525;
}
.messages .list .message.success:before {
    content: "\2713";
    background-color: #005d07;
}
.messages .list .message.warning:before {
    content: "\26a0";
    background-color: #c35a00;
}
.messages .list .message.alert:before {
    content: "\0021";
    background-color: #005da0;
}
.messages .list .message.error:before {
    content: "\00d7";
    background-color: #8c2525;
}

.adminhome {
    margin: 0 auto 20px;
    padding: 0;
    font-weight: bold;
}
.adminhome li {
    padding: 6px;
    margin: 0 auto 0 0;
    border-bottom: 1px solid #E0E0E0;
    overflow: hidden;
}
.adminhome li.top {
    border-top: 1px solid #E0E0E0;
    background-color: #262626;
    color: #FFFFFF;
}
.adminhome li a {

}
.adminhome li em {
    font-weight: normal;
    float: right;
    width: 60%;
}

.adminform {
    display: block;
    margin: 0 auto;
}

.adminform hr {
    display: block;
    height: 1px;
    padding-top: 20px;
    margin: 0 auto 20px;
    clear: both;
    border: 0 none transparent;
    background-color: transparent;
    border-bottom: 1px solid #E0E0E0;
}

.adminform pre {
    max-width: 100%;
    overflow: auto;
    margin: 0 auto 10px;
    padding: 9px;
    border: 1px solid #EFEFEF;
    -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.02);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.02);
    background-color: #FAFAFA;
}
.adminform pre:last-child {
    margin-bottom: 0;
}

.adminform .header {
    display: block;
    margin: 0 auto 10px 0;
    padding: 6px;
    text-align: left;
    clear: both;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    background-color: #262626;
    color: #FFFFFF;
}
.adminform .editor .header.type_span {
    border-style: solid;
    border-width: 2px;
    width: auto;
    display: block;
    margin: 0 auto 20px 0;
    padding: 6px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.adminform .editor .header .title {
    display: inline-block;
}
.adminform .editor .header a.view,
.adminform .editor .header a.preview {
    display: inline-block;
    float: right;
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 90%;
}
.adminform .editor .header a.view .fas,
.adminform .editor .header a.preview .fas {
    margin-left: 2px;
}

.adminform .editor .editor-tabs,
.adminform .editor .editor-panels,
.adminform .editor .editor-tabs .tab,
.adminform .editor .editor-panels .panel {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.adminform .editor .editor-tabs {
    padding-bottom: 0;
    margin-bottom: 20px;
}
.adminform .editor .editor-tabs .tab {
    float: left;
    vertical-align: bottom;
    text-align: center;
    padding: 6px 18px;
    margin: 4px 0 0;
    border: 1px solid #CACACA;
    position: relative;
    bottom: 1px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    text-decoration: none;
    background-color: #ededed;
    transition: background-color 0.3s, border-bottom 0.3s;
    cursor: pointer;
}
.adminform .editor .editor-tabs .tab.active,
.adminform .editor .editor-tabs .tab:hover {
    text-decoration: underline;
    background-color: transparent;
    border-bottom: 0 none transparent;
    bottom: 0;
}

.adminform .editor .editor-tabs .tab + span {
    display: block;
    float: left;
    vertical-align: bottom;
    border-bottom: 1px solid #CACACA;
    margin: 4px 0 0;
    padding: 6px 0;
    width: 6px;
}
.adminform .editor .editor-tabs .tab + span:before {
    content: " ";
    display: inline-block;
}
.adminform .editor .editor-tabs .tab + span:last-child {
    width: 24px;
    border-right: 24px solid transparent;
}

.adminform .editor .editor-panels {

}
.adminform .editor .editor-panels .panel {
    display: block;
}
.adminform .editor .editor-panels .panel:not(.active) {
    display: none;
}


.adminform .editor .editor-tabs:after,
.adminform .editor .editor-panels:after,
.adminform .editor .editor-panels .panel:after {
    content: "";
    display: block;
    clear: both;
}


.adminform table {
    margin: 0 auto 10px;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    font-size: 13px;
    line-height: 19px;
}
.adminform table th,
.adminform table td {
    padding: 6px 3px;
    text-align: left;
}
tr:nth-child(even) td {
    background-color: #FAFAFA;
}
tr:nth-child(odd) td {
    background-color: #F0F0F0;
}

.adminform table thead th {
    background-color: #262626;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
}
.adminform table tfoot td {
    text-align: right;
    background-color: #262626;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
}
.adminform table tbody td {
    color: #262626;
    font-size: 11px;
    line-height: 15px;

}
.adminform table tbody td .wrap {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adminform table.backups {
    width: 100%;
}
.adminform table.backups thead th {
    background-color: #e0e0e0;
    color: #090909;
}

.adminform .field,
.adminform .field .subfield {
    overflow: visible;
}
.adminform .field:after,
.adminform .field .subfield:after {
    content: "";
    display: block;
    clear: both;
}

.adminform .field .subfield {
    position: relative;
}
.adminform .search .field .subfield {
    box-sizing: border-box;
    float: left;
    width: 33%;
    width: calc(100% / 3);
    padding: 0 10px 0 0;
    margin: 0 auto 0 0;
}
.adminform .search .field .subfield .sublabel {
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    font-size: 9px;
    line-height: 1;
    margin-right: 4px;
    text-align: center;
    padding: 2px 4px;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #9e9e9e;
}
.adminform .search .field.flags .subfield .sublabel {
    width: calc(33% - 6px);
}
.adminform .search .field .subfield .label .fas,
.adminform .search .field .subfield .sublabel .fas {
    margin-left: 4px;
}
.adminform .field .subfield select + span {
    bottom: 3px;
}

.adminform .editor .type_span,
.adminform .editor .form .type_span,
.adminform table tbody td .type_span {
    display: inline-block;
    box-sizing: border-box;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    padding: 0 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    -webkit-box-decoration-break: clone;
    background-repeat: no-repeat !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.adminform .editor .form .type_span.swatch,
.adminform table tbody td .type_span.swatch {
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 1.25em;
    height: 1.25em;
    border-width: 1px;
}
.adminform .editor .form .label .floatright {
    float: right;
}
.adminform .editor .form .subfield .floatright {
    position: absolute;
    top: -18px;
    right: 0;
}
.adminform .editor .form .has2cols .label .floatright,
.adminform .editor .form .has4cols .label .floatright {
    margin-right: 5px;
}
.adminform .editor .form .has2cols .subfield .floatright,
.adminform .editor .form .has4cols .subfield .floatright {
    right: 5px;
}

.adminform.edit_robots table .class,
.adminform.edit_robots table .game,
.adminform.edit_robots table .group,
.adminform.edit_robots table .type,
.adminform.edit_robots table .flag,
.adminform.edit_robots table .flag {
    text-align: center;
}

.adminform.edit_robots table td.class .type_span,
.adminform.edit_robots table td.type .type_span {
    min-width: 75px;
}
.adminform.edit_robots table td.game .type_span,
.adminform.edit_robots table td.group .type_span {
    min-width: 50px;
}
.adminform.edit_robots table td.class .type_span .fas {
    margin-right: 4px;
}

.adminform .editor ul.files {
    border: 0 none transparent;
    list-style-type: none;
    margin: 0 auto 10px;
    padding: 0;
}
.adminform .editor ul.files > li {
    display: block;
    margin: 0 auto 5px;
    border: 1px solid #d6d6d6;
    background-color: #ededed;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;
}
.adminform .editor ul.files > li.pending {
    border-color: #ffc107;
    background-color: #fff0c2;
}
.adminform .editor ul.files > li.pending,
.adminform .editor ul.files > li.pending * {
    cursor: wait;
    pointer-events: none;
}
.adminform .editor ul.files > li.success {
    border-color: #1be43c;
    background-color: #a8efb4;
}
.adminform .editor ul.files > li.error {
    border-color: #fd9a9a;
    background-color: #fdbfbf;
}
.adminform .editor ul.files > li .filebar {
    display: block;
    padding: 3px 6px;
    margin: 0 auto;
    position: relative;
}
.adminform .editor ul.files > li .filebar .link {
    color: #008aab;
    text-decoration: underline;
    cursor: pointer;
}
.adminform .editor ul.files > li .filebar .link:hover {
    color: #049dc3;
}
.adminform .editor ul.files > li .filebar .link.disabled {
    color: #b0b0b0;
    text-decoration: none;
    cursor: default;
}
.adminform .editor ul.files > li .filebar .info {
    display: inline-block;
    margin: 0 auto 0 5px;
    font-weight: normal;
    color: #969696;
    font-size: 11px;
    line-height: 11px;
    position: relative;
    bottom: 1px;
}
.adminform .editor ul.files > li .filebar .info:before {
    content: "(";
}
.adminform .editor ul.files > li .filebar .info:after {
    content: ")";
}

.adminform .editor ul.files > li .filebar .info.status {
    font-weight: bold;
}
.adminform .editor ul.files > li .filebar .info.status.good {
    color: #47a047;
}
.adminform .editor ul.files > li .filebar .info.status.bad {
    color: #ef4848;
}

.adminform .editor ul.files > li .filebar .action {
    float: right;
    margin: 0 0 0 5px;
    font-size: 90%;
    cursor: pointer;
}
.adminform .editor ul.files > li .filebar .action:hover {
    text-decoration: underline;
}
.adminform .editor ul.files > li .filebar .action:before {
    content: "[";
}
.adminform .editor ul.files > li .filebar .action:after {
    content: "]";
}
.adminform .editor ul.files > li .filebar .action.disabled {
    text-decoration: line-through;
    cursor: default;
    opacity: 0.3;
}
.adminform .editor ul.files > li .filebar .action.upload {
    color: #47a047;
}
.adminform .editor ul.files > li .filebar .action.delete {
    color: #ef4848;
}

.adminform .editor ul.files > li .filebar .action.upload {
    max-width: 42px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.adminform .editor ul.files > li .filebar .action.upload .text {
    position: relative;
    z-index: 1;
}
.adminform .editor ul.files > li .filebar .action.upload .input {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: -10px;
    opacity: 0;
    cursor: inherit;
}

/* Chrome/Safari and web-kit-based browsers
   (if it doesn't work, try maybe also on the parent/wrapper)
*/
::-webkit-file-upload-button {
    cursor:pointer;
}

/* IE11 (if it doesn't work, try maybe also on the parent/wrapper) */
input[type=file] {
    cursor:pointer;
}

.adminform .editor ul.files > li .filebar.unused {
    opacity: 0.3;
    transition: opacity 0.3s;
}
.adminform .editor ul.files > li .filebar.unused:hover {
    opacity: 1.0;
}
.adminform .editor ul.files > li .filebar.unused .link {
    color: #969696;
}
.adminform .editor ul.files > li .filebar.unused .link.view {
    text-decoration: line-through;
}

.adminform .editor ul.files > li .filebar.unused .info.status.bad,
.adminform .editor ul.files > li .filebar.optional .info.status.bad {
    color: #b0b0b0;
}

/*
.adminform .editor ul.files > li .filebar {
    border-bottom: 1px solid #d6d6d6;
}
.adminform .editor ul.files > li .preview {
    display: block;
    min-height: 40px;
    padding: 0;
    margin: 0 auto;
    background-color: #4d4d4d;
    background-image: url(../images/sprite-grid.gif);
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0 0;
    overflow: hidden;
}
.adminform .editor ul.files > li .preview img {
    display: block;
    margin: 0 auto 0 0;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.6);
}
*/

.adminform .editor form[name="ajax-form"],
.adminform .editor iframe[name="ajax-frame"] {
    display: none;
    box-sizing: border-box;
    margin: 20px auto 0;
    padding: 0;
    width: 100%;
}
.adminform .editor form[name="ajax-form"] {
    padding: 20px;
    border: 1px dotted rgba(255, 0, 255, 1.0);
    background-color: rgba(255, 0, 255, 0.3);
    min-height: 40px;
}
.adminform .editor iframe[name="ajax-frame"] {
    border: 1px dotted rgba(0, 255, 255, 1.0);
    background-color: rgba(0, 255, 255, 0.3);
    height: 300px;
    overflow: auto;
}


.adminform .field,
.adminform .options,
.adminform .formfoot {
    display: block;
    margin: 0 auto 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.adminform .field {
    width: 33%;
    padding-right: 10px;
    padding-bottom: 5px;
    float: left;
    font-size: 12px;
    line-height: 16px;
    min-height: 50px;
    position: relative;
}
.adminform .field.halfsize {
    width: 50%;
}
.adminform .field.foursize {
    width: 25%;
}
.adminform .field.fullsize {
    width: 100%;
    float: none;
    clear: both;
}
.adminform .options {
    padding-top: 10px;
    clear: both;
}
.adminform .formfoot {
    padding-top: 10px;
    clear: both;
}
.adminform .formfoot .buttons {
    display: block;
    margin: 0 10px 0 0;
    float: left;
}
.adminform .formfoot .metadata {
    display: block;
    margin: 0 0 0 10px;
    padding-right: 20px;
    float: right;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    color: #696969;
}
.adminform .formfoot .metadata .date {
    display: inline-block;
    margin: 0 0 0 20px;
}

.adminform .field .label {
    display: block;
    margin: 0 auto 4px 0;
    font-weight: bold;
}
.adminform .field .label em {
    display: inline-block;
    margin: 0 auto 0 10px;
    font-weight: normal;
    color: #969696;
    font-size: 11px;
    line-height: 11px;
    position: relative;
    bottom: 1px;
}
.adminform .field .label em:not(.nowrap):before {
    content: "(";
}
.adminform .field .label em:not(.nowrap):after {
    content: ")";
}
.adminform .field input[type="text"],
.adminform .field input[type="number"],
.adminform .field input[type="password"],
.adminform .field select,
.adminform .field textarea {
    display: block;
    margin: 0 auto 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #DEDEDE;
    background-color: #FFFFFF;
    padding: 3px 6px;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.adminform .field.has2cols input[type="text"],
.adminform .field.has2cols input[type="number"],
.adminform .field.has2cols input[type="password"],
.adminform .field.has2cols > select,
.adminform .field.has2cols > textarea,
.adminform .field.has2cols .subfield {
    width: 45%;
    margin-right: 5px;
    width: calc(50% - 5px);
}
.adminform .field.has2cols .subfield {
    float: left;
}
.adminform .field.has2cols .subfield select,
.adminform .field.has2cols .subfield textarea {
    width: 100%;
    margin-right: 0;
}

.adminform .field.has4cols input[type="text"],
.adminform .field.has4cols input[type="number"],
.adminform .field.has4cols input[type="password"],
.adminform .field.has4cols > select,
.adminform .field.has4cols > textarea,
.adminform .field.has4cols .subfield {
    width: 24%;
    margin-right: 5px;
    width: calc(25% - 5px);
}
.adminform .field.has4cols .subfield {
    float: left;
}
.adminform .field.has4cols .subfield select,
.adminform .field.has4cols .subfield textarea {
    width: 100%;
    margin-right: 0;
}

.adminform .field.multirow {

}
.adminform .field.multirow > .label {
    margin-bottom: 0;
}
.adminform .field.multirow .subfield  {
    margin-top: 4px;
}

.adminform .field select + span {
    position: absolute;
    display: block;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    color: #262626;
    bottom: 9px;
    right: 12px;
    width: 19px;
    height: 19px;
    padding: 0px;
    pointer-events: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.adminform .field select + span:before {
    content: "\25bc";
    font-size: 13px;
    line-height: 16px;
    display: block;
    text-align: center;
    padding: 2px;
}

.adminform .field input[disabled],
.adminform .field button[disabled],
.adminform .field select[disabled],
.adminform .field textarea[disabled] {
    border: 1px solid #DEDEDE;
    background-color: #EFEFEF;
    pointer-events: none;
    cursor: not-allowed;
}
.adminform .field input[readonly],
.adminform .field button[readonly],
.adminform .field select[readonly],
.adminform .field textarea[readonly] {
    border: 1px solid #DEDEDE;
    background-color: #EFEFEF;
    cursor: not-allowed;
}

.adminform .buttons input[type="button"],
.adminform .buttons input[type="submit"],
.adminform .buttons input[type="reset"] {
    display: inline-block;
    margin: 0 5px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    min-width: 100px;
    background-color: #2B2B2B;
    border: 1px solid #262626;
    color: #FFFFFF;
    padding: 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


.adminform .options .field {
    width: 25%;
    padding-right: 10px;
    padding-bottom: 5px;
    float: left;
    overflow: hidden;
    font-size: 11px;
    line-height: 13px;
    min-height: 0;
}
.adminform .options .field .label {
    display: inline-block;
    margin: 0 6px 0 0;
    cursor: pointer;
}
.adminform .options .field .label strong {
    display: inline-block;
    margin: 0 6px 0 0;
}
.adminform .options .field label input {
    display: inline-block;
    margin: 0 6px 0 0;
    position: relative;
    top: 2px;

}
.adminform .options .field .subtext {
    display: block;
    margin: 2px 0 0;

}
.adminform .options .field.checkwrap {

}
.adminform .options .field.checkwrap.lfloat {
    float: left;
}
.adminform .options .field.checkwrap.rfloat {
    width: auto;
    text-align: right;
    float: right;
    padding-left: 10px;
}
.adminform .options .field.checkwrap.rfloat .subtext {
    padding-right: 10px;
}
.adminform .options .field.checkwrap.rfloat.fullsize {
    width: 100%;
    clear: both;
}

.adminform .search,
.adminform .results,
.adminform .login,
.adminform .editor {
    display: block;
    margin: 0 auto 20px;
    overflow: hidden;
}

.adminform .search {
    margin-bottom: 10px;
    padding: 0;
}
.adminform .search .header {
    margin-bottom: 5px;
}
.adminform .search .form {
    padding: 0 6px 6px;
}
.adminform .search .field {
    padding-bottom: 0;
    margin-bottom: 0;
}
.adminform .search .buttons {
    padding-top: 5px;
    clear: both;
}
.adminform .search .buttons .button {
    background-color: #4c8aab;
    border-color: #427794;
}
.adminform .search .buttons .button:hover {
    background-color: #5d97b6;
}

.adminform .login {
    margin-bottom: 10px;
    padding: 0;
}
.adminform .login .header {
    margin-bottom: 5px;
}
.adminform .login .form {
    padding: 0 6px 6px;
}
.adminform .login .field {
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 0;
    clear: left;
}
.adminform .login .buttons {
    padding-top: 5px;
    clear: both;
}
.adminform .login .buttons .button {

}
.adminform .login .buttons .button:hover {

}

.adminform .results {

}
.adminform .results .list {

}

.adminform .results .list .id {
    padding-left: 6px;
}
.adminform .results .list .actions {
    text-align: right;
    padding-right: 6px;
}
.adminform .results .list .created,
.adminform .results .list .modified,
.adminform .results .list .role {
    text-align: center;
}


.adminform .results .list .actions .link {
    display: inline-block;
    margin-left: 6px;
    text-decoration: none;
    background-color: #FAFAFA;
    cursor: pointer;
}
.adminform .results .list .actions .link.edit {
    color: #11ab00;
}
.adminform .results .list .actions .link.delete,
.adminform .results .list .actions .link.cancel {
    color: #ab0000;
}
.adminform .results .list .actions .link:before {
    content: "[";
    padding-right: 2px;
    color: #cccccc;
}
.adminform .results .list .actions .link:after {
    content: "]";
    padding-left: 2px;
    color: #cccccc;
}
.adminform .results .list .actions .link:hover span {
    text-decoration: underline;
}
.adminform .results .list .actions .link.disabled {
    cursor: default;
}
.adminform .results .list .actions .link.disabled > span {
    text-decoration: line-through;
}


.adminform .editor {
    display: block;
    margin: 0 auto 20px;
}

.adminform .editor .buttons .save {
    background-color: #005d07;
    border-color: #003d05;
}
.adminform .editor .buttons .save:hover {
    background-color: #007a0a;
}
.adminform .editor .buttons .delete,
.adminform .editor .buttons .cancel {
    background-color: #8c2525;
    border-color: #751f1f;
}
.adminform .editor .buttons .delete:hover,
.adminform .editor .buttons .cancel:hover {
    background-color: #a52c2c;
}

.adminform .editor .field input[name="user_omega"] {
    font-family: "Courier New";
}


.adminform .editor .field .subfield.levelup {

}
.adminform .editor .field .subfield.levelup input[type="number"] {
    width: 75px;
    float: left;
}
.adminform .editor .field .subfield.levelup select {
    width: calc(100% - 80px);
    float: left;
}