
/* -- RESPONSIVE STYLESHEET (ADMIN) -- */

body:before {
    content: "Z";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: magenta;
    border: 1px solid magenta;
    border-top: 0 none transparent;
    border-left: 0 none transparent;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    font-family: "Courier New";
    font-size: 26px;
    line-height: 50px;
    z-index: 9999;
}

/* -- Landscape Mode -- */
@media (min-width: 1024px){

    body:before {
        content: "01";
    }

}

/* -- Portrait Mode -- */
@media (max-width: 1060px){

    body:before {
        content: "02";
    }

}

/* -- Slightly Less than Portrait Mode -- */
@media (max-width: 1000px){

    body:before {
        content: "03";
    }


}

/* -- Less than Portrait Mode -- */
@media (max-width: 970px){

    body:before {
        content: "04";
    }

    #admin {
        margin: 10px;
    }

    .adminform .field,
    .adminform .field.foursize {
        width: 50%;
    }
    .adminform .field.halfsize {
        width: 100%;
    }
    .adminform .options .field {

    }
    .adminform .field.has4cols input[type="text"],
    .adminform .field.has4cols input[type="number"],
    .adminform .field.has4cols input[type="password"],
    .adminform .field.has4cols > select,
    .adminform .field.has4cols > textarea,
    .adminform .field.has4cols .subfield {
      width: 49%;
      margin-right: 5px;
      margin-bottom: 5px;
      width: calc(50% - 5px);
    }
    .adminform .field.has4cols .subfield .type_span.swatch {
        float: left;
        clear: none;
        position: static;
        margin: 3px 3px 0 0;
    }
    .adminform .field.has4cols .subfield .type_span.swatch + select {
        width: calc(100% - 20px);
    }


    .adminform .formfoot .metadata {
        float: none;
        clear: both;
        text-align: left;
        margin: 0 auto;
        padding: 20px 0 0;
    }
    .adminform .formfoot .metadata .date {
        margin: 0 20px 0 0;
    }

    .adminform.edit_robots .results table .game,
    .adminform.edit_robots .results table .group {
        display: none;
    }

    .adminform.edit_challenges .results table .flag.hidden,
    .adminform.edit_challenges .results table .date.created {
        display: none;
    }


}

/* -- Even Less than Portrait Mode -- */
@media (max-width: 760px){

    body:before {
        content: "05";
    }


}

/* -- Even More Less than Portrait Mode -- */
@media (max-width: 700px){

    body:before {
        content: "06";
    }

    .adminform .options .field {
        width: 50%;
    }

    .adminform .results .list .date,
    .adminform .results .list .flag {
        display: none;
    }

    .adminform .field.has2cols.widecols input[type="text"],
    .adminform .field.has2cols.widecols input[type="number"],
    .adminform .field.has2cols.widecols input[type="password"],
    .adminform .field.has2cols.widecols > select,
    .adminform .field.has2cols.widecols > textarea,
    .adminform .field.has2cols.widecols .subfield {
        width: 99%;
        margin-right: 5px;
        margin-bottom: 5px;
        width: calc(100% - 5px);
    }

    .adminform .editor .editor-tabs .tab {
        margin: 0 6px 6px 0;
        position: static;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        min-width: calc((100% / 3) - 6px);
    }
    .adminform .editor .editor-tabs .tab + span {
        display: none;
    }
    .adminform .editor .editor-tabs .tab,
    .adminform .editor .editor-tabs .tab.active,
    .adminform .editor .editor-tabs .tab:hover {
        border: 1px solid #CACACA;
    }

    /*
    .adminform.edit_robots .results table .game,
    .adminform.edit_robots .results table .group {
        display: none;
    }
    .adminform.edit_robots .results table .class {
        display: none;
    }

    .adminform.edit_robots .results table .type {
        display: none;
    }
    */


}

/* -- Almost iPhone Portrait Mode -- */
@media (max-width: 560px){

    body:before {
        content: "07";
    }

    #admin {
        margin: 5px;
    }

    #mmrpg #admin > .content {
        padding: 10px;
    }


    .userinfo {
        position: static;
        text-align: left;
        margin-bottom: 6px;
    }
    .userinfo .welcome {
        margin-left: 0;
    }
    .userinfo .pipe {
        display: none;
    }
    .userinfo .link {
        float: right;
    }

    .adminhome {
        padding-left: 0;
    }
    .adminhome li a {
        display: block;
        margin: 0 auto 4px 0;
    }
    .adminhome li em {
        display: block;
        float: none;
        width: auto;
    }

    .adminform .search .form {
        padding-left: 3px;
        padding-right: 3px;
    }
    .adminform .search .field .subfield .label {
        font-size: 11px;
    }
    .adminform .results .list .id {

    }
    .adminform .results .list .actions {

    }

    .adminform .results .list .email,
    .adminform .results .list .created,
    .adminform .results .list .modified {
        display: none;
    }

    .adminform .field,
    .adminform .field.foursize,
    .adminform .field.halfsize {
        width: 100%;
    }
    .adminform .field.has4cols input[type="text"],
    .adminform .field.has4cols input[type="number"],
    .adminform .field.has4cols input[type="password"],
    .adminform .field.has4cols > select,
    .adminform .field.has4cols > textarea,
    .adminform .field.has4cols .subfield {
        width: 99%;
        margin-right: 5px;
        margin-bottom: 5px;
        width: calc(100% - 5px);
    }
    .adminform .field textarea {
        min-height: 350px;
    }

    .adminform .login .field,
    .adminform .options .field {
        width: 100%;
    }

    .adminform .formfoot .buttons,
    .adminform .formfoot .metadata {
        float: none;
        clear: both;
        margin: 0 auto;
        text-align: left;
    }
    .adminform .formfoot .metadata {
        padding-right: 0;
    }
    .adminform .formfoot .metadata .date {
        display: block;
        margin: 0 auto 5px;
    }

    .adminform.edit_robots .results table .type {
        display: none;
    }
    .adminform.edit_challenges .results table .creator {
        display: none;
    }

}

/* -- So Close to iPhone Portrait Mode -- */
@media (max-width: 460px){

    body:before {
        content: "08";
    }

}

/* -- Even Closer to iPhone Portrait Mode -- */
@media (max-width: 400px){

    body:before {
        content: "09";
    }

}


/* -- iPhone Portrait Mode -- */
@media (max-width: 350px){

    body:before {
        content: "10";
    }

}
