
/* -- RESPONSIVE STYLESHEET (INDEX) -- */

body:before {
    content: "Z";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: magenta;
    border: 1px solid magenta;
    border-top: 0 none transparent;
    border-left: 0 none transparent;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    font-family: "Courier New";
    font-size: 26px;
    line-height: 50px;
    z-index: 9999;
}

/* -- Landscape Mode -- */
@media (min-width: 1024px){

    body:before {
        content: "01";
    }

    #window {
        width: auto;
        max-width: auto;
    }
    #window .page .leaderboard .subbody .player_stats {
        width: 468px;
    }
    #window .page .event .option_this-team-select .chrome label {
        margin-left: 560px !important;
    }
    #window .page_home .gallery .wrapper {
        max-height: 160px;
    }
    #window .page .gallery .dateblock,
    #window .page .gallery .screenshot {
        width: 120px;
        height: 70px;
        margin: 0 4px 4px 0;
    }
    #window .page .gallery .screenshot img {
        width: 120px;
    }
    #window .page .subbody .float_link .sprite,
    #window .page .subbody .float.link .sprite {
        width: 29px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    #window .page .subbody .float_link .sprite_size_40x40 span,
    #window .page .subbody .float_link .sprite_size_40x40 img,
    #window .page .subbody .float.link .sprite_size_40x40 span,
    #window .page .subbody .float.link .sprite_size_40x40 img,
    #window .page .subbody .float.link .sprite.size40 span,
    #window .page .subbody .float.link .sprite.size40 img {
        margin-top: -4px;
        margin-left: -6px;
    }
    #window .page .body .subbody .float_link_group,
    #window .page .body .subbody .float.link.group {
        margin: 0 8px 8px 0 !important;
        padding: 2px 2px 4px 4px;
    }
    #window .page .subbody .float_link .sprite_size_80x80 span,
    #window .page .subbody .float_link .sprite_size_80x80 img,
    #window .page .subbody .float.link .sprite_size_80x80 span,
    #window .page .subbody .float.link .sprite_size_80x80 img,
    #window .page .subbody .float.link .sprite.size80 span,
    #window .page .subbody .float.link .sprite.size80 img {
        margin-top: -24px;
        margin-left: -26px;
    }

    #window .page .type_block {
        width: 86px;
    }
    #window .page .body .community .thread_subbody_compact {

    }
    #window .page .body .community .thread_name .thread_namewrapper {
        width: 700px;
    }
    #window .page_community .form .field_thread_body input.text,
    #window .page_community .form .field_thread_body select.select2,
    #window .page_community .form .field_thread_body .textarea,
    #window .page_community .form .field_post_body .textarea,
    #window .page_file .form .field_post_body .textarea {
        width: 862px;
    }
    #game_frames iframe,
    #game_frames iframe {

    }
    #window .page .event .robot_container .robot_name,
    #window .page .event .ability_container .ability_name {
        width: 48.30%;
    }
    #window .page #robots .event .robot_name,
    #window .page #abilities .event .ability_name {
        width: auto;
    }
    #window .banner .event {
        left: auto;
        right: 123px;
        overflow: visible;
    }
    #window {
        width: 1024px;
    }
    #window .banner,
    #window .menu {
        width: 1004px;
    }
    #window .header,
    #window .option {
        width: 1004px;
    }
    #window .option_scroll {
        width: 34px;
    }
    #window .option_1x1,
    #window .option_1x2,
    #window .option_1x3,
    #window .option_1x4 {
        height: 73px;
        line-height: 73px;
    }
    #window .option_1x1 {
        width: 245px;
    }
    #window .option_1x2 {
        width: 497px;
    }
    #window .option_1x3 {
        width: 741px;
    }
    #window .option_1x1 div,
    #window .option_1x2 div,
    #window .option_1x3 div,
    #window .option_1x4 div {
        height: 48px;
        line-height: 48px;
    }
    #window .option_1x1 div label,
    #window .option_1x2 div label,
    #window .option_1x3 div label,
    #window .option_1x4 div label {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    #window .page .body .subwrap .image_1x5 {
        width: 18.40%;
    }

}

/* -- Portrait Mode -- */
@media (max-width: 1060px){

    body:before {
        content: "02";
    }

    #window {
        width: auto;
        max-width: auto;
    }
    #window .banner,
    #window .menu {
        width: auto;
        max-width: auto;
    }

    #mmrpg #window .menu {
        width: auto;
    }
    #window .header {
        width: auto;
    }
    #window .page .type_block {
        width: 86px;
    }

}

/* -- Slightly Less than Portrait Mode -- */
@media (max-width: 1000px){

    body:before {
        content: "03";
    }


}

/* -- Less than Portrait Mode -- */
@media (max-width: 970px){

    body:before {
        content: "04";
    }

    #window .banner,
    #mmrpg #window .menu,
    #window .page {
        margin-left: 0;
        margin-right: 0;
        width: auto;
    }
    #window .banner {
        margin-top: 0;
    }

    #window .page .database_container .subbody .body table td.music a > span:first-child {
        padding: 0 3px;
    }
    #window .page .database_container .subbody .body table td.music a > span:last-child {
        display: none;
    }


    #window .page .body .leaderboard .subbody .bodytext.community_stats {

    }
    #window .page .leaderboard .subbody .bodytext .player_stats {
        width: calc(50% - 4px);
    }


}

/* -- Even Less than Portrait Mode -- */
@media (max-width: 820px){

    body:before {
        content: "05";
    }

    #window .menu .item {
        letter-spacing: 2px;
    }
    #window .menu .link,
    #window .menu .modified {
        padding: 2px 3px;
    }

    #window .page .body .community .thread_subbody_compact,
    #window .page .body .community .thread_subbody_compact:nth-child(odd),
    #window .page .body .community .thread_subbody_compact:nth-child(even) {
        float: none;
        width: 100%;
        margin-right: 0;
        clear: both;
    }

    #mmrpg #window .menu {
        position: relative;
    }
    #mmrpg #window .menu:before {
        content: " ";
        border-bottom: 1px solid rgba(255,255,255,0.03);
        border-top: 1px solid #1A1A1A;
        height: 0;
        width: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 29px;
    }
    #window .menu .main {
        padding: 0 15%;
    }
    #window .menu .item {
        position: relative;
    }
    #window .menu .item:hover .subs,
    #window .menu .subs.active {
        border-top: 0 none transparent;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }

    #window .banner .userinfo .info .file_view {
        opacity: 0.3;
        text-decoration: line-through;
        pointer-events: none;
    }
    #window .banner .userinfo .info .file_view + .pipe {
        opacity: 0.3;
    }

    #window .menu .item[data-token="prototype"] .link span,
    #window .menu .item[data-token="prototype"] .link:hover span {
        opacity: 0.3;
        text-decoration: line-through;
    }

    #mmrpg #game_frames.ps-container > .ps-scrollbar-x-rail {
        opacity: 0.6;
    }

    #mmrpg #game_container:after {
        content: " ";
        display: block;
        position: absolute;
        top: 35px;
        right: 0;
        bottom: 0;
        width: 20px;
        background-color: transparent;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e1e1e+0,1e1e1e+100&0+0,1+51,1+100 */
        background: -moz-linear-gradient(left,  rgba(30,30,30,0) 0%, rgba(30,30,30,1) 51%, rgba(30,30,30,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(30,30,30,0) 0%,rgba(30,30,30,1) 51%,rgba(30,30,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(30,30,30,0) 0%,rgba(30,30,30,1) 51%,rgba(30,30,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e1e1e', endColorstr='#1e1e1e',GradientType=1 ); /* IE6-9 */
        z-index: 100;
    }

    #mmrpg #game_buttons .link_button.robots,
    #mmrpg #game_buttons .link_button.players,
    #mmrpg #game_buttons .link_button.database,
    #mmrpg #game_buttons .link_button.stars,
    #mmrpg #game_buttons .link_button.items,
    #mmrpg #game_buttons .link_button.missions {
        opacity: 0.3;
        text-decoration: line-through;
        pointer-events: none;
    }

    #window .page .body .bodytext .type {
        white-space: normal;
    }

}

/* -- Even More Less than Portrait Mode -- */
@media (max-width: 700px){

    body:before {
        content: "06";
    }

    #window .page .body .subbody .text a,
    #window .page .body .subbody .text span {
        white-space: normal;
        word-break: break-word;
    }

    #window .page_credits .body .creditblock .text .details .website .link_inline {
        word-break: break-all;
    }

    #mmrpg .tooltip {
        max-width: 99vw;
    }


    #window .page .body .pipe {

    }

    #window .page .database_container .pipe {
        display: block;
        height: 3px;
        visibility: hidden;
    }

    #window .header {
        height: auto;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
    }
    #window .header .header_wrapper {
        display: block;
        overflow: hidden;
        font-size: inherit;
        line-height: inherit;
        padding: 9px 13px;
        margin: 0;
    }
    #window .header .count_header {
        float: none;
        display: block;
        clear: both;
        font-size: 12px;
        line-height: 12px;
        margin-top: 6px;
        padding-bottom: 6px;
    }
    #window .header .title .brand {
        display: inline-block;
        text-indent: -9999px;
        line-height: 0;
        white-space: nowrap;
    }
    #window .header .title .brand:after {
        content: "MMRPG";
        text-indent: 0;
        line-height: initial;
        display: block;
    }

    #window .page .header .title {
        line-height: inherit;
    }
    #window .page .header .count {
        line-height: inherit;
        font-size: 12px;
        padding: 0;
        margin: 0;
    }

    #window .page .body .subbody .text {
        text-align: left;
    }

    #window .page .database_container .subbody .body table.full.basic,
    #window .page .database_container .subbody .body table.full.stats,
    #window .page .database_container .subbody .body table.full.extras,
    #window .page .database_container .subbody .body table.full.types,
    #window .page .database_container .subbody .body table.full.multipliers {
        float: none;
        width: 100%;
    }

    #window .page .database_container table.full.types td[count="4"] a.robot_type {
        max-width: 12%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #window .page .database_container .subbody .body table.full.quotes label
    #window .page .database_container .subbody .body table.full.records label {
        float: none;
        clear: both;
        text-align: left;
        line-height: 25px;
        margin-top: -4px;
    }
    #window .page .database_container .subbody .body table.full.multipliers td {
        text-align: left;
    }
    #window .page .database_container .subbody .body table.full.multipliers label {
        float: none !important;
        width: 100%;
        text-align: left;
        padding-bottom: 4px;
    }
    #window .page .database_container .subbody .body table.full.multipliers .field_multiplier {
        display: inline-block;
        width: 46%;
        clear: left;
        text-align: center;
    }
    #window .page .database_container .subbody .body table.full.quotes .player_quote,
    #window .page .database_container .subbody .body table.full.quotes .robot_quote,
    #window .page .database_container .subbody .body table.full.records .player_record,
    #window .page .database_container .subbody .body table.full.records .robot_record,
    #window .page .database_container .subbody .body table.full.records .ability_record,
    #window .page .database_container .subbody .body table.full.records .item_record {
        float: none;
        text-align: left;
        clear: both;
        white-space: normal;
        display: block;
        line-height: 25px;
        padding: 0 3px;
        border: 0 none transparent;
    }

    #window .page .event .robot_container .robot_name,
    #window .page .event .ability_container .ability_name {
        display: block;
        float: none;
        width: auto;
        clear: both;
    }
    #window .page .event .robot_container .robot_name .label,
    #window .page .event .ability_container .ability_name .label {
        width: 75%;
        width: calc(100% - 42px);
    }
    #window .page .event .ability_container .ability_class_mecha .label,
    #window .page .event .ability_container .ability_class_boss .label {
        width: 98%;
    }

    #window .page .event .image_link_container {
        float: none;
        clear: both;
        margin: 0 -3px;
        padding: 0 0 2px;
        text-align: left;
    }
    #window .page .event .image_link_container .images,
    #window .page .event .image_link_container .directions {
        display: block;
        float: none;
        clear: both;
        margin: 0;
        padding: 0 0 2px;
        text-align: left;
    }
    #window .page .event .image_link_container .pipe {
        display: none;
    }

    #window .page .body .community .link_image img,
    #window .page .body .community .link_image_inline img {
        max-width: 100%;
        max-height: none;
        height: auto;
    }

    /* -- Leaderboard Page Styles -- */

    #window .page .leaderboard .file .inset {
        min-height: 80px;
    }
    #window .page .leaderboard .file .place {
        position: absolute;
        top: 9px;
        left: 12px;
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 26px;
        line-height: 26px;
    }
    #window .page .leaderboard .file .points {
        position: absolute;
        top: 9px;
        right: 12px;
        margin: 0;
        padding: 0;
        text-align: right;
        font-size: 20px;
        line-height: 26px;
    }
    #window .page .leaderboard .file .userinfo {
        display: block;
        float: none;
        position: static;
        width: auto;
        text-align: left;
        white-space: normal;
        margin: 34px 12px 6px;
        padding: 0;
    }
    #window .page .leaderboard .file .records {
        display: block;
        float: none;
        position: static;
        width: auto;
        width: calc(100% - 62px);
        text-align: left;
        white-space: normal;
        margin: 0 62px 6px 12px;
        line-height: 14px;
        padding: 0;
    }
    #window .page .leaderboard .file .records .count {
        white-space: nowrap;
    }
    #window .page .leaderboard .file .avatar {
        float: right;
        left: auto;
        right: 36px;
        bottom: 16px;
    }

    /* -- Credit Page Styles -- */

    #window .page_credits .body .creditblock .text .details .label {
        display: block;
        clear: both;
    }

    /* -- Contact Page Styles -- */

    #window .page_contact .form .field {
        float: none;
        clear: both;
        width: auto;
    }

    /* Show top-scroll button and hide other top-scrolls links */
    #topscroll {
        display: block;
        opacity: 0;
        transition: 0.3s;
    }
    .scrolled #topscroll {
        opacity: 0.9;
    }
    #window .page .body .subbody.threads .link_top,
    #window .page .database_container .subbody .link_top,
    #window .page .body .community .post_subbody .postscroll {
        display: none !important;
    }
    #window .page .body .community .post_subbody .postreply.right {
        right: 12px;
    }
    #window .page .body .community .post_subbody .postreply.left {
        left: 12px;
    }


    #window .page .leaderboard .pagelinks .link.bullet {
        min-width: 5px;
        padding-left: 3px;
        padding-right: 3px;
    }
    #window .page .leaderboard .pagelinks .link.bullet:before {
        content: ".";
    }
    #window .page .leaderboard .pagelinks .link.bullet span {
        display: none;
    }

    #window .page .leaderboard .subbody .bodytext .player_stats {
        float: none;
        clear: both;
        width: auto;
        margin: 0 auto 4px;
    }

    #mmrpg #game_buttons .link_button {
        width: calc((100% / 4) - 10px);
        max-width: none;
        margin-bottom: 4px;
        font-size: 11px;
    }

}

/* -- Almost iPhone Portrait Mode -- */
@media (max-width: 560px){

    body:before {
        content: "07";
    }

    #window .menu .main {
        padding: 0 5%;
    }

    #window .page .iconwrap.preview {
        max-width: 400px;
    }
    #window .page .iconwrap.preview .type_block {
        width: 68px;
    }

    #window .page .type_block {
        width: 28%;
    }

    #window .page .body .subbody .type_chart .wrapper table td {
        display: block;
        width: 90vw;
    }
    #window .page .body .subbody .type_chart .type_percent {
        margin: 0;
    }
    #window .page .type_chart .type_percent .percent {
        display: none;
    }
    #window .page .type_chart .type_percent .details {
        display: inline;
    }
    #window .page .body .subbody .type_chart .type_label {
        margin: 0;
        padding: 2px 4px;
        font-size: 10px;
        line-height: 18px;
    }

    #window .page .type_chart_cores,
    #window .page .type_chart_abilities {
        width: 99%;
    }
    #window .page .type_chart_weaknesses,
    #window .page .type_chart_resistances,
    #window .page .type_chart_affinities,
    #window .page .type_chart_immunities {
        width: 49%;
    }

    #window .page_file .form .field {
        width: 100%;
    }
    #window .page_file .form .field input[type="text"],
    #window .page_file .form .field input[type="password"] {
        max-width: 98% !important;
        box-sizing: border-box;
    }

    #window .page .subbody .float.link .sprite {
        width: 25px;
    }
    #window .page .subbody .float.link .sprite.size40 span,
    #window .page .subbody .float.link .sprite.size40 img {
        margin-left: -8px;
    }
    #window .page .subbody .float.link .sprite.size80 span,
    #window .page .subbody .float.link .sprite.size80 img {
        margin-left: -28px;
    }
    #window .page .subbody[data-class="bosses"] .float.link.group[data-game=MM30] .sprite {
        width: 19px;
    }
    #window .page .subbody[data-class="bosses"] .float.link.group[data-game=MM30] .sprite.size40 span,
    #window .page .subbody[data-class="bosses"] .float.link.group[data-game=MM30] .sprite.size40 img {
        margin-left: -6px;
    }

    #window .page .body .subbody[data-class="abilities"] .float.link.group {
        margin-right: 4px !important;
        margin-bottom: 4px !important;
    }
    #window .subbody[data-class="abilities"] div:not(.link_nav) .float.link .sprite {
        width: 26px;
    }
    #window .subbody[data-class="abilities"] div:not(.link_nav) .float.link .size40 span,
    #window .subbody[data-class="abilities"] div:not(.link_nav) .float.link .size40 img {
        margin-left: -7px;
    }


    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MM00/Weapons/"] .sprite {
        width: 24px;
    }
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MM00/Weapons/"] .sprite.size40 span,
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MM00/Weapons/"] .sprite.size40 img {
        margin-left: -8px;
    }

    #window .page .subbody[data-class="abilities"] .float.link.group[data-game="MM30/Weapons/Stardroid"] .sprite {
        width: 19px;
    }
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game="MM30/Weapons/Stardroid"] .sprite.size40 img {
        margin-left: -12px;
    }

    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MMRPG/Weapons/"] .sprite {
        width: 20px;
    }
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MMRPG/Weapons/"] .sprite.size40 span,
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MMRPG/Weapons/"] .sprite.size40 img {
        margin-left: -10px;
    }

    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MMRPG/Support/"] .sprite {
        width: 20px;
    }
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MMRPG/Support/"] .sprite.size40 span,
    #window .page .subbody[data-class="abilities"] .float.link.group[data-game^="MMRPG/Support/"] .sprite.size40 img {
        margin-left: -10px;
    }

    #window .page .subbody[data-class="items"] .float.link.group[data-game^="MM00/Items/"] .sprite {
        width: 20px;
    }
    #window .page .subbody[data-class="items"] .float.link.group[data-game^="MM00/Items/"] .sprite.size40 span,
    #window .page .subbody[data-class="items"] .float.link.group[data-game^="MM00/Items/"] .sprite.size40 img {
        margin-left: -10px;
    }

    #window .page .subbody[data-class="items"] .float.link.group[data-game^="MMRPG/Items/"] .sprite {
        width: 18px;
    }
    #window .page .subbody[data-class="items"] .float.link.group[data-game^="MMRPG/Items/"] .sprite.size40 span,
    #window .page .subbody[data-class="items"] .float.link.group[data-game^="MMRPG/Items/"] .sprite.size40 img {
        margin-left: -11px;
    }

    #window .page .body .subbody_databaselinks[data-class="items"] .iconwrap {
        padding-right: 3%;
    }

    #window .page .subbody .float.link[data-anchor="nitron-r"] .sprite,
    #window .page .subbody .float.link[data-anchor="nitron-b"] .sprite,
    #window .page .subbody .float.link[data-anchor="nitron-y"] .sprite {
        width: 3px;
    }

    #window .page .subbody .float_link_group[data-game="MM00/Weapons/Roll"] {
        clear: left;
    }

    #window .page .subbody .float_link_group[data-game^="MMRPG/Weapons/"] .float.link .sprite,
    #window .page .subbody .float_link_group[data-game^="MMRPG/Support/"] .float.link .sprite {
        width: 19px;
    }
    #window .page .subbody .float_link_group[data-game^="MMRPG/Weapons/"] .float.link .sprite img,
    #window .page .subbody .float_link_group[data-game^="MMRPG/Support/"] .float.link .sprite img {
        margin-left: -11px;
    }

    #window .page .subbody .float_link_group[data-game="MMAZ/T2/Weapons/MM30"] .float.link .sprite {
        width: 18px;
    }
    #window .page .subbody .float_link_group[data-game="MMAZ/T2/Weapons/MM30"] .float.link .sprite img {
        margin-left: -12px;
    }

    #window .page .database_container .subbody .body.sprites_body .grid {
        padding: 10px;
    }

    #window .page .database_container .subbody .body table.types td[data-count="4"] a:not(:first-of-type) > span:first-child {
        padding: 0 3px;
    }
    #window .page .database_container .subbody .body table.types td[data-count="4"] a:not(:first-of-type) > span:last-child {
        display: none;
    }

    #window .page .event .player_quote,
    #window .page .event .robot_quote {
        float: none;
        text-align: left;
        clear: both;
        white-space: normal;
        display: block;
        line-height: 25px;
    }

    #window .page .event table td.right {

    }

    #window .page .database_container .subbody .link_top {
        font-size: 10px;
        line-height: 12px;
        padding: 4px 8px;
        background-color: rgba(0,0,0,0.2);
        display: inline-block;
        margin: 0;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    #window .page .database_container .subbody .link_top:hover {
        text-decoration: none;
    }

    #window .page .body .header_typewrapper,
    #window .page .body .subheader_typewrapper {
        display: block;
        overflow: hidden;
        line-height: 16px;
        padding-top: 3px;
        padding-bottom: 6px;
    }
    #window .page .body .subheader .inline_link {
        font-size: 14px;
        line-height: 16px;
    }
    #window .page .body .header .count,
    #window .page .body .subheader .count {
        float: none !important;
        display: block;
        clear: both;
        font-size: 12px;
        line-height: 12px;
        margin-top: 6px;
        padding: 0;
    }
    #window .page .body .subheader .count {
        margin-bottom: 2px;
    }
    #window .page .body .subheader .float_link,
    #window .page .body .subheader .float_link2 {
        display: none;
    }

    #window .page .event table td.right {
        display: block;
        float: none;
        clear: none;
        width: auto;
        padding: 2px 5px;
    }
    #window .page .event table td:not([class]) {
        display: none;
    }

    #window .page .event .sprite_left {
        top: 3px;
    }
    #window .page .event .header_left {
        margin-left: 42px;
        margin-bottom: 6px;
        border-radius: 4px;
        line-height: 27px;
        height: 54px;
    }
    #window .page .event .header_left a,
    #window .page .event .header_left span {
        display: block;
        float: none;
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
        position: relative;
    }
    #window .page .event .header_left a:before {
        content: "\0bb";
        display: block;
        position: absolute;
        top: -2px;
        right: -4px;
        left: -4px;
        bottom: 2px;
        z-index: 1;
        pointer-events: none;
        color: #F2F2F2;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        margin: 3px 0 0;
        padding: 0 3px 0 9px;
        text-align: right;
    }
    #window .page .event .header_left .header_core {
        display: block;
        float: none;
        border-color: rgba(0, 0, 0, 0.1) !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
    #window .page .database_container .subbody .body_left {
        margin-left: 0;
    }

    #window .page .body .type_chart_filters .classes,
    #window .page .body .type_chart_filters .flags {
        margin: 0 auto 6px;
        overflow: hidden;
    }
    #window .page .body .type_chart_filters .classes {
        float: left;
    }
    #window .page .body .type_chart_filters .flags {
        float: right;
    }
    #window .page .body .type_chart_filters .classes .pipe,
    #window .page .body .type_chart_filters .flags .pipe {
        display: none;
    }
    #window .page .body .type_chart_filters .classes .link {
        display: block;
        float: left;
        margin: 0 6px 3px 0;
        padding: 2px 6px;
        border: 1px solid #111111;
        background-color: #161616;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
    }
    #window .page .body .type_chart_filters .classes .link span:not([class]),
    #window .page .body .type_chart_filters .flags .link span:not([class]) {
        display: none;
    }
    #window .page .body .type_chart_filters .flags .link,
    #window .page .body .type_chart_filters .flags .link:hover {
        display: block;
        float: right;
        clear: left;
        margin: 0 0 3px 6px;
        padding: 3px 2px;
        text-decoration: none;
    }

    #window .page .event .section_tabs {
        font-size: 13px;
        line-height: 16px;
        padding: 12px 0 6px;
        margin-bottom: 6px;
    }
    #window .page .event .section_tabs .link_inline {
        display: inline-block;
        padding: 2px 6px;
        margin: 0 1% 6px 0;
        width: 32%;
        background-color: #282828;
        border: 1px solid #303030;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        box-sizing: border-box;
        background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.05)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
        background-image: linear-gradient(to bottom,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CFFFFFF', endColorstr='#0C000000',GradientType=0 ); /* IE6-9 */
    }
    #window .page .event .section_tabs .link_inline:after {
        display: none;
    }
    #window .page .event .section_tabs .link_inline:hover,
    #window .page .event .section_tabs .link_inline.active {
        background-color: #3d3d3d;
    }
    #window .page .event .section_tabs .link_inline:hover .wrap,
    #window .page .event .section_tabs .link_inline.active .wrap {
        text-decoration: none;
    }

    #window .page .body .community .thread_subbody_compact {
        width: 100%;
        box-sizing: border-box;
    }
    #window .page .body .community .thread_subbody .thread_linkblock .link,
    #window .page .body .community .thread_subbody .thread_linkblock .info,
    #window .page .body .community .thread_subbody .thread_linkblock .count {
        width: 98%;
        width: calc(100% - 10px);
        line-height: 16px;
    }
    #window .page .body .community .thread_subbody .thread_linkblock .link {
        white-space: normal;
        text-align: left;
    }
    #window .page .body .community .thread_subbody .thread_linkblock .count {
        margin-top: -2px;
        padding-top: 3px;
    }
    #window .page .body .community .thread_subbody .thread_linkblock .count .comments,
    #window .page .body .community .thread_subbody .thread_linkblock .count .newpost {
        display: block;
        float: left;
        clear: none;
    }
    #window .page .body .community .thread_subbody .thread_linkblock .count .newpost {

    }
    #window .page .body .community .thread_subbody .thread_linkblock .count .newpost + .newpost {

    }
    #window .page .body .community .thread_subbody .thread_linkblock .count .newpost.author {
        display: block;
        clear: left;
        max-width: 96%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 4px 0 0;
    }

    #window .page_home #youtube_playlist,
    #window .page_home #youtube_playlist iframe {
        width: 100%;
        height: 165px;
        margin: 0 auto 9px;
    }

    #window .page .gallery .dateblock,
    #window .page .gallery .screenshot {
        width: 93px;
    }

    #mmrpg #credits {
        margin: -12px 6px 0;
        padding: 6px 26px;
        background-color: rgb(30, 30, 30);
        color: #464646;
        text-shadow: 0 0 0 transparent;
        border-radius: 0.3em;
    }

    #window .devbuild_warning {

    }
    #window .devbuild_warning br {
        display: none;
    }

    #window .page .body .community .thread_posts_count {
        overflow: hidden;
    }
    #window .page .body .community #comment-form {
        overflow: hidden;
        margin: 0 auto 10px;
    }
    #window .page .body .community .thread_posts_count .thread_posts_total,
    #window .page .body .community .thread_posts_count .thread_posts_pages {
        display: block;
        float: none;
        clear: both;
        margin: 0 auto;
    }
    #window .page .body .community .thread_posts_count .thread_posts_total:after,
    #window .page .body .community .thread_posts_count .thread_posts_pages:after {
        display: none;
    }
    #window .page .body .community .thread_posts_count .thread_posts_total {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #1e1e1e;
        font-weight: bold;
    }
    #window .page .body .community .thread_posts_count .thread_posts_total:only-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0 none transparent;
    }
    #window .page .body .community .thread_posts_count .thread_posts_pages {

    }
    #window .page .body .community .thread_posts_count .thread_posts_pages .label {
        display: none;
    }
    #window .page .body .community .thread_posts_count .thread_posts_pages .links {
        display: block;
        margin: 0 auto;
        text-align: left;
    }
    #window .page .body .community .thread_posts_count .thread_posts_pages a {
        display: inline-block;
        margin: 0 0 4px 0;
        background-color: #262626;
        padding: 3px 6px;
        border-radius: 3px;
        text-align: center;
    }
    #window .page .body .community .thread_posts_count .thread_posts_pages a.next,
    #window .page .body .community .thread_posts_count .thread_posts_pages a.prev {

    }
    #window .page .body .community .thread_posts_count .thread_posts_pages a.next {

    }
    #window .page .body .community .thread_posts_count .thread_posts_pages a.prev {

    }
    #window .page .body .community .thread_posts_count .thread_posts_pages a.next:before {
        content: "Next";
        padding-right: 2px;
    }
    #window .page .body .community .thread_posts_count .thread_posts_pages a.prev:after {
        content: "Prev";
        padding-left: 2px;
    }

    #window .page .body .community .post_subbody {
        padding: 4px 4px;
    }
    #window .page .body .community .post_subbody .userblock {
        width: 96px;
    }
    #window .page .body .community .post_subbody .userblock .name,
    #window .page .body .community .post_subbody .userblock .counter,
    #window .page .body .community .post_subbody .userblock .avatar {
        margin-left: 3px;
        margin-right: 3px;
    }
    #window .page .body .community .post_subbody .published {
        line-height: 14px;
        position: relative;
    }
    #window .page .body .community .post_subbody_left .published {
        margin-left: 92px;
    }
    #window .page .body .community .post_subbody_right .published {
        margin-right: 92px;
    }
    #window .page .body .community .thread_subbody .options {

    }
    #window .page .body .community .post_subbody .options {
        margin: 4px 0 2px 0;
        float: left;
    }

    #window .page .body .community .post_subbody .published .full {
        display: none;
    }
    #window .page .body .community .post_subbody .published .short {
        display: block;
    }

    #window .page .body .community .post_subbody .published .key,
    #window .page .body .community .post_subbody .published .date,
    #window .page .body .community .post_subbody .published .modified,
    #window .page .body .community .post_subbody .published .new {

    }
    #window .page .body .community .post_subbody .published .key {
        position: absolute;
        float: none;
        margin: 0;
        top: 1px;
        font-size: 10px;
        border: 1px solid #252525;
        background-color: #282828;
        padding: 1px 2px;
        border-radius: 3px;
    }
    #window .page .body .community .post_subbody .published .key.right {
        right: 6px;
    }
    #window .page .body .community .post_subbody .published .key.left {
        left: 6px;
    }
    #window .page .body .community .post_subbody .published .date {
        display: block;
    }
    #window .page .body .community .post_subbody .published .modified {
        padding: 0;
    }
    #window .page .body .community .post_subbody .published .modified:before,
    #window .page .body .community .post_subbody .published .modified:after {
        display: none;
    }
    #window .page .body .community .post_subbody .published .new {

    }

    #window .page_community .form .field_thread_body .textarea,
    #window .page_community .form .field_post_body .textarea,
    #window .page_file .form .field_body .textarea {
        box-sizing: border-box;
    }

    #window .page_community .form .field_post_body .textarea {
        width: 200px;
        height: 145px;
        width: calc(100% - 100px);
    }

    #window .page .body .community .thread_subbody .form .avatar_selector,
    #window .page .body .community .post_subbody .form .avatar_selector {
        width: 80px;
    }

    #window .page .body .community .thread_subbody .form .avatar_selector .sprite_80x80,
    #window .page .body .community .post_subbody .form .avatar_selector .sprite_80x80 {
        right: 0;
    }

    #window .page .body .community .thread_subbody .form .avatar_selector .sprite_160x160,
    #window .page .body .community .post_subbody .form .avatar_selector .sprite_160x160 {
        right: -5px;
    }

    #window .page_community .form .buttons .button {
        padding-left: 20px;
        padding-right: 20px;
    }
    #window .page_community .form .buttons .counter {
        padding-left: 15px;
        padding-right: 15px;
    }
    #window .page .body .community .formatting {
        margin-bottom: 0;
    }
    #window .page .body .community .formatting.formatting_expanded {
        margin-bottom: 13px;
    }


}

/* -- So Close to iPhone Portrait Mode -- */
@media (max-width: 460px){

    body:before {
        content: "08";
    }

    #window .menu .main {
        padding: 0 1%;
    }

    #window .page .iconwrap.preview {
        max-width: 300px;
    }
    #window .page .iconwrap.preview .type_block {
        width: 28%;
    }

    #mmrpg #window .menu:after {
        content: " ";
        border-bottom: 1px solid rgba(255,255,255,0.03);
        border-top: 1px solid #1A1A1A;
        height: 0;
        width: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 59px;
    }

    #window .menu .main {
        padding: 0 6%;
    }

    #mmrpg {
        background-color: magenta;
        background-color: #262626;
        background-image: none;
        padding-bottom: 10px;
    }
    #mmrpg #window {
        background-color: transparent;
        border: 0 none transparent;
        box-shadow: 0 0 0 transparent;
        min-width: 320px;
        padding: 0;
    }

    #window #header_social_github {

    }
    #window #header_social_facebook {
        right: 8px;
        top: 36px;
    }

    #window .banner {
        height: 164px;
        border-top: 0 none transparent;
        border-left: 0 none transparent;
        border-right: 0 none transparent;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #window .banner .event {
        width: auto;
    }
    #window .banner .event .sprite[data-type=attachment] {
        display: none;
    }
    #window .banner .background,
    #window .banner .foreground,
    #window .banner .credits,
    #window .banner .overlay {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #window .banner .userinfo {
        bottom: 0;
        left: 0;
        right: 0;
        padding: 6px 6px;
        border-top-width: 2px;
        border-style: solid none none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    #window .banner .userinfo .expand {
        display: block;
        position: absolute;
        left: 3px;
        bottom: 3px;
        font-size: 34px;
        line-height: 34px;
        border: 1px solid #1A1A1A;
        width: 34px;
        height: 34px;
        cursor: pointer;
        border-radius: 3px;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #222222;
        background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.15, rgba(0, 0, 0, 0.05)),
                color-stop(0.75, rgba(255, 255, 255, 0.05))
        );
        background-image: -moz-linear-gradient(
                center bottom,
                rgba(0, 0, 0, 0.05) 15%,
                rgba(255, 255, 255, 0.05) 75%
        );
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -website-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    #window .banner .userinfo .expand:hover {
        background-color: #292929;
    }
    #window .banner .userinfo .expand span {
        display: inline-block;
        transform: rotate(0);
        transition: transform 0.3s;
    }
    #window .banner .userinfo .expand.expanded span {
        transform: rotate(45deg);
    }
    #window .banner .userinfo .avatar {
        margin-right: 0;
        margin-left: 0;
    }
    #window .banner .userinfo .info {
        height: auto;
        text-align: right;
        float: right;
        width: 70%;
        width: calc(100% - 72px);
    }
    #window .banner .userinfo .info .username {
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #window .banner .userinfo .info .username .pipe {
        display: none;
    }
    #window .banner .userinfo .info .username .place {
        display: none;
    }
    #window .banner .userinfo .info .username .place span {
        display: none;
    }
    #window .banner .userinfo .info .file {
        font-size: 11px;
        line-height: 13px;
    }
    #window .banner .userinfo .field_type {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 0 none transparent;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #mmrpg #window .menu {
        border-left: 0 none transparent;
        border-right: 0 none transparent;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    #mmrpg #window .menu:before,
    #mmrpg #window .menu:after {
        content: "";
        display: none;
    }

    #window .menu .main {
        display: none;
    }
    #window .menu .main.expanded {
        display: block;
    }
    #window .menu .item {
        display: block;
        float: none;
        clear: both;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        line-height: 30px;
        border-bottom: 1px solid rgba(255,255,255,0.03);
        border-top: 1px solid rgba(0,0,0,0.09);
    }
    #window .menu .item:first-child {
        border-top: 0 none transparent;
    }
    #window .menu .item:last-child {
        border-bottom: 0 none transparent;
    }
    #window .menu .sub {
        display: none;
    }
    #window .menu .sub .link {
        line-height: 20px;
    }
    #window .menu .link:after {
        display: none;
    }
    #window .menu .item:hover .subs,
    #window .menu .subs.active {
        display: block;
        position: static;
        margin: 0;
        border: 0 none transparent;
        background-color: #222222 !important;
        box-shadow: inset 0px 0px 6px rgba(0,0,0,0.3);
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    #mmrpg #window .menu, #window .page {
        padding: 0 6px;
    }


    #window .page .leaderboard .file .records .count.robots + .pipe {
        display: block;
        height: 0px;
        clear: both;
        margin: 2px auto;
        text-indent: -9999px;
    }



}

/* -- Even Closer to iPhone Portrait Mode -- */
@media (max-width: 400px){

    body:before {
        content: "09";
    }

}


/* -- iPhone Portrait Mode -- */
@media (max-width: 350px){

    body:before {
        content: "10";
    }


}
