html,
body,
* {
    -webkit-text-size-adjust: none !important;
    text-size-adjust: none !important;
}
html,
body {
    min-height: 100vh;
}

* { max-height: 100000px; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
    border-width: 0;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
body {
    font-family: 'Open Sans', Arial, Verdana, sans-serif !important;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background-color: #3E3E3E;
    padding: 0;
}
body.index {
    background: #000000 url(../images/assets/index-background.gif) scroll repeat 0 0;
}
body.index.type {
    background-image: url(../images/assets/index-background.png);
}
body.loading,
body.loading a {
    cursor: wait !important;
}
body.loading > * {
    pointer-events: none !important;
}
#window,
#window iframe,
body.battle {
    background-color: #262626;
    border-color: #262626;
}
#window iframe {
    background-color: transparent;
}
#window iframe.loading {
    visibility: hidden;
}

body.index #header {
    display: block;
    position: absolute;
    left: -9999px;
    top: -9999px;
}

#mmrpg.first-focus-required:after {
    content: "\0022ef";
    display: block;
    position: absolute;
    z-index: 9999;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #efefef;
    font-size: 30px;
    line-height: 622px;
    transition: background-color 0.1s, font-size 0.1s;
    cursor: pointer;
}
#mmrpg.first-focus-required:not(.loading):after {
    content: "\0025b6";
}
#mmrpg.first-focus-required:not(.loading):hover:after {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 36px;
}

#mmrpg .tooltip {
    display:none;
    position: absolute !important;
    z-index: 999999;
    border: 2px solid #262626;
    background-color: #161616;
    background-color: rgba(16, 16, 16, 0.99);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius:5px;
    padding: 4px;
    color:#fff;
    width: auto !important;
    min-width: 100px;
    max-width: 400px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    pointer-events: none;
    cursor: none;
}
#mmrpg .tooltip:empty {
    display: none !important;
}
#mmrpg .tooltip .message {
    display:block;
    margin: 0;
    border: 1px solid #060606;
    background-color: #161616;
    background-color: rgba(16, 16, 16, 0.99);
    border-radius: 5px;
    padding: 6px 12px;
    color:#fff;
    min-width: 100px;
    max-width: 400px;
    _width: 400px;
    text-align: left;
    font-size: 12px;
    line-height: 1.6;
    font-weight: normal;
}
#mmrpg .tooltip hr {
    display: block;
    margin: 0 0 3px;
    height: 1px;
    width: auto;
    border: 0 none transparent;
    background-color: transparent;
    color: transparent;
}
#mmrpg .tooltip .pipe {
    padding: 0 2px;
    color: #262626;
}
#mmrpg .tooltip del {
    color: #464646;
}
#mmrpg .tooltip .type,
#mmrpg .tooltip .field_type,
#mmrpg .tooltip .player_type,
#mmrpg .tooltip .robot_type,
#mmrpg .tooltip .ability_type,
#mmrpg .tooltip .item_type {
    display: inline-block;
    padding: 0 3px;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
#mmrpg .tooltip .typelist .title {
    display: block;
    font-weight: bold;
    padding: 0 6px;
    margin: 0 auto 6px 0;
    font-size: 13px;
    line-height: 13px;
    border-bottom: 1px solid #161616;
    clear: both;
}
#mmrpg .tooltip .typelist .title .total {
    padding-left: 10px;
    font-weight: normal;
    color: #969696;
    font-size: 11px;
    position: relative;
    bottom: 2px;
}
#mmrpg .tooltip .typelist .type {
    padding: 0 3px;
    font-size: 11px;
    margin: 0 4px 4px 0;
}
#mmrpg .tooltip .subtext {
    font-size: 10px;
    font-weight: normal;
    color: #969696;
}


#mmrpg .tooltip .alt-preview-wrap {
    display: block;
    padding: 5px;
    text-align: center;
}
#mmrpg .tooltip .alt-preview-wrap .alt-wrap {
    display: inline-block;
    width: 100%;
    min-width: 100px;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #363636;
    margin: 0 auto 5px 0;
    padding-bottom: 5px;
}
#mmrpg .tooltip .alt-preview-wrap .alt-wrap .sprite {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}
#mmrpg .tooltip .alt-preview-wrap .alt-name {
    display: inline-block;
    margin: 0 auto;
}

@keyframes info-tooltip-new-pulse {
    0%   { transform: scale(1); }
    50% { transform: scale(1.2); }
    100%   { transform: scale(1); }
}
#mmrpg .info[data-click-tooltip] {
    cursor: help;
}
#mmrpg .info[data-click-tooltip] {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    width: 16px;
    height: 16px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #1A1A1A;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
    cursor: help;
    transform: scale(1);
    transition: transform 0.3s;
    white-space: break-spaces;
}
#mmrpg .info[data-click-tooltip].color {
    background-color: #ffffff;
}
#mmrpg .info[data-click-tooltip]:hover {
    transform: scale(1.2);
}
#mmrpg .info[data-click-tooltip].new {
    -moz-animation: info-tooltip-new-pulse 2s infinite;
    -ms-animation: info-tooltip-new-pulse 2s infinite;
    -o-animation: info-tooltip-new-pulse 2s infinite;
    -webkit-animation: info-tooltip-new-pulse 2s infinite;
    animation: info-tooltip-new-pulse 2s infinite;
}
#mmrpg .info[data-click-tooltip] > i {
    text-align: center;
    text-shadow: none;
}
#mmrpg .info[data-click-tooltip] > i:before {
    display: block;
}
#mmrpg .info[data-click-tooltip] > i + i {
    position: relative;
    top: -22px;
    height: 8px;
    overflow: hidden;
}
#mmrpg .info[data-click-tooltip] > i + i:before {

}
#mmrpg [data-click-tooltip] > * {
    pointer-events: none;
}

#mmrpg .animate_fadein {
    display: none !important;
}

#mmrpg img.has_pixels {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
#mmrpg .sprite {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -9999px;
    color: transparent;
    position: absolute;
    background: transparent none scroll no-repeat 0 0;
}
#mmrpg .sprite[data-shadow-id] {
    display: none;
    filter: brightness(0) opacity(0.2);
    -moz-mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
    mix-blend-mode: multiply;
}
@supports (filter: grayscale(1)) and (transform: skewX(10deg)) {
    #mmrpg .sprite[data-shadow-id] {
        display: block;
    }
}


#mmrpg .sprite,
#mmrpg .sprite_image,
#mmrpg .has_pixels,
#mmrpg .sprite img,
#mmrpg .sprite_image img,
#mmrpg .has_pixels img {
    image-rendering: auto;
}
#mmrpg[data-rendering="pixelated"] .sprite,
#mmrpg[data-rendering="pixelated"] .sprite_image,
#mmrpg[data-rendering="pixelated"] .has_pixels,
#mmrpg[data-rendering="pixelated"] .sprite img,
#mmrpg[data-rendering="pixelated"] .sprite_image img,
#mmrpg[data-rendering="pixelated"] .has_pixels img {
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#mmrpg .sprite.scaled {
    image-rendering: auto !important;
}

#mmrpg .sprite_fullscreen {
    width: auto !important;
    height: auto !important;
    left: -130px !important;
    right: -126px !important;
    top: 0 !important;
    bottom: 0 !important;
    background-repeat: repeat !important;
}
#mmrpg a.sprite {
    cursor: pointer;
}
#mmrpg .sprite_40x40 {
    width: 40px;
    height: 40px;
}
#mmrpg .sprite_40x40_mugshot { background-position: 0 0; }
#mmrpg .sprite_40x40_base { background-position: 0 0; }
#mmrpg .sprite_40x40_taunt { background-position: -40px 0; }
#mmrpg .sprite_40x40_victory { background-position: -80px 0; }
#mmrpg .sprite_40x40_defeat { background-position: -120px 0; }
#mmrpg .sprite_40x40_shoot { background-position: -160px 0; }
#mmrpg .sprite_40x40_throw { background-position: -200px 0; }
#mmrpg .sprite_40x40_summon { background-position: -240px 0; }
#mmrpg .sprite_40x40_slide { background-position: -280px 0; }
#mmrpg .sprite_40x40_defend { background-position: -320px 0; }
#mmrpg .sprite_40x40_damage { background-position: -360px 0; }
#mmrpg .sprite_40x40_base2 { background-position: -400px 0; }

#mmrpg .sprite_40x40_ { display: none; }
#mmrpg .sprite_40x40_00 { background-position: 0 0; }
#mmrpg .sprite_40x40_01 { background-position: -40px 0; }
#mmrpg .sprite_40x40_02 { background-position: -80px 0; }
#mmrpg .sprite_40x40_03 { background-position: -120px 0; }
#mmrpg .sprite_40x40_04 { background-position: -160px 0; }
#mmrpg .sprite_40x40_05 { background-position: -200px 0; }
#mmrpg .sprite_40x40_06 { background-position: -240px 0; }
#mmrpg .sprite_40x40_07 { background-position: -280px 0; }
#mmrpg .sprite_40x40_08 { background-position: -320px 0; }
#mmrpg .sprite_40x40_09 { background-position: -360px 0; }
#mmrpg .sprite_40x40_10 { background-position: -400px 0; }
#mmrpg .sprite_40x40_11 { background-position: -440px 0; }
#mmrpg .sprite_40x40_left_ { display: none; }
#mmrpg .sprite_40x40_left_00 { background-position: 0 0; }
#mmrpg .sprite_40x40_left_01 { background-position: -40px 0; }
#mmrpg .sprite_40x40_left_02 { background-position: -80px 0; }
#mmrpg .sprite_40x40_left_03 { background-position: -120px 0; }
#mmrpg .sprite_40x40_left_04 { background-position: -160px 0; }
#mmrpg .sprite_40x40_left_05 { background-position: -200px 0; }
#mmrpg .sprite_40x40_left_06 { background-position: -240px 0; }
#mmrpg .sprite_40x40_left_07 { background-position: -280px 0; }
#mmrpg .sprite_40x40_left_08 { background-position: -320px 0; }
#mmrpg .sprite_40x40_left_09 { background-position: -360px 0; }
#mmrpg .sprite_40x40_left_10 { background-position: -400px 0; }
#mmrpg .sprite_40x40_left_11 { background-position: -440px 0; }
#mmrpg .sprite_40x40_right_ { display: none; }
#mmrpg .sprite_40x40_right_00 { background-position: 0 -40px; }
#mmrpg .sprite_40x40_right_01 { background-position: -40px -40px; }
#mmrpg .sprite_40x40_right_02 { background-position: -80px -40px; }
#mmrpg .sprite_40x40_right_03 { background-position: -120px -40px; }
#mmrpg .sprite_40x40_right_04 { background-position: -160px -40px; }
#mmrpg .sprite_40x40_right_05 { background-position: -200px -40px; }
#mmrpg .sprite_40x40_right_06 { background-position: -240px -40px; }
#mmrpg .sprite_40x40_right_07 { background-position: -280px -40px; }
#mmrpg .sprite_40x40_right_08 { background-position: -320px -40px; }
#mmrpg .sprite_40x40_right_09 { background-position: -360px -40px; }
#mmrpg .sprite_40x40_right_10 { background-position: -400px -40px; }
#mmrpg .sprite_40x40_right_11 { background-position: -440px -40px; }

#mmrpg .sprite_40x40_focus {
    z-index: 9999 !important;
    cursor: pointer;
}

#mmrpg .sprite_80x80 {
    width: 80px;
    height: 80px;
}
#mmrpg .sprite_80x80_mugshot { background-position: 0 0; }
#mmrpg .sprite_80x80_base { background-position: 0 0; }
#mmrpg .sprite_80x80_taunt { background-position: -80px 0; }
#mmrpg .sprite_80x80_victory { background-position: -160px 0; }
#mmrpg .sprite_80x80_defeat { background-position: -240px 0; }
#mmrpg .sprite_80x80_shoot { background-position: -320px 0; }
#mmrpg .sprite_80x80_throw { background-position: -400px 0; }
#mmrpg .sprite_80x80_summon { background-position: -480px 0; }
#mmrpg .sprite_80x80_slide { background-position: -560px 0; }
#mmrpg .sprite_80x80_defend { background-position: -640px 0; }
#mmrpg .sprite_80x80_damage { background-position: -720px 0; }
#mmrpg .sprite_80x80_base2 { background-position: -800px 0; }

#mmrpg .sprite_80x80_ { display: none; }
#mmrpg .sprite_80x80_00 { background-position: 0 0; }
#mmrpg .sprite_80x80_01 { background-position: -80px 0; }
#mmrpg .sprite_80x80_02 { background-position: -160px 0; }
#mmrpg .sprite_80x80_03 { background-position: -240px 0; }
#mmrpg .sprite_80x80_04 { background-position: -320px 0; }
#mmrpg .sprite_80x80_05 { background-position: -400px 0; }
#mmrpg .sprite_80x80_06 { background-position: -480px 0; }
#mmrpg .sprite_80x80_07 { background-position: -560px 0; }
#mmrpg .sprite_80x80_08 { background-position: -640px 0; }
#mmrpg .sprite_80x80_09 { background-position: -720px 0; }
#mmrpg .sprite_80x80_10 { background-position: -800px 0; }
#mmrpg .sprite_80x80_11 { background-position: -880px 0; }
#mmrpg .sprite_80x80_left_ { display: none; }
#mmrpg .sprite_80x80_left_00 { background-position: 0 0; }
#mmrpg .sprite_80x80_left_01 { background-position: -80px 0; }
#mmrpg .sprite_80x80_left_02 { background-position: -160px 0; }
#mmrpg .sprite_80x80_left_03 { background-position: -240px 0; }
#mmrpg .sprite_80x80_left_04 { background-position: -320px 0; }
#mmrpg .sprite_80x80_left_05 { background-position: -400px 0; }
#mmrpg .sprite_80x80_left_06 { background-position: -480px 0; }
#mmrpg .sprite_80x80_left_07 { background-position: -560px 0; }
#mmrpg .sprite_80x80_left_08 { background-position: -640px 0; }
#mmrpg .sprite_80x80_left_09 { background-position: -720px 0; }
#mmrpg .sprite_80x80_left_10 { background-position: -800px 0; }
#mmrpg .sprite_80x80_left_11 { background-position: -880px 0; }
#mmrpg .sprite_80x80_right_ { display: none; }
#mmrpg .sprite_80x80_right_00 { background-position: 0 -80px; }
#mmrpg .sprite_80x80_right_01 { background-position: -80px -80px; }
#mmrpg .sprite_80x80_right_02 { background-position: -160px -80px; }
#mmrpg .sprite_80x80_right_03 { background-position: -240px -80px; }
#mmrpg .sprite_80x80_right_04 { background-position: -320px -80px; }
#mmrpg .sprite_80x80_right_05 { background-position: -400px -80px; }
#mmrpg .sprite_80x80_right_06 { background-position: -480px -80px; }
#mmrpg .sprite_80x80_right_07 { background-position: -560px -80px; }
#mmrpg .sprite_80x80_right_08 { background-position: -640px -80px; }
#mmrpg .sprite_80x80_right_09 { background-position: -720px -80px; }
#mmrpg .sprite_80x80_right_10 { background-position: -800px -80px; }
#mmrpg .sprite_80x80_right_11 { background-position: -880px -80px; }

#mmrpg .sprite_80x80_focus {
    z-index: 9999 !important;
    cursor: pointer;
}

#mmrpg .sprite_160x160 {
    width: 160px;
    height: 160px;
}
#mmrpg .sprite_160x160_mugshot { background-position: 0 0; }
#mmrpg .sprite_160x160_base { background-position: 0 0; }
#mmrpg .sprite_160x160_taunt { background-position: -160px 0; }
#mmrpg .sprite_160x160_victory { background-position: -320px 0; }
#mmrpg .sprite_160x160_defeat { background-position: -480px 0; }
#mmrpg .sprite_160x160_shoot { background-position: -640px 0; }
#mmrpg .sprite_160x160_throw { background-position: -800px 0; }
#mmrpg .sprite_160x160_summon { background-position: -960px 0; }
#mmrpg .sprite_160x160_slide { background-position: -1120px 0; }
#mmrpg .sprite_160x160_defend { background-position: -1280px 0; }
#mmrpg .sprite_160x160_damage { background-position: -1440px 0; }
#mmrpg .sprite_160x160_base2 { background-position: -1600px 0; }

#mmrpg .sprite_160x160_ { display: none; }
#mmrpg .sprite_160x160_00 { background-position: 0 0; }
#mmrpg .sprite_160x160_01 { background-position: -160px 0; }
#mmrpg .sprite_160x160_02 { background-position: -320px 0; }
#mmrpg .sprite_160x160_03 { background-position: -480px 0; }
#mmrpg .sprite_160x160_04 { background-position: -640px 0; }
#mmrpg .sprite_160x160_05 { background-position: -800px 0; }
#mmrpg .sprite_160x160_06 { background-position: -960px 0; }
#mmrpg .sprite_160x160_07 { background-position: -1120px 0; }
#mmrpg .sprite_160x160_08 { background-position: -1280px 0; }
#mmrpg .sprite_160x160_09 { background-position: -1440px 0; }
#mmrpg .sprite_160x160_10 { background-position: -1600px 0; }
#mmrpg .sprite_160x160_11 { background-position: -1760px 0; }
#mmrpg .sprite_160x160_left_ { display: none; }
#mmrpg .sprite_160x160_left_00 { background-position: 0 0; }
#mmrpg .sprite_160x160_left_01 { background-position: -160px 0; }
#mmrpg .sprite_160x160_left_02 { background-position: -320px 0; }
#mmrpg .sprite_160x160_left_03 { background-position: -480px 0; }
#mmrpg .sprite_160x160_left_04 { background-position: -640px 0; }
#mmrpg .sprite_160x160_left_05 { background-position: -800px 0; }
#mmrpg .sprite_160x160_left_06 { background-position: -960px 0; }
#mmrpg .sprite_160x160_left_07 { background-position: -1120px 0; }
#mmrpg .sprite_160x160_left_08 { background-position: -1280px 0; }
#mmrpg .sprite_160x160_left_09 { background-position: -1440px 0; }
#mmrpg .sprite_160x160_left_10 { background-position: -1600px 0; }
#mmrpg .sprite_160x160_left_11 { background-position: -1760px 0; }
#mmrpg .sprite_160x160_right_ { display: none; }
#mmrpg .sprite_160x160_right_00 { background-position: 0 -160px; }
#mmrpg .sprite_160x160_right_01 { background-position: -160px -160px; }
#mmrpg .sprite_160x160_right_02 { background-position: -320px -160px; }
#mmrpg .sprite_160x160_right_03 { background-position: -480px -160px; }
#mmrpg .sprite_160x160_right_04 { background-position: -640px -160px; }
#mmrpg .sprite_160x160_right_05 { background-position: -800px -160px; }
#mmrpg .sprite_160x160_right_06 { background-position: -960px -160px; }
#mmrpg .sprite_160x160_right_07 { background-position: -1120px -160px; }
#mmrpg .sprite_160x160_right_08 { background-position: -1280px -160px; }
#mmrpg .sprite_160x160_right_09 { background-position: -1440px -160px; }
#mmrpg .sprite_160x160_right_10 { background-position: -1600px -160px; }
#mmrpg .sprite_160x160_right_11 { background-position: -1760px -160px; }

#mmrpg .sprite_160x160_focus {
    z-index: 9999 !important;
    cursor: pointer;
}

#mmrpg .player_type,
#mmrpg .robot_type,
#mmrpg .mecha_type,
#mmrpg .boss_type,
#mmrpg .ability_type,
#mmrpg .item_type,
#mmrpg .battle_type,
#mmrpg .field_type {
    border-color: #464646 !important;
    background-color: #414141 !important;
    background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.05)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CFFFFFF', endColorstr='#0C000000',GradientType=0 ); /* IE6-9 */
    position: relative;
    background-repeat: no-repeat !important;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}
#mmrpg .item_type a,
#mmrpg .ability_type a,
#mmrpg .battle_type a,
#mmrpg .field_type a,
#mmrpg .player_type a,
#mmrpg .robot_type a {
    color: #FFFFFF;
    text-decoration: none;
}


#window {
    margin: 0 auto 10px;
    width: 768px;
    height: 754px; /*690px;*/
    padding: 2px 4px;
    border: 2px solid #0C0C0C;
    border-top: 0 none transparent;
    border-radius: 0 0 0.75em 0.75em;
    -moz-border-radius: 0 0 0.75em 0.75em;
    -webkit-border-radius: 0 0 0.75em 0.75em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background-color: #262626;
    overflow: hidden;
}
#window iframe {
    margin: 0 auto;
    width: 768px;
    height: 748px; /*684px;*/
    padding: 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    background-color: transparent;
}

#credits,
#winmods {
    margin: 10px auto 0;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #414141;
    opacity: 1.0;
}
#credits a,
#winmods a {
    padding: 0;
    color: #464646;
    text-decoration: none;
}
#credits a:hover,
#winmods a:hover {
    color: #494949;
    text-decoration: underline;
}

#winmods {
    margin: 0 auto;
    display: none;
    /* 2017-10-16: Disabling this feature going forward, the game has one sized window */
}

#window {
    width: 768px;
    height: 626px;
}
#window[data-window-width],
#window[data-window-height] {
    width: 768px !important;
    height: 626px !important;
}
#window iframe,
#window[data-window-width] iframe,
#window[data-window-height] iframe {
    width: 100% !important;
    height: 100% !important;
}

#canvas {
    overflow: hidden;
    z-index: 12;
    margin: 0 auto 0;
    vertical-align: top;
    width: 768px;
    height: 267px;
    border: 0 none transparent;
    border-bottom-style: none;
    background-color: transparent;
    position: relative;
}
#canvas .wrapper {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
}




/* -- Achievement Icon Styles -- */

#mmrpg .achievement_icon {
    display: block;
    width: 19px;
    height: 19px;
    font-size: 13px;
    line-height: 13px;
    direction: ltr;
    text-indent: -9999px;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}
#mmrpg .achievement_icon.achievement_is-first-place {
    background-image: url(../images/assets/achievements/is-first-place.png);
    width: 20px;
}
#mmrpg .achievement_icon.achievement_reached-first-place {
    background-image: url(../images/assets/achievements/reached-first-place.png);
    width: 20px;
}
#mmrpg .achievement_icon.achievement_dr-light-complete {
    background-image: url(../images/assets/achievements/dr-light-complete.png);
    width: 17px;
}
#mmrpg .achievement_icon.achievement_dr-wily-complete {
    background-image: url(../images/assets/achievements/dr-wily-complete.png);
    width: 20px;
}
#mmrpg .achievement_icon.achievement_dr-cossack-complete {
    background-image: url(../images/assets/achievements/dr-cossack-complete.png);
    width: 15px;
}

