body {
  background-color: #262626; /*#000000;*/
    /*background-color: blue;*/
  margin: 0;
  padding: 0;
  /*height: 1004px;*/
}
body.index {
  background-image: none;
  background-color: #262626; 
}
body.battle {
  background-color: transparent;
}

#window {
  margin: 0;
  /*height: 1004px;*/
  padding: 0;
  border: 0 none transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -website-box-shadow: 0 0 0 transparent;
  background-color: transparent;
}
#window iframe {
  display: block;
  margin: 0;
  /*height: 1004px;*/
  padding: 0;
  border: 0 none transparent;
  overflow: hidden;
  background-color: transparent;
}

#animate {
  top: 11px;
}

#battle {
  margin: 0 auto;
  /*height: 1004px;*/
  border: 0 none transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: transparent;
}
#canvas {
  background-color: transparent;
}
#canvas .event {

}
#console {
  background-color: transparent;
}
#console .wrapper {
  overflow: scroll;
  overflow-x: hidden;
}
#actions { 
  background-color: transparent;
}
#actions .button_disabled {
  /* opacity: 0.5; */
}
#events #messages {
  margin-right: 0;
  padding-right: 0;
}



{
  height: 1004px;
  width: 768px; 
}
body.mobileFlag_portraitMode_notFullscreen {
  height: 876px;
}
#window,
#window iframe,
#battle {
  height: 1004px;
  width: 768px;  
}
body.mobileFlag_portraitMode_notFullscreen #window,
body.mobileFlag_portraitMode_notFullscreen #window iframe,
body.mobileFlag_portraitMode_notFullscreen #battle {
  height: 876px;  
}
#canvas {
  width: 768px;
}
#canvas .event {
  width: 750px;
}
#console {
  height: 512px;
  width: 768px;  
}
body.mobileFlag_portraitMode_notFullscreen #console {
  height: 384px; 
}
#actions {
  width: 768px;  
}
#actions #actions_battle .action_scan,
#actions #actions_battle .action_item, 
#actions #actions_battle .action_target, 
#actions #actions_battle .action_option,
#actions #actions_battle .action_switch {
  width: 181px;
}
#actions #actions_option .action_option,
#actions #actions_settings .action_settings,
#actions #actions_settings_eventTimeout .action_settings, 
#actions #actions_settings_autoScan .action_settings, 
#actions #actions_switch .action_switch, 
#actions #actions_scan .action_scan, 
#actions #actions_item .action_item,
#actions #actions_target .action_target, 
#actions #actions_ability .action_ability {
  width: 181px;
}
#actions .block_4, 
#actions .block_8 {
  width: 184px !important;
}


/*
 * MOBILE OVERRIDE STYLES
 */

/* -- Landscape Mode -- */
@media (min-width: 1024px){

  {
    height: 748px;
    width: 1024px; 
  }
  body.mobileFlag_landscapeMode_notFullscreen {
    height: 685px;
  }
  #window,
  #window iframe,
  #battle {
    height: 748px;
    width: 1024px;  
  }
  body.mobileFlag_landscapeMode_notFullscreen #window,
  body.mobileFlag_landscapeMode_notFullscreen #window iframe,
  body.mobileFlag_landscapeMode_notFullscreen #battle {
    height: 685px;
  }
  #canvas {
    width: 1024px;
  }
  #canvas .event {
    width: 1006px;
  }
  #events .event_wrapper {
    left: 250px;
  }
  #canvas .clearback {
    width: 750px;
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    left: auto;
    right: 124px;
    overflow: visible;
  }
  #canvas .clearback .robot_details_left {
    left: -124px;
  }
  #canvas .clearback .robot_details_right {
    right: -124px;
  }
  #canvas .clearback .sprite_mugshot_left {
    left: -123px;
  }
  #canvas .clearback .sprite_mugshot_right {
    right: -123px;
  }
  #canvas .clearback .ability_overlay, 
  #canvas .clearback .scan_overlay {
    width: auto;
    left: -130px;
    right: -130px;
  }
  #canvas .canvas_overlay_footer {
    left: -130px;
    right: -130px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
  }
  
  #console {
    height: 191px;
    width: 1024px;
  }
  #actions {
    width: 1024px;  
  }
  #actions .action_back label {
    width: auto;
  }
  #actions .actions_start .action_start label {
    width: auto;
  }
  #actions .actions_loading .action_loading label {
    width: auto;
  }
  #actions .actions_event .action_continue label {
    width: auto;
  }
  #actions .actions_battle .action_scan,
  #actions .actions_battle .action_item, 
  #actions .actions_battle .action_target, 
  #actions .actions_battle .action_option, 
  #actions .actions_battle .action_switch {
    width: 245px;
  }
  #actions .actions_battle .action_scan label,
  #actions .actions_battle .action_item label, 
  #actions .actions_battle .action_target label, 
  #actions .actions_battle .action_option label, 
  #actions .actions_battle .action_switch label {
    width: auto;
  }
  #actions .actions_battle .action_switch label {
    width: auto;
  }  
  #actions .actions_option .action_option,
  #actions .actions_settings .action_setting, 
  #actions .actions_settings_eventTimeout .action_setting,
  #actions .actions_settings_autoScan .action_setting,
  #actions .actions_switch .action_switch, 
  #actions .actions_scan .action_scan, 
  #actions .actions_item .action_item, 
  #actions .actions_item .action_ability,
  #actions .actions_target .action_target, 
  #actions .actions_ability .action_ability {
    width: 245px;
  }
  #actions .actions_option .action_option label,
  #actions .actions_settings .action_setting label,
  #actions .actions_settings_eventTimeout .action_setting label,
  #actions .actions_settings_autoScan .action_setting label,  
  #actions .actions_scan .action_scan label,  
  #actions .actions_item .action_item label,
  #actions .actions_target .action_target label {
    width: auto;
  }
  #actions .actions_scan .action_switch label {
    width: auto;
  }  
  #actions .actions_battle .action_ability label {
    width: auto;
  }  
  #actions .actions_option .action_option label, 
  #actions .actions_option .action_option label, 
  #actions .actions_settings .action_setting label, 
  #actions .actions_settings_eventTimeout .action_setting label,
  #actions .actions_settings_autoScan .action_setting label,  
  #actions .actions_scan .action_scan label,   
  #actions .actions_item .action_item label, 
  #actions .actions_target .action_target label, 
  #actions .actions_ability .action_ability label,
  #actions .actions_switch .action_switch label {
    width: auto;
  }
  #actions .actions_option .action_option label,
  #actions .actions_settings .action_setting label,
  #actions .actions_settings_eventTimeout .action_setting label,
  #actions .actions_settings_autoScan .action_setting label {
    width: auto;
  }  
  #actions .block_4, 
  #actions .block_8 {
    width: 248px !important;
  }  
  #canvas .clearback .robot_details_left {
    left: -124px;
  }
  #canvas .clearback .robot_details_right {
    right: -124px;
  }
  #canvas .clearback .sprite_mugshot_left {
    left: -116px;
  }
  #canvas .clearback .sprite_80x80_mugshot_left {
    left: -143px;
  }
  #canvas .clearback .sprite_160x160_mugshot_left {
    left: -163px;
  }
  #canvas .clearback .sprite_mugshot_right {
    right: -116px;
  }
  #canvas .clearback .sprite_80x80_mugshot_right {
    right: -136px;
  }
  #canvas .clearback .sprite_160x160_mugshot_right {
    right: -163px;
  }  

}