
/* Open Sans Regular */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../.libs/google-fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
}

/* Open Sans Bold */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../.libs/google-fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
}

/* Open Sans Italic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../.libs/google-fonts/Open_Sans/static/OpenSans-Italic.ttf') format('truetype');
}

/* Open Sans Bold Italic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../.libs/google-fonts/Open_Sans/static/OpenSans-BoldItalic.ttf') format('truetype');
}

/* Open Sans Light */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../.libs/google-fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
}

/* Open Sans Light Italic */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../.libs/google-fonts/Open_Sans/static/OpenSans-LightItalic.ttf') format('truetype');
}

