#mmrpg,
#prototype {
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 762px;
}
#edit .header {
  width: 100%;
}
#edit #canvas {
  display: block;
  float: none;
  margin: 0 auto 2px;
  height: auto;
  width: 100%;
  overflow: hidden; 
}
#edit #canvas .wrapper {
  display: block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  min-height: 78px;
  width: auto;
  padding: 4px;
  margin: 0 0 4px;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
#edit #canvas .wrapper_header {
  display: block;
  clear: both;
  margin: 0 auto 2px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.50);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#edit #console .field_stars,
#edit #console .field_tools {
  display: block;
  float: right;
  width: auto;
  height: 8px;
  margin: 2px 2px 2px auto;
  padding: 2px 6px 2px 8px;
  font-size: 8px;
  line-height: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  border: 0 none transparent;
  background-color: #191919;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;  
}
#edit #console .field_stars {
  float: left;
  clear: left;
}
#edit #console .field_stars .label,
#edit #console .field_stars .star,
#edit #console .field_tools .label,
#edit #console .field_tools .tool {
  display: block;
  position: static;
  float: left;
  font-size: 7px;
  line-height: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}
#edit #console .field_stars .label,
#edit #console .field_tools .label {
  color: rgba(255, 255, 255, 0.90);
}
#edit #console .field_stars .star,
#edit #console .field_tools .tool {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.60);
}
#edit #console .field_tools .tool {
  cursor: pointer;
}
#edit #console .field_stars .star_field {
  color: rgba(252, 237, 132, 0.60);
}
#edit #console .field_stars .star_fusion {
  color: rgba(219, 191, 241, 0.60);
}
#edit #console .field_tools .tool:hover {
  color: rgba(255, 255, 255, 0.90);
}
#edit #canvas .wrapper_left {
  /*float: left;*/
}
#edit #canvas .wrapper_right {
  /*float: left;
  margin-left: 2px;*/
}
#edit #canvas .wrapper_dr-light {
  background-color: rgb(0, 0, 100);
  background-color: rgba(0, 0, 255, 0.1);
}
#edit #canvas .wrapper_dr-wily {
  background-color: rgb(100, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}
#edit #canvas .wrapper_dr-cossack {
  background-color: rgb(80, 0, 80);
  background-color: rgba(160, 0, 160, 0.1);
}
#edit #canvas .wrapper .event {
  width: 100%;
}
#edit #canvas .sprite_player {
  position: static;
  float: left;
  height: 50px;
  width: 50px;
  background-color: #000000;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  margin: 2px 2px 0;
  background-position: -8px -12px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 0.30;
}
#edit #canvas .sprite_player:hover {
  opacity: 0.90;
}
#edit #canvas .sprite_player_current,
#edit #canvas .sprite_player_current:hover {
  opacity: 1.0;
}
#edit #canvas .sprite_player_dr-light_current {
  border-color: rgb(80, 100, 255);
}
#edit #canvas .sprite_player_dr-wily_current {
  border-color: rgb(255, 100, 100);
}
#edit #canvas .sprite_player_dr-cossack_current {
  border-color: rgb(144, 61, 190);
}

#edit #canvas .wrapper_left .sprite_player {

}
#edit #canvas .wrapper_right .sprite_player {

}

#edit #canvas .options {
  display: block;
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 46px;
  height: 17px;
  border: 1px solid rgb(36,36,36);
  border-width: 1px 0 0 1px;
  font-size: 6px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: right;
  text-transform: none;
  padding: 1px 16px 1px 6px;
  border-radius: 0 5em 0 0;
  -moz-border-radius: 0 5em 0 0;
  -webkit-border-radius: 0 5em 0 0;
  background-color: rgb(43,43,43);
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgb(43,43,43)),
      color-stop(0.75, rgb(41,41,41))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,43,43) 15%,
      rgb(41,41,41) 75%
  );
  text-shadow: 1px 1px 4px #333333;
  cursor: pointer;
  _cursor: hand;
  box-shadow: 0 1px 2px #191919;
  -moz-box-shadow: 0 1px 2px #191919;
  -webkit-box-shadow: 0 1px 2px #191919;
  overflow: hidden;
  z-index: 30;
  text-decoration: none;
}

#edit #console {
  /* width: 100% !important; */
  overflow: visible;
  height: auto;
  float: none;
  margin: 0 auto 2px;
  width: 100% !important;
  min-height: 230px;  
}
#edit #console .event {
  margin: 0;
  min-height: 272px;  
}
#edit #console .event_hidden {
  display: none;
}
#edit #console .event_visible {
  
}
#edit #console .event table td.right {
  line-height: 21px;
}
#edit #console .event label.original_player_dr-light span.current_player_dr-wily,
#edit #console .event label.original_player_dr-light span.current_player_dr-cossack {
  color: rgb(171, 228, 255) !important;
}
#edit #console .event label.original_player_dr-wily span.current_player_dr-light,
#edit #console .event label.original_player_dr-wily span.current_player_dr-cossack {
  color: rgb(255, 171, 171) !important; 
}
#edit #console .event label.original_player_dr-cossack span.current_player_dr-light,
#edit #console .event label.original_player_dr-cossack span.current_player_dr-wily {
  color: rgb(190, 141, 223) !important;
}
#edit #console .event a.player_name {
  display: block; 
  float: right;
  padding: 1px 0; 
  margin: 2px 0 0;
  width: 135px; 
  text-align: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  height: 13px;
  cursor: pointer;
  _cursor: hand;
}
#edit #console .event a.player_name:hover {
  background-color: #515151;
}
#edit #console .event a.player_name label {
  display: block; 
  margin: 0;
  padding-left: 10px;
  width: auto; 
  text-align: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  height: 13px;
  cursor: pointer;
  _cursor: hand;
  pointer-events:none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 -3px;
  background-size: 17px 17px;
}
#edit #console .event select.player_name,
#edit #console .event select.player_name:hover {
  display: block; 
  margin: 0;
  padding: 2px 3px 2px 8px; 
  width: 135px; 
  text-align: left;
  overflow: hidden; 
  white-space: nowrap;
  height: 13px;
  position: relative;
  top: -16px;
  left: -2px;
  border: 0 none transparent;
  background-color: rgb(43,43,43);
  color: #FFFFFF;
  opacity: 0;
  font-size: 12px;
  line-height: 19px;
  height: 19px;
  cursor: pointer;
  _cursor: hand; 
  text-decoration: none;
  font-weight: normal;
  /*
  background-color: red;
  opacity: 0.30;
  */ 
}
#edit #console .event select.player_name option {
  text-align: center;
}
#edit #console .event a.player_name label .arrow {
  display: block; 
  width: auto;
  height: auto;
  text-align: center; 
  cursor: pointer;
  _cursor: hand;  
  color: #FFFFFF;
  position: absolute;
  top: 3px;
  right: 4px;
  font-size: 8px;
  line-height: 8px;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
#edit #console .event a.player_name:hover label .arrow {   
  opacity: 1.00;
  filter: alpha(opacity=100);
}

#edit #console .event a.player_level_reset {
  color: #FFFFFF !important;
  text-decoration: none;
  cursor: pointer;
}


#edit #console .event .statboost_player {
  color: rgb(213, 255, 202) !important;
}
#edit #console .event .statboost_player_dr-light {
  color: rgb(171, 228, 255) !important;
}
#edit #console .event .statboost_player_dr-wily {
  color: rgb(255, 171, 171) !important; 
}
#edit #console .event .statboost_player_dr-cossack {
  color: rgb(190, 141, 223) !important;
}

#edit #console .event .item_header,
#edit #console .event .field_header {
  display: block; 
  float: none;
  clear: both; 
  text-align: left;
  font-size: 12px;
}
#edit #console .event .item_container,
#edit #console .event .field_container {
  display: block; 
  float: none;
  clear: both; 
  padding-top: 2px;
  width: auto; 
  text-align: left; 
  overflow: hidden; 
  height: 50px;
}
#edit #console .event a.field_name {
  display: block; 
  float: left;
  padding: 3px; 
  margin: 0 5px 5px 0;
  width: 23.0%; 
  text-align: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  height: 19px;
  cursor: pointer;
  _cursor: hand;
  background-image: none;
  background-repeat: no-repeat;
  background-position: -4px -4px;
  background-size: 100.1% auto;
  border-color: rgb(22,22,22) !important;
}
#edit #console .event a.field_name:hover {
  background-color: #515151;
}
#edit #console .event a.field_name label {
  display: block; 
  margin: 0;
  padding: 2px 0;
  width: auto; 
  text-align: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  height: 13px;
  cursor: pointer;
  _cursor: hand;
  pointer-events:none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: -4px -4px;
  background-size: 150px auto;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #000000 !important;
  border-color: rgba(0, 0, 0, 0.75) !important;
}
#edit #console .event select.field_name,
#edit #console .event select.field_name:hover {
  display: block; 
  margin: 0;
  padding: 2px 0; 
  width: auto; 
  min-width: 100px;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap;
  height: 13px;
  position: relative;
  top: -16px;
  left: -2px;
  border: 0 none transparent;
  background-color: rgb(43,43,43);
  color: #FFFFFF;
  opacity: 0;
  font-size: 12px;
  line-height: 19px;
  height: 13px;
  cursor: pointer;
  _cursor: hand; 
  text-decoration: none;
  font-weight: normal;
  /*
  background-color: red;
  opacity: 0.30;
  */ 
}
#edit #console .event select.field_name option {
  text-align: left;
}
#edit #console .event a.ability_name {
  display: block; 
  float: left;
  padding: 2px 3px; 
  margin: 0 5px 5px 0;
  width: 23.0%; 
  text-align: center; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  height: 13px;
  cursor: pointer;
  _cursor: hand;
}
#edit #console .event a.ability_name:hover {
  background-color: #515151;
}
#edit #console .event a.ability_name label {
  display: block; 
  margin: 0;
  padding-left: 15px;
  width: 125px; 
  text-align: left; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  height: 13px;
  cursor: pointer;
  _cursor: hand;
  pointer-events:none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: -4px -4px;
  background-size: 20px 20px;
}
#edit #console .event select.ability_name,
#edit #console .event select.ability_name:hover {
  display: block; 
  margin: 0;
  padding: 2px 3px; 
  width: auto; 
  min-width: 100px;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap;
  height: 13px;
  position: relative;
  top: -16px;
  left: -2px;
  border: 0 none transparent;
  background-color: rgb(43,43,43);
  color: #FFFFFF;
  opacity: 0;
  font-size: 12px;
  line-height: 19px;
  height: 19px;
  cursor: pointer;
  _cursor: hand; 
  text-decoration: none;
  font-weight: normal;
  /*
  background-color: red;
  opacity: 0.30;
  */ 
}
#edit #console .event select.ability_name option {
  text-align: left;
}

#edit #console .header {
  height: auto;
  width: auto;
  float: none;
  box-shadow: 0 0 0 transparent;
  background-image: none;
  font-size: 10px;
  padding: 5px 8px;
  color: #FFFFFF;
  position: relative;
}
#edit #console .header .player_type {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 2px 6px;  
  background-color: rgba(0, 0, 0, 0.25) !important;
  border-color: rgba(0, 0, 0, 0.25) !important;
}


/*
 * MOBILE OVERRIDE STYLES
 */

/* -- Landscape Mode -- */
@media (min-width: 1024px){
  
  #mmrpg,
  #mmrpg #prototype {
    width: 1024px;
  } 
  #prototype #canvas {
    width: 100% !important;
  } 
  #edit #console .event a.field_name {
    width: 23.6%;
  }
  #edit #console .event a.ability_name {
    width: 23.6%;
  }

  

}