body.prototype {
  background-color: #262626;   
  border-color: #262626; 
}
#falloff {
  display: block;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  bottom: 0;
  background-color: rgba(38,38,38,1);  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.75, rgba(38,38,38,1)),
      color-stop(1.00, rgba(38,38,38,0))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(38,38,38,1) 75%,
      rgba(38,38,38,0) 100%
  ); 
  background-color: transparent;
  z-index: 20;
  pointer-events: none;
}
#prototype {
  margin: 0 auto;
  width: 768px;
  height: 1024px;
  padding: 0;
  vertical-align: top;
  border: 0 none transparent;
  background-color: transparent;
  overflow: hidden;
  border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;    
}
#prototype.hidden {
  display: none;
}
#prototype .banner {
  display: block;
  position: relative;
  margin: 8px 8px 8px 6px;
  padding: 0;
  width: 750px;
  /*height: 248px;*/
  height: 184px;
  font-size: 10px;
  line-height: 248px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0;
  border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  color: #696969;
  border: 2px solid #1A1A1A;
  background-color: #222222;  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgba(0, 0, 0, 0.05)),
      color-stop(0.75, rgba(255, 255, 255, 0.05))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(0, 0, 0, 0.05) 15%,
      rgba(255, 255, 255, 0.05) 75%
  ); 
  text-shadow: 1px 1px 4px #333333;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;    
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-clip: padding-box;  
  -moz-background-clip: padding;  
  -webkit-background-clip: padding;  
}
#prototype .banner .background,
#prototype .banner .foreground,
#prototype .banner .credits,
#prototype .banner .overlay {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
  font-size: 1px;
  line-height: 1px;
  background: transparent none scroll repeat-x center top;
  border: 0 none transparent;
  border-radius: 8em;
  -moz-border-radius: 8em;
  -webkit-border-radius: 8em;   
  background-clip: padding-box;  
  -moz-background-clip: padding;  
  -webkit-background-clip: padding;  
}
#prototype .banner .background {
  z-index: 10;
}
#prototype .banner .foreground {
  z-index: 20;
}
#prototype .banner .credits {
  z-index: 30;
  background-position: center -40px;
}
#prototype .banner .overlay {
  z-index: 40;
  background-color: #000000;
  opacity: 0;
}
#prototype .banner .overlay_hidden {
  display: none;
}
#prototype .banner .title {
  display: none;
}
#prototype .banner .tooltip {
  display: block;
  position: absolute;
  left: 216px;
  right: 236px;
  bottom: 0;
  min-height: 1px;
  padding: 3px 3px 6px;
  border: 1px solid #202020;
  border-width: 1px 1px 0;
  border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -webkit-border-radius: 0.5em 0.5em 0 0;  
  text-align: left;
  text-transform: none;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #EFEFEF;
  background-color: rgb(43,43,43);  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgba(43,43,43,0.9)),
      color-stop(0.75, rgb(41,41,41))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(43,43,43,0.9) 15%,
      rgb(41,41,41) 75%
  ); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);  
  overflow: hidden;  
  z-index: 30;
  cursor: pointer;
  height: auto;  
  bottom: -86px;
}
#prototype .banner .tooltip:hover {
  bottom: 0;
}
#prototype .banner .tooltip strong {
  display: block;
  padding: 2px 6px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 11px;
  line-height: 13px;
  border-radius: 0.3em 0.3em 0 0;
  -moz-border-radius: 0.3em 0.3em 0 0;
  -webkit-border-radius: 0.3em 0.3em 0 0;
  text-align: center;
}
#prototype .banner .tooltip span {
  display: block;
  padding: 2px 6px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.3em 0.3em;
  -moz-border-radius: 0 0 0.3em 0.3em;
  -webkit-border-radius: 0 0 0.3em 0.3em;
}
#prototype .banner .points,
#prototype .banner .zenny {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 228px;
  height: 42px;
  border: 1px solid #090909;
  border-color: #090909 !important;
  border-width: 0 0 1px 1px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 3px;
  text-align: right;
  text-transform: uppercase;
  padding: 0;
  border-radius: 0 0.5em 0 5em;
  -moz-border-radius: 0 0.5em 0 5em;
  -webkit-border-radius: 0 0.5em 0 5em;
  color: #EFEFEF;
  background-color: rgb(43,43,43);
  text-shadow: 1px 1px 4px #333333;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;    
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);  
  overflow: hidden;
  z-index: 30;
}
#prototype .banner .zenny {
  top: 43px;
  width: 163px;
  height: 19px;
  font-size: 9px;
}
#prototype .banner .points .label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #DFDFDF;
}
#prototype .banner .points .amount,
#prototype .banner .zenny .amount {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #CFCFCF;
}
#prototype .banner .zenny .amount {
  font-size: 10px;
  letter-spacing: 2px;
  color: #ABABAB;
}
#prototype .banner .points .amount .padding {
  color: #4F4F4F;
  color: rgba(255, 255, 255, 0.25);
}
#prototype .banner .points .amount .pipe {
  padding: 0;
  font-size: 8px;
  font-weight: normal;
  color: #696969;
  text-transform: none;
  position: relative;
  top: -2px;
  margin: 0 -4px;
}
#prototype .banner .points .amount .place {
  padding-left: 0;
  color: #70B9D5;
  text-transform: none;
}

#prototype .banner .points .wrapper {
  display: block;
  margin: 0;
  padding: 3px 5px;
  width: 220px;
  height: 36px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 3px;
  text-align: right;
  text-transform: uppercase;
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.50) 100%) !important; /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.40)), color-stop(100%,rgba(0,0,0,0.50))) !important; /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.50) 100%) !important; /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.50) 100%) !important; /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.50) 100%) !important; /* IE10+ */
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.50) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CFFFFFF', endColorstr='#0C000000',GradientType=0 ) !important; /* IE6-9 */
}
#prototype .banner .zenny .wrapper {
  display: block;
  margin: 0;
  padding: 3px 5px;
  width: 153px;
  height: 16px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 3px;
  text-align: right;
  text-transform: lowercase;
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.50) 100%) !important; /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.60)), color-stop(100%,rgba(0,0,0,0.50))) !important; /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.50) 100%) !important; /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.50) 100%) !important; /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.50) 100%) !important; /* IE10+ */
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0.60) 0%,rgba(0,0,0,0.50) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CFFFFFF', endColorstr='#0C000000',GradientType=0 ) !important; /* IE6-9 */
}
#prototype .banner .points a.wrapper,
#prototype .banner .points a.wrapper * {
  cursor: pointer !important;
}

#prototype .banner .options {
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 264px;
  height: 22px;
  border: 1px solid #090909;
  border-color: #090909 !important;
  border-width: 1px 0 0 1px;
  font-size: 6px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: right;
  text-transform: none;
  padding: 1px 10px 1px 16px;
  border-radius: 5em 0 2.5em 0;
  -moz-border-radius: 5em 0 2.5em 0;
  -webkit-border-radius: 5em 0 2.5em 0;
  background-color: rgb(43,43,43);  
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);  
  overflow: hidden;
  z-index: 30;
  text-decoration: none;    
}
#prototype .banner .options .link,
#prototype .banner .options .user,
#prototype .banner .options .pipe {
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #CACACA;
  cursor: pointer;
  _cursor: hand;  
  text-decoration: none;
}
#prototype .banner .options .link_active,
#prototype .banner .options .link:hover {
  text-decoration: underline;
}
#prototype .banner .options .link,
#prototype .banner .options .link label {
  cursor: pointer;
  _cursor: hand;
}
#prototype .banner .options .pipe {
  padding: 0 4px;
  font-size: 6px;
  font-weight: normal;
  color: #696969;
  color: rgba(0, 0, 0, 0.6);
  cursor: cursor;
}
#prototype .banner .options_userinfo {
  overflow: visible;
  bottom: 18px; 
  width: auto; 
  height: 36px;
  padding: 0;
  -moz-border-radius: 27px 0 0 0;
  -webkit-border-radius: 27px 0 0 0;  
  border-radius: 27px 0 0 0;
}
#prototype .banner .options_userinfo .info {
  float: right; 
  color: #70D580;
  font-size: 13px;
}
#prototype .banner .options_userinfo .info_userinfo {
  padding: 3px 34px 0 10px;
}
#prototype .banner .options_userinfo .info_userinfo .name {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
#prototype .banner .options_userinfo .info_userinfo .mode {
  display: block;
  font-size: 9px;
  line-height: 10px;
  color: #4F4F4F;
  color: rgba(255, 255, 255, 0.50);
}
#prototype .banner .options_userinfo .info_demo {
  color: #F75656;
}

#prototype .banner .options_userinfo .sprite_40x40_00 {

}
#prototype .banner .options_userinfo:hover .sprite_40x40_00 {
  background-position: -80px 0;
}
#prototype .banner .options_userinfo .sprite_80x80_00 {

}
#prototype .banner .options_userinfo:hover .sprite_80x80_00 {
  background-position: -160px 0;
}

#prototype .banner .options_fullmenu {
  right: -2px; 
  left: -2px; 
  width: auto;
  padding: 0;
  border-width: 1px 0 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  text-align: center;  
  background-color: 
}
#prototype .banner .options_fullmenu .link,
#prototype .banner .options_fullmenu .pipe {
  display: inline-block;
  float: none; 
}
#prototype .banner .options_fullmenu .pipe {
  position: relative;
  bottom: 2px;
}
#prototype .banner .points,
#prototype .banner .options {
}

#prototype .banner .options_userinfo .wrapper {
  display: block;
  margin: 0;
  padding: 1px 10px 1px 16px;
  min-width: 140px; 
  height: 36px;
  -moz-border-radius: 26px 0 0 0;
  -webkit-border-radius: 26px 0 0 0;  
  border-radius: 26px 0 0 0;
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 100%) !important; /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.40)), color-stop(100%,rgba(0,0,0,0.50))) !important; /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%) !important; /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%) !important; /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%) !important; /* IE10+ */
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CFFFFFF', endColorstr='#0C000000',GradientType=0 ) !important; /* IE6-9 */
}

#prototype .banner .options_userinfo a.wrapper,
#prototype .banner .options_userinfo a.wrapper * {
  cursor: pointer !important;
}
#prototype .banner .options_userinfo a.wrapper .sprite {
  pointer-events: none !important;
}
#prototype .banner .options_fullmenu .wrapper {  
  display: block;
  position: absolute;
  right: -2px; 
  left: -2px; 
  width: auto;
  padding: 0 10px 1px 10px;
  text-align: center;  
  background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.50) 100%) !important; /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0.50))) !important; /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.50) 100%) !important; /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.50) 100%) !important; /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.50) 100%) !important; /* IE10+ */
  background-image: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.50) 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0CFFFFFF', endColorstr='#0C000000',GradientType=0 ) !important; /* IE6-9 */
}

#prototype .banner .debug {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 75px;
  height: 30px;
  border: 1px solid rgb(36,36,36);
  border-width: 0 0 1px 1px;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #EFEFEF;
  background-color: rgb(43,43,43);  
  z-index: 30;
  opacity: 0;
}


#prototype .header {
  display: block;
  float: left;
  height: 45px;
  width: 750px;  
  margin: 0 0 3px 0;
  vertical-align: top;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  color: #FFFFFF;
  border: 2px solid #1A1A1A;
  background-color: #222222;  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgba(0, 0, 0, 0.05)),
      color-stop(0.75, rgba(255, 255, 255, 0.05))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(0, 0, 0, 0.05) 15%,
      rgba(255, 255, 255, 0.05) 75%
  ); 
  text-shadow: 1px 1px 4px #333333;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;    
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  width: auto;
  float: none;
  clear: both;
}
#prototype .header .reselect,
#prototype .header .prev,
#prototype .header .next {
  display: block;
  float: right;
  width: 30px;
  height: 28px;
  overflow: hidden;
  border: 2px solid transparent;
  border-color: rgb(20, 20, 20);
  border-color: rgba(20, 20, 20, 0.3);
  background-color: rgb(40, 40, 40);
  background-color: rgba(40, 40, 40, 0.3);
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.25);
  font-size: 36px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  _cursor: hand;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}
#prototype .header .reselect:hover,
#prototype .header .prev:hover,
#prototype .header .next:hover {
  color: rgba(255, 255, 255, 0.50);
}
#prototype .header .prev {
  right: auto;
  left: 6px;
}

#prototype .header_dr-light,
#prototype .header_dr-wily,
#prototype .header_dr-cossack {
  background-repeat: repeat;
  background-position: 0 0;
}
#prototype .header_dr-light {
  background-image: url(../images/menus/menu-options_this-dr-light-player-select.gif);
}
#prototype .header_dr-wily {
  background-image: url(../images/menus/menu-options_this-dr-wily-player-select.gif);
}
#prototype .header_dr-cossack {
  background-image: url(../images/menus/menu-options_this-dr-cossack-player-select.gif);
}
#prototype .header_dr-light .count,
#prototype .header_dr-wily .count,
#prototype .header_dr-cossack .count {
  display: block;
  height: 30px;
  line-height: 30px;
  width: auto;  
  margin: 6px;
  vertical-align: top;
  padding: 0;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  color: #FFFFFF;
  border: 1px solid #1A1A1A;
  background-color: rgb(22, 22, 22);
  background-color: rgba(22, 22, 22, 0.95);  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgba(0, 0, 0, 0.05)),
      color-stop(0.75, rgba(255, 255, 255, 0.05))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(0, 0, 0, 0.05) 15%,
      rgba(255, 255, 255, 0.05) 75%
  ); 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#prototype .option_wrapper {
  display: block;
  height: 284px; 
  overflow: hidden;  
  /*margin-right: -26px; CHECKPOINT*/
}
#prototype .select_this_player_robots .option_wrapper {
  overflow-y: scroll;  
  margin-right: -26px;
}
#prototype .option_wrapper_full {
  height: auto; 
  overflow: hidden;
}
#prototype .option_wrapper_hidden {
  display: none;
}
#prototype .option_wrapper_players {
  
}
#prototype .option_wrapper_missions {
  padding-top: 24px;
  position: relative;
}
#prototype .option_wrapper_missions .chapter_select {
  display: block;
  position: absolute;
  top: 0;
  left: 6px;
  right: 4px;
  border: 2px solid #373737;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
  text-decoration: none;
  cursor: pointer;
  _cursor: hand;  
  background: transparent none scroll no-repeat center center;
  border: 0 none transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;  
}
#prototype .option_wrapper_missions .chapter_select .chapter_link {
  display: block;
  float: left;
  width: 8%;
  margin: 0 0.3% 0 0;
  border: 2px solid #2C2B2B;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
  text-decoration: none;
  cursor: pointer;
  _cursor: hand;  
  color: #999696;
  background-position: center top;
  text-shadow: 1px 1px 4px #333333;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);  
  padding: 2px 4px 4px;
  background-color: #2A2A2A;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);  
  border-top-style: none;
  border-radius: 0 0 0.75em 0.75em;
  -moz-border-radius: 0 0 0.75em 0.75em;
  -webkit-border-radius: 0 0 0.75em 0.75em;   
  box-sizing: border-box;
}

#prototype .option_wrapper_missions .chapter_select_1 .chapter_link {
  width: 99.70%;
}
#prototype .option_wrapper_missions .chapter_select_2 .chapter_link {
  width: 49.70%;
}
#prototype .option_wrapper_missions .chapter_select_3 .chapter_link {
  width: 33.03%;
}
#prototype .option_wrapper_missions .chapter_select_4 .chapter_link {
  width: 24.70%;
}
#prototype .option_wrapper_missions .chapter_select_5 .chapter_link {
  width: 19.70%;
}
#prototype .option_wrapper_missions .chapter_select_6 .chapter_link {
  width: 16.36%;
}
#prototype .option_wrapper_missions .chapter_select_7 .chapter_link {
  width: 13.90%;
}
#prototype .option_wrapper_missions .chapter_select_8 .chapter_link {
  width: 12.2%;
}
#prototype .option_wrapper_missions .chapter_select_9 .chapter_link {
  width: 10.81%;
}
#prototype .option_wrapper_missions .chapter_select_10 .chapter_link {
  width: 9.70%;
}
#prototype .option_wrapper_missions .chapter_select_11 .chapter_link {
  width: 8.79%;
}
#prototype .option_wrapper_missions .chapter_select_12 .chapter_link {
  width: 8.03%;
}


#prototype .option_wrapper_missions .chapter_select .chapter_link:hover,
#prototype .option_wrapper_missions .chapter_select .chapter_link_active {
  text-decoration: none;
  border-color: #373737;
  background-color: #2F2F2F;
  color: #FFFFFF;
}
#prototype .option_wrapper_missions .chapter_select .chapter_link_disabled,
#prototype .option_wrapper_missions .chapter_select .chapter_link_disabled:hover {
  text-decoration: none;
  border-color: #252525;
  background-color: #2A2A2A;
  color: #494343;
  cursor: default; 
  line-height: 25px;
}
#prototype .option_wrapper_missions .hidden_chapter_option {
  display: none !important;
}
#prototype .option_wrapper_robots {
  
}
#prototype .option {
  display: block;
  float: left;
  height: 65px;
  width: 748px;  
  margin: 0 0 3px 0;
  vertical-align: top;
  border: 2px solid #1A1A1A;
  border-color: #1A1A1A !important;
  font-size: 10px;
  line-height: 65px;
  letter-spacing: 2px;
  /*text-transform: uppercase;*/
  text-decoration: none;
  padding: 0;
  border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  cursor: pointer;
  _cursor: hand;  
  color: #FFFFFF;
  background-position: center top;
  background-color: rgb(65,65,65);  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgb(65,65,65)),
      color-stop(0.75, rgb(71,71,71))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(65,65,65) 15%,
      rgb(71,71,71) 75%
  ); 
  text-shadow: 1px 1px 4px #333333;  
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;  
}
#prototype .option_message {
  margin-top: 10px;
  background-color: transparent;
  background-image: none;
  border-color: transparent !important;
  box-shadow: 0 0 0 transparent;
  height: 58px !important;
  line-height: 58px !important; 
}
#prototype .option_message:first-child {
  margin-top: 0 !important;
}
#prototype .option_message,
#prototype .option_message * {
  /*cursor: default !important;*/     
}

/*
#prototype .option_message_collapsed {
  margin-top: 5px;
  opacity: 0.75;
  filter: opacity(alpha = 75);
}
#prototype .option_message_collapsed:hover {
  opacity: 1.00;
  filter: opacity(alpha = 100);
}
#prototype .option_message_collapsed,
#prototype .option_message_collapsed .chrome,
#prototype .option_message_collapsed .inset  {
  height: 22px !important;
}
#prototype .option_message_collapsed .sprite,
#prototype .option_message_collapsed .subtext,
#prototype .option_message_collapsed .subtext2 {
  display: none !important;
}
*/


/* -- HIDE ALL STORY RELATED TEXT -- */

#prototype .option_message {
  margin-top: 6px;
  margin-bottom: 8px;
  opacity: 1.00;
  filter: opacity(alpha = 100);
}
#prototype .option_message,
#prototype .option_message * {
  cursor: default !important;
}
#prototype .option_message,
#prototype .option_message .chrome,
#prototype .option_message .inset  {
  height: 22px !important;
}
#prototype .option_message .sprite,
#prototype .option_message .subtext,
#prototype .option_message .subtext2 {
  display: none !important;
}


#prototype .option:hover {
  color: #FFFFFF;  
}
#prototype .option_disabled {
  background-color: #595959;
  background-image: none;
  color: #CACACA;  
}
#prototype .option_disabled:hover {
  background-color: #595959;
  background-image: none;
  color: #CACACA;
}
#prototype .option_wrapper_default .option_complete,
#prototype .option_wrapper_complete .option_complete {
  background-color: #595959;
  background-image: none;
  color: #CACACA;  
  opacity: 0.45;
}
#prototype .option_wrapper_default .option_complete:hover,
#prototype .option_wrapper_complete .option_complete:hover {
  opacity: 0.75;
}
/*
#prototype .option_wrapper_complete .option_complete {
  opacity: 0.75;
}
#prototype .option_wrapper_complete .option_complete:hover {
  opacity: 1.00;
}
*/

#prototype .option_disabled {
  opacity: 0.2;
  cursor: default;
}
#prototype .option_hidden {
  display: none;
}

#prototype .option_back {
  height: 47px;
  line-height: 20px;
  border-color: #1A1A1A;
  background-color: #262626;
  background-image: none;
  color: #CACACA; 
  position: absolute;
  bottom: 0;
  left: 8px;
  z-index: 20;
}
#prototype .option_back:hover {
  background-color: #292929; 
}
#prototype .option_this-team-select {
  position: absolute;
  bottom: 54px;
  left: 8px;
}
#prototype .option_this-team-select .chrome label {
  width: 100px !important;
  margin-left: 460px !important;
  padding-left: 0 !important;
}
#prototype .option label {
  padding: 15px 50px;
  background-color: #2A2A2A;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  border: 2px solid #373737;
  border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -webkit-border-radius: 0.75em; 
  cursor: pointer;
  _cursor: hand;
  position: relative;
}
#prototype .option:hover label,
#prototype .option label:hover {
  background-color: #2D2D2D;
}
#prototype .menu {
  overflow: hidden;
  padding: 0 6px 0 6px;
}
#prototype .menu_hide {
  display: none;
}
#prototype .block_2,
#prototype .block_4,
#prototype .block_6,
#prototype .block_8,
#prototype .block_10 {
  /*
  margin-right: 0;
  width: 371px;
  */
}

#mmrpg #prototype .option_this-player-select {
  background-image: url(../images/menus/menu-options_this-player-select.gif);
  background-repeat: repeat;
}
#mmrpg #prototype .option_this-battle-select {
  background-image: url(../images/menus/menu-options_this-battle-select.gif);
}
#mmrpg #prototype .option_this-robot-select {
  background-image: url(../images/menus/menu-options_this-robot-select.gif);
}
#mmrpg #prototype .option_this-team-select {
  background-image: url(../images/menus/menu-options_this-team-select.gif);
}

#mmrpg #prototype .option_this-dr-light-select {
  background-image: url(../images/menus/menu-options_this-dr-light-player-select.gif);
}
#mmrpg #prototype .option_this-dr-light-player-select {
  background-image: url(../images/menus/menu-options_this-dr-light-player-select.gif);
}
#mmrpg #prototype .option_this-dr-light-battle-select {
  background-image: url(../images/menus/menu-options_this-dr-light-battle-select.gif);
}
#mmrpg #prototype .option_this-dr-light-robot-select {
  background-image: url(../images/menus/menu-options_this-dr-light-robot-select.gif);
}
#mmrpg #prototype .option_this-dr-light-team-select {
  background-image: url(../images/menus/menu-options_this-dr-light-team-select.gif);
}

#mmrpg #prototype .option_this-dr-wily-select {
  background-image: url(../images/menus/menu-options_this-dr-wily-player-select.gif);
}
#mmrpg #prototype .option_this-dr-wily-player-select {
  background-image: url(../images/menus/menu-options_this-dr-wily-player-select.gif);
}
#mmrpg #prototype .option_this-dr-wily-battle-select {
  background-image: url(../images/menus/menu-options_this-dr-wily-battle-select.gif);
}
#mmrpg #prototype .option_this-dr-wily-robot-select {
  background-image: url(../images/menus/menu-options_this-dr-wily-robot-select.gif);
}
#mmrpg #prototype .option_this-dr-wily-team-select {
  background-image: url(../images/menus/menu-options_this-dr-wily-team-select.gif);
}

#mmrpg #prototype .option_this-dr-cossack-select {
  background-image: url(../images/menus/menu-options_this-dr-cossack-player-select.gif);
}
#mmrpg #prototype .option_this-dr-cossack-player-select {
  background-image: url(../images/menus/menu-options_this-dr-cossack-player-select.gif);
}
#mmrpg #prototype .option_this-dr-cossack-battle-select {
  background-image: url(../images/menus/menu-options_this-dr-cossack-battle-select.gif);
}
#mmrpg #prototype .option_this-dr-cossack-robot-select {
  background-image: url(../images/menus/menu-options_this-dr-cossack-robot-select.gif);
}
#mmrpg #prototype .option_this-dr-cossack-team-select {
  background-image: url(../images/menus/menu-options_this-dr-cossack-team-select.gif);
}

#mmrpg #prototype .option_this-robot-select .sprite {
  pointer-events: none;
}



#mmrpg #prototype .canvas_overlay_footer {
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 342px;  
  padding-top: 24px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 0 0 0 1px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  white-space: normal;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3); 
  border-color: rgba(0, 0, 0, 0.3); 
  text-align: center; 
}
#mmrpg #prototype .canvas_overlay_footer .overlay_title {
  display: block;
  position: relative;
  top: -10px;
  left: -10px;
  right: -10px;
  padding: 5px 10px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-indent: 0;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.75); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px #000000;    
}
#mmrpg #prototype .canvas_overlay_footer .overlay_description {
  display: block;
  position: relative;
  top: -8px;
  margin-bottom: -4px;
  padding: 2px 5px;
  width: auto;
  min-height: 31px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-indent: 0; 
}
#mmrpg #prototype .canvas_overlay_footer .overlay_multipliers {
  display: block;
  position: relative;
  top: 6px;
  left: -5px;
  right: -5px;  
  padding: 6px 0 3px;
  margin: 0;
  width: 356px;
  background-color: transparent;
  background-color: rgba(46, 46, 46, 0.1); 
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);  
}
#mmrpg #prototype .canvas_overlay_footer .field_multiplier {
  display: inline-block;
  margin: 0 2px 4px;
  width: 96px;
}

#prototype .option_1x1,
#prototype .option_1x2,
#prototype .option_1x3,
#prototype .option_1x4 {
  /*
  height: 73px;
  line-height: 73px;
  */
  margin-right: 3px;
  
  height: 68px;
  line-height: 68px;
  
}
#prototype .option_1x1 {
  width: 181px;
}
#prototype .option_1x2 {
  width: 369px; 
}
#prototype .option_1x3 {
  width: 557px;
}
#prototype .option_1x4 {
  width: 745px;
}

#prototype .option_scroll {
  position: absolute;
  float: none;
  width: 34px;
  height: 38px;
  line-height: 38px;
  top: 272px;
  border: 1px solid #2A2A2A;
  background-color: rgb(45,45,45);  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.15, rgb(45,45,45)),
      color-stop(0.75, rgb(51,51,51))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(45,45,45) 15%,
      rgb(51,51,51) 75%
  );   
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  z-index: 100;
  opacity: 0.80;
  filter: alpha(opacity=80);
}
#prototype .option_scroll:hover {
  opacity: 1.00;
  filter: alpha(opacity=100);
}
#prototype .option_scroll_left {
  left: 12px; 
  text-align: left;
  padding-left: 8px;
}
#prototype .option_scroll_right {
  right: 12px; 
  text-align: right;
  padding-right: 8px;
}
#prototype .option_scroll .arrow {
  font-size: 20px;
}

#prototype .option_fieldback {
  background-position: 0 0 !important; 
  background-size: 100% auto !important;
}

#prototype .option_1x1 .platform,
#prototype .option_1x2 .platform,
#prototype .option_1x3 .platform,
#prototype .option_1x4 .platform,
#prototype .option_1x1 .chrome,
#prototype .option_1x2 .chrome,
#prototype .option_1x3 .chrome,
#prototype .option_1x4 .chrome {
  display: block;
  margin: 0;
  height: 52px;
  line-height: 52px;
  padding: 8px;
  border: 0 solid transparent;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.75, rgba(255, 255, 255, 0.10)),
      color-stop(0.15, rgba(0, 0, 0, 0.30))
      
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(255, 255, 255, 0.10) 15%,
      rgba(0, 0, 0, 0.30) 75%
  );   
  border-radius: 0.60em;
  -moz-border-radius: 0.60em;
  -webkit-border-radius: 0.60em;   
}
#prototype .option_1x1 .platform,
#prototype .option_1x2 .platform,
#prototype .option_1x3 .platform,
#prototype .option_1x4 .platform {
  background-position: left bottom;
  background-size: auto 100%;
  background-repeat: repeat-x;
}
#prototype .option_1x3 .platform,
#prototype .option_1x4 .platform {
  background-position: -23% bottom;
}
#prototype .option_1x1 .chrome,
#prototype .option_1x2 .chrome,
#prototype .option_1x3 .chrome,
#prototype .option_1x4 .chrome {
  padding: 0;
}
#prototype .option_1x1 .chrome_type,
#prototype .option_1x2 .chrome_type,
#prototype .option_1x3 .chrome_type,
#prototype .option_1x4 .chrome_type {
  margin: 4px;
  padding: 4px;
}

#prototype .option_message .chrome {
  background-image: none;
  padding: 4px 0;  
}

#prototype .option_1x1 .inset,
#prototype .option_1x2 .inset,
#prototype .option_1x3 .inset,
#prototype .option_1x4 .inset {
  display: block;
  margin: 0;  
  padding: 0;
  background-color: rgb(38, 38, 38);
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #090909;
  border-radius: 0.75em 0.75em 0.75em 0.75em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.75, rgba(255, 255, 255, 0.05)),
      color-stop(0.15, rgba(0, 0, 0, 0.05))
      
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgba(255, 255, 255, 0.05) 15%,
      rgba(0, 0, 0, 0.05) 75%
  );   
  cursor: pointer;  
  height: 50px;
  line-height: 50px;  
  overflow: visible;
}


#prototype .option_message .inset {
  background-color: rgb(15, 15, 15);
}

#prototype .option_1x1 div label,
#prototype .option_1x2 div label,
#prototype .option_1x3 div label,
#prototype .option_1x4 div label,
#prototype .option_1x1:hover div label,
#prototype .option_1x2:hover div label,
#prototype .option_1x3:hover div label,
#prototype .option_1x4:hover div label,
#prototype .option_1x1 div:hover label,
#prototype .option_1x2 div:hover label,
#prototype .option_1x3 div:hover label,
#prototype .option_1x4 div:hover label,
#prototype .option_1x1 div label:hover,
#prototype .option_1x2 div label:hover,
#prototype .option_1x3 div label:hover,
#prototype .option_1x4 div label:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;  
  display: block;
  height: 13px;
  line-height: 13px;
  margin: 0 auto;
  padding: 0 7px;
  text-align: center;
  /*width: 106px;*/
  width: auto;  
  height: 44px;
  line-height: 44px;
  text-shadow: 1px 1px 1px #000000;
}

/*
#prototype .option_1x1 div label,
#prototype .option_1x1:hover div label,
#prototype .option_1x1 div:hover label,
#prototype .option_1x1 div label:hover {
  width: 150px;
}
#prototype .option_1x2 div label,
#prototype .option_1x2:hover div label,
#prototype .option_1x2 div:hover label,
#prototype .option_1x2 div label:hover {
  width: 150px;
}
#prototype .option_1x3 div label,
#prototype .option_1x3:hover div label,
#prototype .option_1x3 div:hover label,
#prototype .option_1x3 div label:hover {
  width: 150px;
}
#prototype .option_1x4 div label,
#prototype .option_1x4:hover div label,
#prototype .option_1x4 div:hover label,
#prototype .option_1x4 div label:hover {
  width: 150px;
}
*/

#prototype .option div label.has_image {
  text-align: left;
}
#prototype .option div label.has_image .sprite {
  pointer-events: none;
}
#prototype .banner .option div label.has_image .sprite {
  pointer-events: auto;
}

#prototype .option div label.has_image .sprite:nth-child(1) {
  z-index: 100;
  opacity: 1.00;
}
#prototype .option div label.has_image .sprite:nth-child(2) {
  z-index: 99;
  opacity: 0.91;
}
#prototype .option div label.has_image .sprite:nth-child(3) {
  z-index: 98;
  opacity: 0.82;
}
#prototype .option div label.has_image .sprite:nth-child(4) {
  z-index: 97;
  opacity: 0.73;
}
#prototype .option div label.has_image .sprite:nth-child(5) {
  z-index: 96;
  opacity: 0.64;
}
#prototype .option div label.has_image .sprite:nth-child(6) {
  z-index: 95;
  opacity: 0.55;
}
#prototype .option div label.has_image .sprite:nth-child(7) {
  z-index: 94;
  opacity: 0.46;
}
#prototype .option div label.has_image .sprite:nth-child(8) {
  z-index: 93;
  opacity: 0.37;
}
#prototype .option div label.has_image .sprite:nth-child(9) {
  z-index: 92;
  opacity: 0.28;
}
#prototype .option div label.has_image .sprite:nth-child(10) {
  z-index: 91;
  opacity: 0.22;
}
#prototype .option div label.has_image .sprite:nth-child(11) {
  z-index: 90;
  opacity: 0.11;
}
#prototype .option div label.has_image .sprite:nth-child(n+12) {
  z-index: 89;
  opacity: 0.05;
}

#prototype .option_1x1:hover .sprite_40x40_base,
#prototype .option_1x1 div:hover .sprite_40x40_base,
#prototype .option_1x1 div label:hover .sprite_40x40_base,
#prototype .option_1x2:hover .sprite_40x40_base,
#prototype .option_1x2 div:hover .sprite_40x40_base,
#prototype .option_1x2 div label:hover .sprite_40x40_base,
#prototype .option_1x3:hover .sprite_40x40_base,
#prototype .option_1x3 div:hover .sprite_40x40_base,
#prototype .option_1x3 div label:hover .sprite_40x40_base,
#prototype .option_1x4:hover .sprite_40x40_base,
#prototype .option_1x4 div:hover .sprite_40x40_base,
#prototype .option_1x4 div label:hover .sprite_40x40_base {
  background-position: -40px 0;
}
#prototype .option_1x1:hover .sprite_80x80_base,
#prototype .option_1x1 div:hover .sprite_80x80_base,
#prototype .option_1x1 div label:hover .sprite_80x80_base,
#prototype .option_1x2:hover .sprite_80x80_base,
#prototype .option_1x2 div:hover .sprite_80x80_base,
#prototype .option_1x2 div label:hover .sprite_80x80_base,
#prototype .option_1x3:hover .sprite_80x80_base,
#prototype .option_1x3 div:hover .sprite_80x80_base,
#prototype .option_1x3 div label:hover .sprite_80x80_base,
#prototype .option_1x4:hover .sprite_80x80_base,
#prototype .option_1x4 div:hover .sprite_80x80_base,
#prototype .option_1x4 div label:hover .sprite_80x80_base {
  background-position: -80px 0;
}
#prototype .option_1x1:hover .sprite_160x160_base,
#prototype .option_1x1 div:hover .sprite_160x160_base,
#prototype .option_1x1 div label:hover .sprite_160x160_base,
#prototype .option_1x2:hover .sprite_160x160_base,
#prototype .option_1x2 div:hover .sprite_160x160_base,
#prototype .option_1x2 div label:hover .sprite_160x160_base,
#prototype .option_1x3:hover .sprite_160x160_base,
#prototype .option_1x3 div:hover .sprite_160x160_base,
#prototype .option_1x3 div label:hover .sprite_160x160_base,
#prototype .option_1x4:hover .sprite_160x160_base,
#prototype .option_1x4 div:hover .sprite_160x160_base,
#prototype .option_1x4 div label:hover .sprite_160x160_base {
  background-position: -160px 0;
}

#prototype .option_1x1 div label .multi,
#prototype .option_1x2 div label .multi,
#prototype .option_1x3 div label .multi,
#prototype .option_1x4 div label .multi {
  display: block;
  line-height: 11px;
  text-align: left;
  top: 1px;  
}
#prototype .option_1x1 div label .multi .online_type,
#prototype .option_1x2 div label .multi .online_type,
#prototype .option_1x3 div label .multi .online_type,
#prototype .option_1x4 div label .multi .online_type
#prototype .option_1x1 div label .multi .custom_type,
#prototype .option_1x2 div label .multi .custom_type,
#prototype .option_1x3 div label .multi .custom_type,
#prototype .option_1x4 div label .multi .custom_type {
  padding: 0 3px;
  margin-left: 4px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
#prototype .option_1x1 div label .multi .custom_type,
#prototype .option_1x2 div label .multi .custom_type,
#prototype .option_1x3 div label .multi .custom_type,
#prototype .option_1x4 div label .multi .custom_type {
  padding-right: 1px;
  margin-left: 2px;
}
#prototype .option_1x1 div label .maintext,
#prototype .option_1x2 div label .maintext,
#prototype .option_1x3 div label .maintext,
#prototype .option_1x4 div label .maintext {
  display: block;
  position: absolute;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  line-height: 13px;
  font-weight: bold;  
  top: 3px;
  z-index: 20;
}
#prototype .option div label .subtext .pipe,
#prototype .option div label .subtext2 .pipe {
  opacity: 0.33;
  filter: alpha(opacity=33);
}
#prototype .option div label .subtext,
#prototype .option div label .subtext2 {
  display: block;
  position: absolute;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
  font-size: 9px;
  line-height: 13px;
  opacity: 0.8;
  top: 16px;
  z-index: 20;
}
#prototype .option div label .subtext2 {
  top: 28px;
}

#prototype .option_1x1 div label .arrow,
#prototype .option_1x2 div label .arrow,
#prototype .option_1x3 div label .arrow,
#prototype .option_1x4 div label .arrow {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 3px;
}

#prototype .option_this-team-select .count {
  text-transform: uppercase;
}

/* WINDOW SIZE STYLES */

/* -- Landscape Mode -- */
@media (min-width: 1024px){

  #prototype {
    width: 1024px;  
  }
  #prototype .banner {
    width: auto;
    float: none;
    clear: both;
  }
  #prototype .banner .tooltip {
    bottom: -50px;
  }
  #prototype .banner .tooltip:hover {
    bottom: 0;
  }
  #prototype .header,
  #prototype .option_1x4 {
    width: auto;
    float: none;
    clear: both;
  }
  #prototype .option_scroll {
    width: 34px;
  }
  #prototype .option_1x1 {
    width: 245px;
  }
  #prototype .option_1x2 {
    width: 497px;
  }
  #prototype .option_1x3 {
    width: 741px;
  }
  #prototype .option_1x4 {
    width: 1000px;
  }
  #prototype .option_1x1 div label,
  #prototype .option_1x2 div label,
  #prototype .option_1x3 div label,
  #prototype .option_1x4 div label {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;  
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  #prototype .option_back {
    width: auto;
    right: 8px;
  }
  #prototype .select_this_player_robots .option_wrapper {
    margin-right: -30px;
  }
  #prototype .option_wrapper_missions .chapter_select {
    right: -6px;
  }  
  #prototype .option_this-team-select .chrome label {
    margin-left: 560px !important;
  }  
  #prototype .menu {
    padding: 0 10px 0 5px;
  }
  #prototype .option_wrapper_missions .chapter_select_6 .chapter_link {
    width: 16.16%;
  }

}