body.prototype {
  background-color: transparent;
}
#prototype {
  margin: 0;
  /*height: 1004px;*/
  border: 0 none transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -website-box-shadow: 0 0 0 transparent;  
  background-color: transparent;
}
#prototype .banner {
  /* border-color: #373737; */
}


#prototype .banner .points {   
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -website-box-shadow: 0 0 0 transparent;  
}
#prototype .banner .points .amount {
  color: #CFCFCF !important;
  text-decoration: none !important;
}
#prototype .banner .points .amount .padding {
  color: #4F4F4F !important;
  text-decoration: none !important;
}

#prototype .battle {

}
#prototype .option_wrapper {
  /*margin-right: -10px;*/
}
#prototype .option_back {
  left: 7px;
}



#prototype .option_wrapper_missions .chapter_select {
      
}
#prototype .option {
  
}

#prototype {
  height: 876px;
  width: 768px;  
}
#prototype .banner {
  width: 748px;
}
#prototype .header,
#prototype .option {
  width: 748px;
}
#prototype #canvas,
#prototype #console,
#prototype #actions {
  width: 748px;
}
#prototype .option_scroll {
  width: 34px;
}
#prototype .option_prototype-4 {
  width: 748px;
}
#prototype .option_dr-light,
#prototype .option_dr-wily {

}
#prototype .option_field,
#prototype .option_guts-field,
#prototype .option_ice-field,
#prototype .option_elec-field {
  width: 370px;
}
#prototype .option_1x1 {
  width: 181px;
}
#prototype .option_1x2 {
  width: 369px;
}
#prototype .option_1x3 {
  width: 557px;
}


/*
 * MOBILE OVERRIDE STYLES
 */

/* -- Landscape Mode -- */
@media (min-width: 1024px){

  #prototype {
    height: 748px;
    width: 1024px;  
  }
  body.mobileFlag_landscapeMode_notFullscreen #prototype {
    height: 685px;
  }
  #prototype .banner {
    width: 1004px;
  }
  #prototype .header,
  #prototype .option {
    width: 1004px;
  }
  #prototype #canvas,
  #prototype #console,
  #prototype #actions {
    width: 1004px;
  }
  #prototype .option_scroll {
    width: 34px;
  }
  #prototype .option_prototype-4 {
    width: 1004px;
  }
  #prototype .option_field,
  #prototype .option_guts-field,
  #prototype .option_ice-field,
  #prototype .option_elec-field {
    width: 498px;
  }
  #prototype .option_1x1 {
    width: 245px;
  }
  #prototype .option_1x2 {
    width: 497px;
  }
  #prototype .option_1x3 {
    width: 741px;
  }

  

}