
html, body {
    background-color: rgb(38, 38, 38);
    text-align: center;
}
#world,
#world #canvas {
    display: block;
    width: 768px;
    height: 622px;
    margin: 0 auto;
}

#world #canvas {
    transition: opacity 1s linear;
    opacity: 1.0;
}
#world.fastfade #canvas {
    transition: opacity 0.3s linear;
}
#world:not(.ready) #canvas {
    pointer-events: none;
    cursor: default;
    opacity: 0.1;
}

#world #canvas #map {
    display: block;
    /* position: absolute;  */
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: auto;
    left: auto;
    z-index: 10;
    transform: translate(0, 0);
    transform-origin: center;
    transition: none;
    will-change: transform;
}


#world #canvas #map .layer {
    display: block;
    position: absolute;
    overflow: visible;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(0, 0);
}
#world #canvas #map .layer[data-layer="background"] { z-index: 1; }
#world #canvas #map .layer[data-layer="terrain"] { z-index: 10; }
#world #canvas #map .layer[data-layer="portals"] { z-index: 20; }
#world #canvas #map .layer[data-layer="buttons"] { z-index: 22; }
#world #canvas #map .layer[data-layer="switches"] { z-index: 24; }
#world #canvas #map .layer[data-layer="battles"] { z-index: 30; }
#world #canvas #map .layer[data-layer="team"] { z-index: 40; }

/* define some special-effect styles for the terrain layer specifically */
#world #canvas #map .layer[data-layer="terrain"] canvas {
    /* filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.3));  */
    /* filter: drop-shadow(0px 10px 0 rgba(0, 0, 0, 0.25)); */
    /* filter: drop-shadow(0 4px 0 rgba(0, 0, 0, 0.2));  */
    filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 1;
}
#world #canvas #map .layer[data-layer="terrain"]:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background-color: transparent;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(200, 200, 200, 0.3));
    mix-blend-mode: overlay;
    opacity: 0.6;
}


/* define an animation for shaking the map back and forth rapidly to simulate damage/explosion/dramtic events */
@keyframes world-map-shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, -1px); }
    20% { transform: translate(2px, -1px); }
    30% { transform: translate(-2px, 1px); }
    40% { transform: translate(2px, 1px); }
    50% { transform: translate(0, 0); }
}
#world #canvas #map.shake .layer:not([data-layer="background"]) {
    animation: world-map-shake 0.6s steps(1) infinite;
}
#world #canvas #map.shake-once .layer:not([data-layer="background"]) {
    animation: world-map-shake 0.6s steps(1) forwards;
}
#world #canvas #map,
#world #canvas #map .layer[data-layer="background"] {
    transition: none;
    transform: translate(0, 0);
    filter: brightness(1.0);
    will-change: transform;
}
#world.ready #canvas #map {
    transition: filter 0.6s ease-in, transform 1s ease-in-out;
}
#world.ready #canvas #map .layer[data-layer="background"] {
    transition: transform 1s ease-in-out;
}
#world:not(.ready) #canvas #map {
    filter: brightness(0.3);
}
#world.ready #canvas #map {
    filter: brightness(1.0);
}
#world.loading #canvas #map {
    filter: brightness(0.6);
}
#world.redirecting #canvas #map {
    filter: brightness(0.0);
}

/* define the rules for sprites that appear on the overworld map */
#mmrpg #world .sprite,
#mmrpg #world .sprite > .wrap,
#mmrpg #world .sprite > .wrap > .sprite {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    opacity: 1.0;
    filter: none;
    transform-origin: center bottom;
    transform: scale(1) translate(0, 0);
    transition: transform 0.3s, opacity 0.3s, filter 0.3s;
    will-change: transform, opacity, filter;
    image-rendering: auto;
}

#mmrpg #world .layer > .sprite {
    /* outline: 1px solid magenta; */
}

#mmrpg #world .sprite {
    position: absolute;
}
#mmrpg #world .sprite > .sprite,
#mmrpg #world .sprite > .wrap,
#mmrpg #world .sprite > .wrap > .sprite {
    position: relative;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
}
#mmrpg #world .sprite > .wrap > .sprite {
    transition: transform 0.6s, opacity 0.6s, filter 0.6s;
}

#mmrpg #world .sprite[data-size="40"] > .wrap > .sprite {
    width: 40px; height: 40px;
    background-size: auto 80px;
    left: 0; top: 0;
}
#mmrpg #world .sprite[data-size="80"] > .wrap > .sprite {
    width: 80px; height: 80px;
    background-size: auto 160px;
    left: -20px; top: -40px;
}
#mmrpg #world .sprite[data-size="160"] > .wrap > .sprite {
    width: 160px; height: 160px;
    background-size: auto 320px;
    left: -40px; top: -80px;
}

#mmrpg #world .sprite[data-size="40"][data-dir="left"] .sprite { background-position: 0 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="00"] .sprite { background-position: 0 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="01"] .sprite { background-position: -40px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="02"] .sprite { background-position: -80px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="03"] .sprite { background-position: -120px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="04"] .sprite { background-position: -160px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="05"] .sprite { background-position: -200px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="06"] .sprite { background-position: -240px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="07"] .sprite { background-position: -280px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="08"] .sprite { background-position: -320px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="09"] .sprite { background-position: -360px 0; }
#mmrpg #world .sprite[data-size="40"][data-dir="left"][data-frame="10"] .sprite { background-position: -400px 0; }

#mmrpg #world .sprite[data-size="40"][data-dir="right"] .sprite { background-position: 0 -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="00"] .sprite { background-position: 0 -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="01"] .sprite { background-position: -40px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="02"] .sprite { background-position: -80px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="03"] .sprite { background-position: -120px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="04"] .sprite { background-position: -160px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="05"] .sprite { background-position: -200px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="06"] .sprite { background-position: -240px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="07"] .sprite { background-position: -280px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="08"] .sprite { background-position: -320px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="09"] .sprite { background-position: -360px -40px; }
#mmrpg #world .sprite[data-size="40"][data-dir="right"][data-frame="10"] .sprite { background-position: -400px -40px; }

#mmrpg #world .sprite[data-size="80"][data-dir="left"] .sprite { background-position: 0 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="00"] .sprite { background-position: 0 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="01"] .sprite { background-position: -80px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="02"] .sprite { background-position: -160px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="03"] .sprite { background-position: -240px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="04"] .sprite { background-position: -320px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="05"] .sprite { background-position: -400px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="06"] .sprite { background-position: -480px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="07"] .sprite { background-position: -560px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="08"] .sprite { background-position: -640px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="09"] .sprite { background-position: -720px 0; }
#mmrpg #world .sprite[data-size="80"][data-dir="left"][data-frame="10"] .sprite { background-position: -800px 0; }

#mmrpg #world .sprite[data-size="80"][data-dir="right"] .sprite { background-position: 0 -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="00"] .sprite { background-position: 0 -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="01"] .sprite { background-position: -80px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="02"] .sprite { background-position: -160px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="03"] .sprite { background-position: -240px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="04"] .sprite { background-position: -320px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="05"] .sprite { background-position: -400px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="06"] .sprite { background-position: -480px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="07"] .sprite { background-position: -560px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="08"] .sprite { background-position: -640px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="09"] .sprite { background-position: -720px -80px; }
#mmrpg #world .sprite[data-size="80"][data-dir="right"][data-frame="10"] .sprite { background-position: -800px -80px; }

#mmrpg #world .sprite[data-size="160"][data-dir="left"] .sprite { background-position: 0 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="00"] .sprite { background-position: 0 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="01"] .sprite { background-position: -160px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="02"] .sprite { background-position: -320px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="03"] .sprite { background-position: -480px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="04"] .sprite { background-position: -640px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="05"] .sprite { background-position: -800px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="06"] .sprite { background-position: -960px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="07"] .sprite { background-position: -1120px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="08"] .sprite { background-position: -1280px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="09"] .sprite { background-position: -1440px 0; }
#mmrpg #world .sprite[data-size="160"][data-dir="left"][data-frame="10"] .sprite { background-position: -1600px 0; }

#mmrpg #world .sprite[data-size="160"][data-dir="right"] .sprite { background-position: 0 -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="00"] .sprite { background-position: 0 -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="01"] .sprite { background-position: -160px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="02"] .sprite { background-position: -320px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="03"] .sprite { background-position: -480px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="04"] .sprite { background-position: -640px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="05"] .sprite { background-position: -800px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="06"] .sprite { background-position: -960px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="07"] .sprite { background-position: -1120px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="08"] .sprite { background-position: -1280px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="09"] .sprite { background-position: -1440px -160px; }
#mmrpg #world .sprite[data-size="160"][data-dir="right"][data-frame="10"] .sprite { background-position: -1600px -160px; }

/* define the rules for field sprites specifically */
#world #map .layer .sprite.field {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    background-size: 100%;
    background-size: cover;
    background-position: 0 0;
    filter: none;
    transform: translate(0, 0);
}
#world #map .layer .sprite.field.background {
    filter: blur(6px);
}

/* define the rules for all the tile sprites (that aren't embeded in a canvas)  */
#world #map .layer .sprite.tile {
    background-color: transparent;
    /* background-image: url(../images/maps/overworld-experiment-v2024-tileset.png);  */
    /* background-image: url(../images/maps/overworld-experiment-v2025-tileset.png);  */
    background-image: url(../images/maps/mmrpg-overworld-2k25_object-tiles.png);
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    background-size: auto;
    width: 80px;
    height: 80px;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    cursor: pointer;
    pointer-events: auto;
}
#world #map.busy .layer .sprite.tile {
    cursor: default;
    pointer-events: none;
}

#world #map .layer > .sprite.tile.button,
#world #map .layer > .sprite.tile.switch {
    transform-origin: bottom;
    transform: scale(1.0);
}
#world #map .layer .sprite.tile.button > .sprite,
#world #map .layer .sprite.tile.switch > .sprite {
    transform-origin: bottom;
    transform: scale(2.0) translateY(25%);
    transition-duration: 1.5s;
    transition-timing-function: swing;
    filter: drop-shadow(1px -2px 2px rgba(0, 0, 0, 0.1));
    image-rendering: pixelated;
}
#world #map .layer .sprite.tile.button > .sprite.up {
    filter: drop-shadow(1px -2px 2px rgba(0, 0, 0, 0.3));
}
#world #map .layer .sprite.tile.button > .sprite.down {
    filter: drop-shadow(1px -1px 1px rgba(0, 0, 0, 0.1)) brightness(0.7);
}

#world #map .sprite.tile.portal { background-position: -360px -40px; }
#world #map .sprite.tile.portal.locked { background-position: -440px -40px; }
#world #map .sprite.tile[data-portal="spawn"] { background-position: -40px -40px; }
#world #map .sprite.tile[data-portal="exit"] { background-position: -440px -40px; }

#world #map .sprite.tile.button-up { background-position: -40px -280px; }
#world #map .sprite.tile.button-down { background-position: -40px -360px; }
#world #map .sprite.tile.button.black.up { background-position: -40px -280px; }
#world #map .sprite.tile.button.black.down { background-position: -40px -360px; }
#world #map .sprite.tile.button.red.up { background-position: -120px -280px; }
#world #map .sprite.tile.button.red.down { background-position: -120px -360px; }
#world #map .sprite.tile.button.blue.up { background-position: -200px -280px; }
#world #map .sprite.tile.button.blue.down { background-position: -200px -360px; }
#world #map .sprite.tile.button.yellow.up { background-position: -280px -280px; }
#world #map .sprite.tile.button.yellow.down { background-position: -280px -360px; }
#world #map .sprite.tile.button.green.up { background-position: -360px -280px; }
#world #map .sprite.tile.button.green.down { background-position: -360px -360px; }
#world #map .sprite.tile.button.purple.up { background-position: -440px -280px; }
#world #map .sprite.tile.button.purple.down { background-position: -440px -360px; }
#world #map .sprite.tile.button.orange.up { background-position: -520px -280px; }
#world #map .sprite.tile.button.orange.down { background-position: -520px -360px; }

#world #map .sprite.tile.col-1 { left: 0; }
#world #map .sprite.tile.col-2 { left: 0; }
#world #map .sprite.tile.col-3 { left: 0; }
#world #map .sprite.tile.col-4 { left: 0; }
#world #map .sprite.tile.col-5 { left: 0; }
#world #map .sprite.tile.col-6 { left: 0; }
#world #map .sprite.tile.col-7 { left: 0; }
#world #map .sprite.tile.col-8 { left: 0; }
#world #map .sprite.tile.col-9 { left: 0; }
#world #map .sprite.tile.col-10 { left: 0; }
#world #map .sprite.tile.col-11 { left: 0; }
#world #map .sprite.tile.col-12 { left: 0; }
#world #map .sprite.tile.col-13 { left: 0; }
#world #map .sprite.tile.col-14 { left: 0; }
#world #map .sprite.tile.col-15 { left: 0; }
#world #map .sprite.tile.col-16 { left: 0; }
#world #map .sprite.tile.col-17 { left: 0; }
#world #map .sprite.tile.col-18 { left: 0; }

#world #map .layer.tiles .sprite {
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

/* define the base rules for the event sprites */
#world #map .layer.events .sprite {
    width: 80px;
    height: 80px;
}

/* define some animations for the portals appearing on the map */
@keyframes world-sprite-spawn-pulse { 0%, 100% { filter: brightness(1); } 50% { filter: brightness(1.5); } }
@keyframes world-sprite-exit-pulse { 0%, 100% { filter: brightness(1); } 50% { filter: brightness(3.0); } }
@keyframes world-sprite-portal-pulse { 0%, 100% { filter: brightness(1); } 50% { filter: brightness(2.0); } }
@keyframes world-sprite-button-glow { 0%, 100% { filter: brightness(1); transform: scaleY(1.0); } 50% { filter: brightness(1.5); transform: scaleY(0.95);  } }
#world #map .layer.events .sprite.spawn.pulse { animation: world-sprite-spawn-pulse 2s ease-in infinite; }
#world #map .layer.events .sprite.exit.pulse { animation: world-sprite-exit-pulse 4s ease-in infinite; }
#world #map .layer.events .sprite.portal.pulse { animation: world-sprite-portal-pulse 3s ease-in infinite; }
#world #map .layer.events .sprite.button.glow { animation: world-sprite-button-glow 1.5s ease-in infinite; }

/* define the base rules for any object sprites */
#world #map .layer.objects .sprite {
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 40px;
    height: 40px;
    overflow: visible;
    pointer-events: none;
}
#world #map .layer.objects .sprite:not(.tile) {
    background-image: none;
    transform: translate(0, 0);
    filter: none;
}
#world #map .layer.objects .sprite:not(.tile) > .wrap > .sprite {
    /* filter: drop-shadow(-1px 1px 0 white); */
    filter: drop-shadow(4px -1px 0 rgba(0, 0, 0, 0.2));
}

/* define cursor-specific rules and animations for the pointer character */

@keyframes world-cursor-bounce {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(0, -1px); }
}
@keyframes world-cursor-shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, -1px); }
    20% { transform: translate(2px, -1px); }
    30% { transform: translate(-2px, 1px); }
    40% { transform: translate(2px, 1px); }
    50% { transform: translate(0, 0); }
}
#world #map .layer.objects .sprite.cursor {

}
#world #map .layer.objects .sprite.cursor > .wrap {
    transform: translate(0, 0) scale(1.0);
    transition: transform 0.9s;
}
#world #map .layer.objects .sprite.cursor > .wrap > .sprite {

}

/* add a 'bounce' effect to the cursor so it's like the humans */
#world #map .layer.objects .sprite.cursor.bounce {
    animation: world-cursor-bounce 1s steps(1) infinite;
}

/* add a 'shake' effect to the shake cursor to show its scared */
#world #map .layer.objects .sprite.cursor.shake {
    /* animation: none; */
    animation-play-state: paused;
    image-rendering: pixelated;
    z-index: 5;
}
#world #map .layer.objects .sprite.cursor.shake > .wrap {
    /* transform: translate(-6px, 14px) scale(0.8);  */
    transform: translate(14px, -14px) scale(0.8);
}
#world #map .layer.objects .sprite.cursor.shake > .wrap > .sprite {
    /* transform: rotate(0deg); */
    filter: drop-shadow(-1px -1px 0 white);
    animation: world-cursor-shake 0.9s steps(1) infinite;
}


/* define z-index rules for the different types of sprites */
/* BUT hopefully we can remove these and just rely on y-position instead later */

#world #map .layer.objects .sprite.cursor { z-index: 900; }
#world #map .layer.objects .sprite.cursor .sprite { /* ... */ }
#world #map .layer.objects .sprite.cursor.busy { /* ... */ }
#world #map .layer.objects .sprite.cursor.busy .sprite { /* ... */ }

#world #map .layer.objects .sprite.team { z-index: 300; }
#world #map .layer.objects .sprite.team[data-key="0"] { z-index: 300; }
#world #map .layer.objects .sprite.team[data-key="1"] { z-index: 290; }
#world #map .layer.objects .sprite.team[data-key="2"] { z-index: 280; }
#world #map .layer.objects .sprite.team[data-key="3"] { z-index: 270; }
#world #map .layer.objects .sprite.team[data-key="4"] { z-index: 260; }
#world #map .layer.objects .sprite.team[data-key="5"] { z-index: 250; }
#world #map .layer.objects .sprite.team[data-key="6"] { z-index: 240; }
#world #map .layer.objects .sprite.team[data-key="7"] { z-index: 230; }
#world #map .layer.objects .sprite.team[data-key="8"] { z-index: 220; }
#world #map .layer.objects .sprite.team[data-key="9"] { z-index: 210; }

#world #map .layer.objects .sprite.rival { z-index: 100; }
#world #map .layer.objects .sprite.rival[data-key="0"] { z-index: 100; }
#world #map .layer.objects .sprite.rival[data-key="1"] { z-index: 90; }
#world #map .layer.objects .sprite.rival[data-key="2"] { z-index: 80; }
#world #map .layer.objects .sprite.rival[data-key="3"] { z-index: 70; }
#world #map .layer.objects .sprite.rival[data-key="4"] { z-index: 60; }
#world #map .layer.objects .sprite.rival[data-key="5"] { z-index: 50; }
#world #map .layer.objects .sprite.rival[data-key="6"] { z-index: 40; }
#world #map .layer.objects .sprite.rival[data-key="7"] { z-index: 30; }
#world #map .layer.objects .sprite.rival[data-key="8"] { z-index: 20; }
#world #map .layer.objects .sprite.rival[data-key="9"] { z-index: 10; }

#world #map .layer.objects .sprite.rival { filter: brightness(0.6); }


/* define some bounce animations for the sprites */
#world #map .layer.objects .sprite {
    --sprite-speed: 1;
    --base-transition-speed: 0.6s;
    --base-bounce-duration: 1s;
    --base-march-duration: 3s;
    --zoom-march-duration: 1s;
}
@keyframes world-sprite-bounce {
    0%, 100% { transform: translate(0, 1px); }
    50% { transform: translate(0, 0); }
}
#world #map .layer.objects .sprite.bounce {
    animation: world-sprite-bounce calc(var(--base-bounce-duration) * var(--sprite-speed)) steps(1) infinite;
}
#world #map .layer .sprite[data-dir].march > .wrap {
    transition: transform calc(var(--base-march-duration) * var(--sprite-speed)) steps(32);
}
#world #map .layer .sprite[data-dir].march.zoom > .wrap {
    transition: transform calc(var(--zoom-march-duration) * var(--sprite-speed)) steps(32);
}
#world #map .layer .sprite[data-dir="left"].march > .wrap {
    transform: translate(-16px, 0);
}
#world #map .layer .sprite[data-dir="right"].march > .wrap {
    transform: translate(16px, 0);
}

/* define the special styles for when the map itself has been zoomed in */
#world #map[data-zoom]:not([data-zoom="1"]) .layer .sprite:not(.tile) > .wrap > .sprite {
    /* image-rendering: pixelated !important; */
}

/* define the special zoom styles that are applied when something is focused */
#world #map .layer .sprite:not(.tile).zoom > .wrap > .sprite,
#world #map .layer .sprite:not(.tile).always-zoom > .wrap > .sprite {
    image-rendering: pixelated;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.6));
    transform: scale(2);
}
#world #map .layer.has-zoom .sprite:not(.tile):not(.zoom) > .wrap > .sprite {
    filter: brightness(0.6) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.6));
}

/* define the rules for the click-overlay that captures clicks for event binding */
#world #canvas #click-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;
    overflow: visible;
    pointer-events: all;
    opacity: 1.0;
    transition: opacity 0.3s;
    background-color: transparent;
    /* outline: 1px dotted magenta; */
    /* background-color: lime; */
    /* background-color: rgb(0 255 0 / 52%); */
    backface-visibility: hidden;
}
#world #canvas #click-overlay:not(.active) {
    /* display: none; */
    pointer-events: none;
    opacity: 0.0;
}
#world #canvas #click-overlay > .wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* define the rules for the action dropdown which is really the line-of-sight right now... */
#world #canvas #action-dropdown {
    display: block;
    position: absolute;
    z-index: 49;
    top: -9999px;
    left: -9999px;
    width: 80px;
    height: 80px;
    overflow: visible;
    pointer-events: none;
    opacity: 1.0;
    transition: opacity 0.3s;
    /* background-color: rgba(255, 0, 255, 0.6); */
    /* outline: 1px dotted magenta; */
}
#world #canvas #action-dropdown:not(.active) {
    opacity: 0.0;
}
#world #canvas #action-dropdown > .wrapper {
    display: block;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    transform: translate(0, 0);
    pointer-events: none;
    width: 150px;
    height: auto;
    min-height: 20px;
    color: #cfcfcf;
    font-family: monospace;
    text-align: left;
    font-size: 12px;
    line-height: 1.3;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: rgba(0, 0, 0, 0.7);  */
    /* background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.8) 90%, rgba(0, 0, 0, 0.4));  */
    border: 3px transparent;
    /* border-bottom: 20px solid rgba(0, 0, 0, 0.5); */
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
}
#world #canvas #action-dropdown.active > .wrapper {
    pointer-events: all;
}
#world #canvas #action-dropdown .label,
#world #canvas #action-dropdown .button {
    display: block;
    position: relative;
    box-sizing: border-box;
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: monospace;
    text-align: center;
    color: #cfcfcf;
    font-size: 12px;
    line-height: 1.2;
}
#world #canvas #action-dropdown .label {
    font-weight: bold;
    margin: 0 0 4px 0;
    line-height: 1.4;
}
#world #canvas #action-dropdown .button {
    margin: 0 2px 2px 0;
    padding: 3px 6px;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    transform: scale(1.0);
    cursor: pointer;
    user-select: none;
    pointer-events: all;
    transition: border 0.2s, background-color 0.2s, box-shadow 0.2s, transform 0.3s;
}
#world #canvas #action-dropdown .button:hover {
    border: 1px solid #cfcfcf;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#world #canvas #action-dropdown .button:before {
    content: "\0000bb";
    display: inline-block;
    position: relative;
    padding-right: 6px;
}
#world #canvas #action-dropdown .label:last-child,
#world #canvas #action-dropdown .button:last-child {
    margin: 0;
}
#world #canvas #action-dropdown[data-dir="left"] > .wrapper {
    right: 62px;
    transform: translate(0, -25%);
}
#world #canvas #action-dropdown[data-dir="right"] > .wrapper {
    left: 62px;
    transform: translate(0, -25%);
}
#world #canvas #action-dropdown[data-dir*="up"] > .wrapper {
    bottom: 62px;
    transform: translate(calc(-50% + 20px), 0);
}
#world #canvas #action-dropdown[data-dir*="down"] > .wrapper {
    top: 62px;
    transform: translate(calc(-50% + 20px), 0);
}

/* define the battle-specific rules for the action dropdown that look like a line-of-sight radius */
#world #canvas #action-dropdown[data-type="battle"] > .wrapper {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;
    border: 0 none transparent;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}
#world #canvas #action-dropdown[data-type="battle"] > .wrapper:before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* border: double 9px rgba(0, 0, 0, 0.3); */
    border: double 9px rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    background: inherit;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.0) 30%, rgba(0, 0, 0, 0.15));
    background-blend-mode: overlay;
}
#world #canvas #action-dropdown[data-type="battle"] > .wrapper,
#world #canvas #action-dropdown[data-type="battle"] > .wrapper:before,
#world #canvas #action-dropdown[data-type="battle"] > .wrapper * {
    pointer-events: none;
}
#world #canvas #action-dropdown[data-type="battle"] .label {
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: auto;
    width: auto;
    height: auto;
    background-color: #090909;
    border-radius: 6px;
    padding: 9px 12px;
    z-index: 100;
}
#world #canvas #action-dropdown[data-type="battle"] .sublabel {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translate(0, 0);
    z-index: 50;
    opacity: 0.0;
    transition: opacity 0.3s;
}
#world #canvas #action-dropdown[data-type="battle"] .label,
#world #canvas #action-dropdown[data-type="battle"] .sublabel {
    opacity: 0.0;
    transition: opacity 0.3s;
}
#world #canvas #action-dropdown[data-type="battle"]:hover .label,
#world #canvas #action-dropdown[data-type="battle"]:hover .sublabel,
#world #canvas #action-dropdown[data-type="battle"].hover .label,
#world #canvas #action-dropdown[data-type="battle"].hover .sublabel {
    opacity: 1.0;
}
#world #canvas #action-dropdown[data-type="battle"] .sublabel.left { right: calc(100% - 8px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.right { left: calc(100% - 8px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.center { left: 50%; transform: translateX(-50%); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.up { bottom: calc(100% - 6px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.down { top: calc(100% - 2px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.middle { top: 50%; transform: translateY(-50%); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.left.up { transform: translate(8px, 16px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.right.up { transform: translate(-8px, 16px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.left.down { transform: translate(8px, -16px); }
#world #canvas #action-dropdown[data-type="battle"] .sublabel.right.down { transform: translate(-8px, -16px); }

/* define the styles for the user-interface chrome, butons, and labels */

#world #canvas .chrome {
    position: absolute;
    z-index: 1000;
    width: auto;
    height: auto;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    text-align: left;
    font-size: 12px;
    line-height: 1.2;
    padding: 4px 16px;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(98, 98, 98, 0.3);
    pointer-events: none;
}
#world #canvas .chrome > .wrapper {
    display: block;
    position: static;
    width: auto;
    height: auto;
}
#world #canvas .chrome > .wrapper:after {
    content: "";
    display: block;
    clear: both;
}
#world #canvas .chrome-button {
    z-index: 1002;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
    padding: 0;
    border-radius: 0 0 6px 0;
    pointer-events: all;
    cursor: default;
}
#world #canvas .chrome-button > a {
    display: block;
    pointer-events: all;
    cursor: pointer;
    padding: 12px;
}
#world #canvas .chrome-button > a > * {
    pointer-events: none;
}
#world #canvas .chrome-button > a > i {
    transform: scale(1.0);
    transition: transform 0.3s;
}
#world #canvas .chrome-button:hover > a > i {
    transform: scale(1.2);
}

#world #canvas #back-button {
    top: 0;
    left: 0;
    border-radius: 0 0 6px 0;
    font-size: 20px;
}
#world #canvas #back-button > a {
    transform: scaleX(-1) translateX(3px);
}

#world #canvas #home-button {
    top: 51px;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
}

#world #canvas #reset-button {
    top: 4px;
    right: 0;
    border-radius: 6px 0 0 6px;
    transition: right 0.3s;
    font-size: 14px;
}
#world #canvas #reset-button:not(:hover) {
    right: -28px;
}

#world #canvas #player-switcher {
    display: block;
    position: absolute;
    z-index: 1003;
    width: auto;
    height: auto;
    top: 0;
    left: 47px;
    pointer-events: all;
    cursor: pointer;
    padding: 4px 9px 3px;
    border-radius: 0 0 6px 6px;
}
#world #canvas #player-switcher a.option {
    display: inline-block;
    position: relative;
    margin: 0 6px 0 0;
    padding: 3px;
    width: 40px;
    height: 30px;
    font-family: monospace;
    text-align: center;
    color: #cfcfcf;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 3px;
    outline: 1px solid transparent;
    background-color: transparent;
    background-image: none !important;
    transition: outline 0.3s, background-color 0.3s;
    cursor: pointer;
}
#world #canvas #player-switcher a.option > * {
    pointer-events: none;
}
#world #canvas #player-switcher a.option:last-child {
    margin-right: 0;
}
#world #canvas #player-switcher a.option.active,
#world #canvas #player-switcher a.option:hover {
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0.3);
}
#world #canvas #player-switcher a.option.active {
    outline: 1px solid #969696;
    cursor: default;
}
#world #canvas #player-switcher a.option:not(.active):not(:hover) {
    /* background-color: #191919 !important; */
    background-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 1px 1px 0 black;
}
#world #canvas #player-switcher a.option .sprite {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
    text-indent: 0;
}
#world #canvas #player-switcher a.option > .sprite {
    position: relative;
    width: 40px;
    height: 40px;
    top: -10px;
    z-index: 2;
}
#world #canvas #player-switcher a.option:hover > .sprite {
    top: -12px;
}
#world #canvas #player-switcher a.option > .sprite.cursor {
    top: -6px;
}
#world #canvas #player-switcher a.option:hover > .sprite.cursor {
    top: -8px;
}
#world #canvas #player-switcher a.option > .sprite > .wrap,
#world #canvas #player-switcher a.option > .sprite > .wrap > .sprite {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    /* image-rendering: pixelated;  */
}
#world[data-rendering="auto"] #canvas #player-switcher a.option > .sprite > .wrap > .sprite {
    image-rendering: auto !important;
}
#world[data-rendering="pixelated"] #canvas #player-switcher a.option > .sprite > .wrap > .sprite {
    image-rendering: pixelated !important;
}

#world #canvas #player-switcher a.option > .sprite + .sprite {
    position: absolute;
    top: auto;
    left: 10px;
    bottom: -2px;
    z-index: 1;
    transform: scale(0.7);
    filter: brightness(0.6);
}
#world #canvas #player-switcher a.option:hover > .sprite + .sprite {
    left: 9px;
    bottom: -1px;
}
#world #canvas #player-switcher a.option > .label {
    display: block;
    position: absolute;
    top: 44px;
    left: 0;
    background-color: rgb(25, 25, 25, 0.8);
    border-radius: 6px;
    padding: 6px 12px;
    color: #cfcfcf;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0.0;
    transition: opacity 0.3s;
}
#world #canvas #player-switcher a.option:hover > .label {
    opacity: 1.0;
}

#world #canvas #side-buttons {
    bottom: 26px;
    right: 0;
    text-align: right;
    border-radius: 6px 0 0 6px;
    min-height: 80px;
    max-width: 999px;
    padding: 9px 9px 12px;
    opacity: 1.0;
    transition: max-width 0.6s, padding 0.6s, opacity 0.9s;
    will-change: max-width, padding, opacity;
}
#world #canvas #side-buttons:empty {
    display: none;
}
#world #canvas #side-buttons:not(.active) {
    max-width: 2px;
    padding: 9px 0 12px 0;
    opacity: 0.0;
}
#world #canvas #side-buttons .button {
    display: block;
    float: right;
    position: relative;
    box-sizing: border-box;
    clear: both;
    margin: 0 0 0 auto;
    padding: 3px 6px;
    width: auto;
    height: auto;
    min-width: 200px;
    font-family: monospace;
    text-align: center;
    color: #cfcfcf;
    font-size: 12px;
    line-height: 1.2;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    transform: scale(1.0);
    cursor: pointer;
    user-select: none;
    pointer-events: all;
    transition: border 0.2s, background-color 0.2s, min-width 0.3s;
}
#world #canvas #side-buttons .button:not(.disabled):hover {
    border-color: #cfcfcf;
    background-color: rgba(0, 0, 0, 0.7);
}
#world #canvas #side-buttons .button + .button {
    margin-top: 6px;
}
#world #canvas #side-buttons .big-button,
#world #canvas #side-buttons .sub-button {
    background-color: #363636;
    border: 1px solid  #565656;
    font-weight: bold;
    padding: 6px 6px;
    font-size: 14px;
    text-align: center;
    z-index: 150;
}
#world #canvas #side-buttons .big-button {
    min-width: 240px;
    font-size: 18px;
    padding: 12px 24px;
}
#world #canvas #side-buttons .sub-button {
    min-width: 200px;
    font-size: 12px;
    padding: 6px 12px;
}
#world #canvas #side-buttons .big-button:not(.disabled):hover {
    min-width: 280px;
}
#world #canvas #side-buttons .sub-button:not(.disabled):hover {
    min-width: 220px;
}
#world #canvas #side-buttons .big-button.disabled,
#world #canvas #side-buttons .sub-button.disabled {
    background-color: #292929;
    border-color: #464646;
    color: #969696;
    font-weight: normal;
    cursor: not-allowed;
    text-decoration: line-through;
}

/* define an glowing outline to show this button has been focused by the user */
@keyframes world-action-button-maybe {
    0% { outline: 2px solid rgba(255, 255, 255, 1.0); }
    50% { outline: 2px solid rgba(255, 255, 255, 0.6); }
    100% { outline: 2px solid rgba(255, 255, 255, 1.0); }
}
#world #canvas #side-buttons .big-button:hover,
#world #canvas #side-buttons .sub-button:hover,
#world #canvas #side-buttons .big-button.maybe,
#world #canvas #side-buttons .sub-button.maybe {
    outline: 2px solid rgba(255, 255, 255, 1.0);
    animation: world-action-button-maybe 1.5s ease-in-out infinite;
}

/* define an animation that makes the action button grow quickly while trembling a bit */
@keyframes world-action-button-clicked {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1.0); }
}
#world #canvas #side-buttons .big-button.clicked,
#world #canvas #side-buttons .sub-button.clicked {
    outline: 2px solid rgba(255, 255, 255, 1.0);
    transform: scale(1.0);
    animation: world-action-button-clicked 0.9s ease-in-out infinite;
    animation-fill-mode: forwards;
    transform-origin: center center;
}

#world #canvas #side-buttons .button[data-action="start-battle"] {
    background-color: #0e6b0e !important;
    border-color: #129d12 !important;
}
#world #canvas #side-buttons .button[data-action="enter-portal"] {
    background-color: #0e4f6b !important;
    border-color: #12709d !important;
}
#world #canvas #side-buttons .button[data-action="dismiss"] {
    background-color: #8b1d1d !important;
    border-color: #b23333 !important;
}
#world #canvas #side-buttons .button[data-action="push-button"] {
    background-color: #1e2736 !important;
    border-color: #354d75 !important;
}
#world #canvas #side-buttons .button[data-action="push-button"].red {
    background-color: #8b1d1d !important;
    border-color: #b23333 !important;

}
#world #canvas #side-buttons .button[data-action="push-button"].blue {
    background-color: #1e2736 !important;
    border-color: #354d75 !important;
}
#world #canvas #side-buttons .button[data-action="push-button"].yellow {
    background-color: #4d3d1e !important;
    border-color: #6e5d34 !important;
}
#world #canvas #side-buttons .button[data-action="push-button"].green {
    background-color: #1e4d36 !important;
    border-color: #34755d !important;
}
#world #canvas #side-buttons .button[data-action="push-button"].purple {
    background-color: #4d3da2 !important;
    border-color: #6e5dc6 !important;
}
#world #canvas #side-buttons .button[data-action="push-button"].orange {
    background-color: #a24d1e !important;
    border-color: #c66e34 !important;
}

#world #canvas #position-display {
    bottom: 0;
    right: 0;
    z-index: 1001;
    color: #cfcfcf;
    font-family: monospace;
    text-align: right;
    font-size: 12px;
    line-height: 1.2;
    border-radius: 6px 0 0 0;
}


/* TEMP TEMP TEMP */

/* use for seeing full map in view when too big during dev */
/* #world #canvas #map {
    transform: scale(0.25) translate(0, 0) !important;
    transform-origin: left top !important;
} */

/* TEMP TEMP TEMP */

