RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) - [S=6]
RewriteRule ^(players|robots|mechas|bosses|fields|abilities|items|types|music)/index/all/?\??(.*)$ index.php?kind=$1&script=index&include_all=true&$2 [L]
RewriteRule ^(players|robots|mechas|bosses|fields|abilities|items|types|music)/index/?\??(.*)$ index.php?kind=$1&script=index&$2 [L]
RewriteRule ^(players|robots|mechas|bosses|fields|abilities|items|types|music)/all/?\??(.*)$ index.php?kind=$1&script=tokens&include_all=true&$2 [L]
RewriteRule ^(players|robots|mechas|bosses|fields|abilities|items|types|music)/([-_a-z0-9]+)/?\??(.*)$ index.php?kind=$1&script=data&token=$2&$3 [L]
RewriteRule ^(players|robots|mechas|bosses|fields|abilities|items|types|music)/?\??(.*)$ index.php?kind=$1&script=tokens&$2 [L]
RewriteRule ^(.*)/?\??(.*)$ index.php?kind=$1&script=tokens&$2 [L]